<div class="banner advert">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="item-advert left">
          <div class="thumb-adv">
            <a href="#"><img class="img-responsive" src="" alt="">
            {{ settings.banner_item_4_img | asset_url  }}
            
            </a>
          </div>
          <div class="text-adv">
            <h3 class="sub-title">Eommerce Theme</h3>
            <h2 class="title">BigC Store</h2>
            <a href="#" class="btn-link-default">brow store</a>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="item-advert right">
          <div class="thumb-adv">
            <a href="#">
            <img class="img-responsive" src="" alt="">
            {{ settings.banner_item_2_img | asset_url  }}
            </a>
          </div>
          <div class="text-adv">
            <h3 class="sub-title">up to</h3>
            <h2 class="title">30% off</h2>
            <a href="#" class="btn-link-default">shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Advert -->
