{% comment %}
  This snippet is used for featured product rows on the homeage page.

  Required variables are:
    - featured_row, row_limit_setting
    - 

  If this snippet is used multiple times on a page, make sure to
  reset or send empty variables so a previous definition isn't used.
{% endcomment %}

{%unless leading_product%}
  {%assign leading_product = false %}
{%endunless %}

{% assign header_title = collections[featured_row].title %}
{% assign more_link = collections[featured_row].url %}

{% capture row_limit %}{{ row_limit_setting}}{% endcapture %}

<div class="row">
  {% for product in collections[featured_row].products limit: row_limit %}
    
    {%if class_col == blank %}
      {% assign grid_item_width = 'col-md-3 col-sm-6 col-xs-12' %}
    {%else %}
     {% assign grid_item_width = class_col %}
    {% endif %}

    {% assign current_collection = collections[featured_row] %}
    
    {% if forloop.index == 2 and leading_product %}
       {% include 'product-grid-item-leading-details' %}

    {% else %}

      {% include 'product-grid-item' %}
    {% endif %}
      
  {% endfor %}
  

  {% if more_link and product_loadmore %}
  <div class="{{grid_item_width}}">
    <div class="loadmore-wrapper">
         {% assign header_title = header_title | downcase %}
        <a href="{{ more_link }}" class="bt-link bt-blue bt-radius">{{ 'homepage.featured_collection_rows.more_in_collection' | t: collection_title: header_title }}</a>

   </div>
  </div>
  {% endif %}

</div>
