<div class="col-md-4 col-sm-4 col-xs-12">
  <div class="logo logo-footer">
    <a href="#" class="sub-title"><span class="lnr lnr-apartment"></span> bigc.ltd.,</a>
  </div>
  <div class="download">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1184/2838/files/img-download.png" alt="img-download.png" />
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12">
        <p>Architecto beatae vitae dicta sunt explicabo. Nemo enim</p>
        <ul class="download-link list-unstyled">
          <li><a href="#"><span class="lnr lnr-download"></span> Download Profile</a></li>
          <li><a href="#"><span class="lnr lnr-download"></span> Download Catalog</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="contact-phone">
    <label class="sub-title">hot-line:</label>
    <span class="phone-number">(090) 345 9669</span>
  </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
  <div class="footer-nav">
    <h2 class="sub-title">Account</h2>
    <ul class="list-unstyled">
      <li><a href="#">My Account</a></li>
      <li><a href="#">Orders and Returns</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Search Terms</a></li>
      <li><a href="#">Advanced Search</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
  
  {% include 'newsletter' %}
  {% include 'social-sharing-ul' %}
</div>