<!-- End Footer -->
<div id="footer">
  <div class="footer footer-dark {%if settings.footer_default == 'footer_black_simple'%}{{footer-simple}} {% endif %}">
    <div class="container">
      <div class="row">
        {% if settings.footer_default == 'footer_black_simple'%}
          <div class="col-md-12 logo logo-footer">
            <a href="#" class="sub-title"><span class="lnr lnr-apartment"></span> bigc.ltd.,</a>
          </div>
        {% else %}
          {% include 'footer--row-detail'%}
        {% endif %}
      </div>

      <div class="footer-bottom">
        <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="menu-footer">

              {% include 'nav-simple' class: 'list-inline', handle: 'footer' %}
              
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="copyright">
              <p>Design by <a href="#">7uptheme.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer -->