<div class="header__category--lightbox">
  <div class="row">
 
  {% assign index = 0 %}
  
   {% if settings.header_1_featured_collections_sort == 'manual' %}
    {% for i in (1..4) %}
      {% capture featured_collection %}collection_{{ i }}{% endcapture %}

        {% unless settings[featured_collection] == blank %}
        {% assign featured = settings[featured_collection] %}
    
          {% include 'featured-collection' %}
              
      {% endunless %}

    {% endfor %}

    {% else %}
    
      {% for collection in collections limit:4 %}
        
        {% unless collection.handle == 'frontpage' %}
          {% assign featured = collection.handle %}

              {% include 'featured-collection' %}

        {% endunless %}

      {% endfor %}
  {% endif %}

  </div>
</div>
<!-- End Header Banner -->