<div class="home-box-extra">
  {% if settings.header_cart_enable %}
  <div class="home-cart-box">
    <a href="#" class="icon-extra-sub icon-home-cart">
      <span class="lnr lnr-cart"></span>
      <sup class="number-cart-total cart-count {% if cart.item_count == 0 %}hidden-count{% endif %}">{{ cart.item_count }}</sup>
    </a>

    <div class="home-extra-sub">
      <a href="#" class="close-extra-sub">Close</a>
  
      
      {% include 'mini-cart' %}
      
    </div>
  </div><!-- home-cart-box -->
  {% endif %}

  {%if settings.header_1_social_sharing%}
  <div class="home-share-box hidden-xs">
    <a href="#" class="icon-extra-sub icon-home-share">
      <span class="lnr lnr-bullhorn"></span>
    </a>
    <div class="home-extra-sub ">
      <a href="#" class="close-extra-sub">Close</a>
      {%include 'social-sharing-ul' %}
    </div>
  </div>
  {% endif %}

  {% if settings.header_search_enable %}
  <div class="home-search-box">
    <a href="#" class="icon-extra-sub icon-home-search">
      <span class="lnr lnr-magnifier"></span>
    </a>
    <div class="home-extra-sub">
      <a href="#" class="close-extra-sub">Close</a>
      <div class="home-search-form">
       {% include 'search-bar' %}
      </div>
    </div>
  </div>
  {%endif %}

</div>