{% include 'header-top-bar--welcome' %}


<div id="header">

  {% include 'header-top-bar--setting' with top_bar_header_cart_show:false %}

  <div class="header header-home clearfix header-1">
    <div class="container">
      
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="logo logo-home">

            {%include 'header-logo' %}

          </div>
          

          <div class="mainmenu main-nav-home">
            {% include 'nav' class: 'dropdownMenu', handle: settings.header_main_menu %}
            <div class="mobile-menu">
              <a href="#" class="show-menu"><span class="lnr lnr-indent-decrease"></span></a>
              <a href="#" class="hide-menu"><span class="lnr lnr-indent-increase"></span></a>
            </div>
          </div>
        </div>
        
        <div class="col-md-7 col-sm-7 col-xs-12">
        
          {% if settings.slider_home_enable %}
            {% capture slider %}slider-{{settings.home1_slide_style}}{% endcapture %}
            {% include slider  %}

          {% endif %}
          
          {% include 'header-1_banner' %}
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
          {% include 'header-1_box-extra' %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Header -->