{% include 'header-top-bar--welcome' %}
{% include 'header-top-bar--setting' %}

<div class="header header-2">
  <div class="container">
    <div class="row">
      
      <div class="col-md-2 col-sm-12 col-xs-12">
        
        {% include 'header-logo' %}

      </div>
      
      <div class="col-md-8 col-sm-11 col-xs-12">
        <div class="main-nav">

        <!-- main-menu -->
          {% include 'nav' class: 'dropdownMenu main-menu', handle: settings.header_main_menu %}
          <div class="mobile-menu">
            <a href="#" class="show-menu"><span class="lnr lnr-indent-decrease"></span></a>
            <a href="#" class="hide-menu"><span class="lnr lnr-indent-increase"></span></a>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-1 col-xs-12">
        <div class="info-header info-header2">
          <ul class="info-total">
            {% if settings.header_search_enable %}
            <li class="info-search">
              <a href="#" class="info-icon icon-search"><span class="lnr lnr-magnifier"></span></a>

              {% include 'search-bar-2' %}

            </li>
            {% endif %}

          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="header header-2">
  <div class="container">
      
      <div style="position:absolute;left: 15px;bottom: 0; top:0;">
        
        {% include 'header-logo' %}

      </div>
      
      <div class="mainmenu pull-left" style="margin-left:200px;">

      <!-- main-menu -->
        {% include 'nav' class: 'dropdownMenu ', handle: settings.header_main_menu %}
        <div class="mobile-menu">
          <a href="#" class="show-menu"><span class="lnr lnr-indent-decrease"></span></a>
          <a href="#" class="hide-menu"><span class="lnr lnr-indent-increase"></span></a>
        </div>
      </div>

      <div class="pull-right">
        <div class="info-header info-header2">
          <ul class="info-total">
            {% if settings.header_search_enable %}
            <li class="info-search">
              <a href="#" class="info-icon icon-search"><span class="lnr lnr-magnifier"></span></a>

              {% include 'search-bar-2' %}

            </li>
            {% endif %}

          </ul>
        </div>
      </div>


     

  </div>
</div>

