<div class="locator">
	<div class="container">
		<h2 class="title">Product Locator</h2>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="locator-item">
					<div class="locator-thumb">
						<a href="#" class="locator-thumb-link"><span class="lnr lnr-store"></span></a>
					</div>
					<div class="locator-info">
						<h3 class="sub-title"><a href="#">Types</a></h3>
						<p>Masagni dolores eoquie voluptate quines ciuntera. Nique squames </p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="locator-item">
					<div class="locator-thumb">
						<a href="#" class="locator-thumb-link"><span class="lnr lnr-cog"></span></a>
					</div>
					<div class="locator-info">
						<h3 class="sub-title"><a href="#">finishes</a></h3>
						<p>Nique porriqua tquises dolorem desumquia doloresamet consectet adipisci.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="locator-item">
					<div class="locator-thumb">
						<a href="#" class="locator-thumb-link"><span class="lnr lnr-paw"></span>	</a>
					</div>
					<div class="locator-info">
						<h3 class="sub-title"><a href="#">Colors</a></h3>
						<p>Colorem sumquies sita consectet adipisci. Masagni bera dolores eoquie</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>