<main class="wrapper main-content homepage5">

  {% comment %} ----- Banner  ----- {% endcomment %}
  {%if settings.home5_slide_enable %}
      {% capture slider %}slider-{{settings.home5_slide_style}}{% endcapture %}
      {% include slider  %}
  {%endif %}

  {% comment %} jv-sc-banner-3 
  jv-sc-product-tabs-grid-simple' with tab_style:'2',product_paginav:false, product_loadmore:true, product_desc_enable: true  
  jv-sc-logopartner  {% endcomment %}

  {% assign homenum = 'home5' %}
  {%assign pos_length = 5 %}

  {%include 'jv-sub-homepage' %}
  {%include 'jv-sub-homecontent'%}

</main>