
{% comment  %} -- must setting 
{% assign heading_enable =  settings.logo_partner_title_enable %}
{% assign heading_style = settings.logo_partner_title_style %}
{% assign heading_title_enable =  settings.logo_partner_title_enable %}
{% assign heading_title =  settings.logo_partner_title %}
{% assign heading_subtitle_enable =  settings.logo_partner_subtitle_enable %}
{% assign heading_subtitle =  settings.logo_partner_subtitle %}

{% endcomment %}

{%if heading_enable %}
	
	  {% case heading_style %}
    {% when 'underline_left' %}
    	{% assign class_title_box = 'box-intro left' %}
    {% when 'underline_center' %}
    	{% assign class_title_box = 'box-intro' %}
    {% when 'background_center' %}
    	{% assign class_title_box = 'box-intro-background' %}
    {% else %}
   	 	{% assign class_title_box = 'box-intro-border' %}
    {% endcase %}

<div class="container">
	<div class="{{class_title_box}}">
		{%if heading_title_enable %}
		<h2><span class="title">{{ heading_title }}</span></h2>
		{% endif %}
		{%if heading_subtitle_enable %}
			<span class="desc-title">{{ heading_subtitle }}</span>
		{% endif %}
	</div>
</div>

{% endif %}