
{% comment  %} -- must setting 
{% assign heading_enable =  settings.logo_partner_title_enable %}
{% assign heading_style = settings.logo_partner_title_style %}
{% assign heading_title =  settings.logo_partner_title %}
{% assign heading_subtitle =  settings.logo_partner_subtitle %}

{% endcomment %}

{%if heading_enable %}
	
	{% case heading_style %}
		{% when 'border' %}
			{% assign class_title_box = 'box-intro-border' %}
    {% when 'hr_left' %}
    	{% assign class_title_box = 'box-intro left' %}
    {% when 'hr_center' %}
    	{% assign class_title_box = 'box-intro' %}
    {% when 'background_center' %}
    	{% assign class_title_box = 'box-intro-background' %}
    {% else %}
   	 	{% assign class_title_box = 'text-center' %} 
  {% endcase %}

<div class="container">
	<div class="jv-heading {{class_title_box}}">
		{% if heading_title != blank %}
		<h2><span class="title">{{ heading_title }}</span></h2>
		{% endif %}
		{% if heading_subtitle != blank %}
			<span class="desc-title">{{ heading_subtitle }}</span>
		{% endif %}                                
	</div>
</div>

{% endif %}