<main class="wrapper main-content homepage7" role="main">
{% if settings.slider_home_enable %}
	
	{% capture slider %}slider-{{settings.home7_slider_style}}{% endcapture %}
	{% include slider  %}
{% endif %}

{% comment %}
'jv-sc-product-tabs-grid-simple' with tab_style:'3',product_paginav:false, product_loadmore:true, product_desc_enable: false Load more 
jv-sc-newsletter
{% endcomment %}

	{% assign homenum = 'home7' %}
  {%assign pos_length = 5 %}

  {%include 'jv-sub-homepage' %}

  {%include 'jv-sub-homecontent'%}

</main>