<main class="wrapper main-content homepage6" role="main">
{% if settings.slider_home_enable %}
	{% capture slider %}slider-{{settings.home6_slider_style}}{% endcapture %}
	{% include slider  %}
{% endif %}

  {% comment %} ----- 'jv-sc-product-tabs-grid' %} khac title ----- 
    jv-sc-product-tabs-grid khac title
    jv-sc-banner-catalog
    jv-sc-product-tabs-grid khac title
    jv-sc-blog-alt
    jv-sc-service-custom
  {% endcomment %}

  {% assign homenum = 'home6' %}
  {%assign pos_length = 5 %}

  {%include 'jv-sub-homepage' %}

  {%include 'jv-sub-homecontent'%}


</main>