<main class="wrapper main-content homepage2" role="main">
  {% if settings.slider_home_enable %}
    {% capture slider %}slider-{{settings.home2_slide_style}}{% endcapture %}
    {% include slider  %}
  {% endif %}


  {% comment %}
  jv-sc-feature-locator 
  Block Banner jv-sc-banner-4 
  Block News Product 
  Block Friends Brands 
  Block Popular blog
  jv-sc-logopartner
  {% endcomment %}
   
  {% assign homenum = 'home2' %}
  {%assign pos_length = 7 %}

  {%include 'jv-sub-homepage' %}
  
   {%include 'jv-sub-homecontent'%}

</main>     
