<main class="wrapper main-content homepage3" role="main">
  <header class="home-sticky-nav-trigger">
    <div class="home-fw-slider caption-slider dir-nav parents-height">
      
      {% if settings.slider_home_enable %}
        {% capture slider %}slider-{{settings.home3_slide_style}}{% endcapture %}
        {% include slider  %}
      {% endif %}
    </div>
  </header>

  {% comment %} 
  jv-sc-banner-1 
  jv-sc-tabs-grid-simple-slider  
  jv-sc-banner-2  
  newsletter 
  {% endcomment %}
 

  {% assign homenum = 'home3' %}
  {%assign pos_length = 5 %}

  {%include 'jv-sub-homepage' %}

  {%include 'jv-sub-homecontent'%}

</main>