]<main class="wrapper main-content homepage1">

  {% comment %} 
    jv-sc-product-slider-single
    jv-sc-product-tabs
    jv-sc-testimonials-3
    jv-sc-blog-single-slider
    jv-sc-logopartner

  {% endcomment %}

  {% assign homenum = 'home1' %}
  {%assign pos_length = 5 %}

  {%include 'jv-sub-homepage' %}

  {%include 'jv-sub-homecontent'%}

</main>     

