<main class="wrapper main-content homepage4" role="main">
  {% if settings.slider_home_enable %}
    {% capture slider %}slider-{{settings.home4_slide_style}}{% endcapture %}
    {% include slider  %}
  {% endif %}


  {% comment %} ----- jv-sc-banner-4 ----- {% endcomment %}
  {% comment %} ----- jv-sc-product-tabs-grid ----- {% endcomment %}
  {% comment %} ----- jv-sc-banner-product-adv ----- {% endcomment %}
  {% comment %} ----- jv-sc-product-slider-grid ----- {% endcomment %}
  {% comment %} ----- jv-sc-testimonials-2 ----- {% endcomment %}
  {% comment %} ----- jv-sc-blog-masonry-slider  ----- {% endcomment %}
  {% comment %} ----- jv-sc-logopartner ----- {% endcomment %}

  {% assign homenum = 'home4' %}
  {%assign pos_length = 7 %}

  {%include 'jv-sub-homepage' %}

  {% unless settings.home4_content == blank or pages[settings.home4_content].empty? or pages[settings.home4_content].content == blank %}
  {% assign page = pages[settings.home4_content] %}
  <div class="container">
    {{ page.content }}
  </div>
  <hr>
  {% endunless %}
  


</main>


