<main class="wrapper main-content homepage3">
      
  {% if settings.slider_home_enable %}
    {% capture slider %}slider-{{settings.home3_slide_style}}{% endcapture %}
    {% include slider  %}
  {% endif %}

  {% comment %} 
  jv-sc-banner-1 
  jv-sc-tabs-grid-simple-slider  
  jv-sc-banner-2  
  newsletter 
  {% endcomment %}
 

  {% assign homenum = 'home3' %}
  {%assign pos_length = 5 %}

  {%include 'jv-sub-homepage' %}

  {%include 'jv-sub-homecontent'%}

</main>