<main class="wrapper main-content " role="main">
 

  {% comment %} ----- Featured Collections Tabs ----- {% endcomment %}

  {% if settings.home1_featured_collection_tabs_enable %}

  <div class="container">
    <div class="home-bestsale-product">
      <h2 class="title title-home">best sellers</h2>

      <div class="home-bestsale-slider">
        {%include 'jv-sc-product-tabs' %}
      </div>
    </div>
  </div>
  {% endif %}       

  <div class="container">{%include 'jv-sc-product-tabs-grid' %}  </div>
  
  {%include 'jv-sc-product-slider-single' %}
  {%include 'jv-sc-product-slider-grid' %}
  {%include 'jv-sc-product-tabs-grid-simple' with tab_style:'1',product_paginav:true, product_loadmore:false, product_desc_enable: false %}
  {%include 'jv-sc-product-tabs-grid-simple' with tab_style:'2',product_paginav:false, product_loadmore:true, product_desc_enable: true %}
  {%include 'jv-sc-product-tabs-grid-simple' with tab_style:'3',product_paginav:false, product_loadmore:true, product_desc_enable: false %}

  <div class="container"> {% include 'jv-testimonials-3' %} </div>
  <div class="container"> {% include 'jv-logopartner' %} </div>

  {%include 'jv-banner-product-adv'%}
  {%include 'jv-banner-catalog'%}



    {% unless settings.home_content == blank or pages[settings.home_content].empty? or pages[settings.home_content].content == blank %}
    {% assign page = pages[settings.home_content] %}
    <div class="rte">
      {{ page.content }}
    </div>
    <hr>
    {% endunless %}


    {% comment %} ----- Spceial Offers ----- {% endcomment %}

    {% comment %} ----- Latest Products ----- {% endcomment %}
    
    {% comment %} ----- Featured Products ----- {% endcomment %}
     

    {% comment %} ----- Home Blog ----- {% endcomment %}
    {% if settings.home_blog_enable %}   
      {%include 'jv-sc-blog-grid-slider'%}
      {%include 'jv-sc-blog-single-slider'%}
      {%include 'jv-sc-blog-alt'%}
    {% endif %}     

</main>     

