]<main class="wrapper main-content homepage1" role="main">

  {% comment %} 
    jv-sc-product-slider-single
    jv-sc-product-tabs
    jv-sc-testimonials-3
    jv-sc-blog-single-slider
    jv-sc-logopartner

  {% endcomment %}

  {% assign homenum = 'home1' %}
  {%assign pos_length = 5 %}

  {%include 'jv-sub-homepage' %}

  {% unless settings.home_content == blank or pages[settings.home_content].empty? or pages[settings.home_content].content == blank %}
    {% assign page = pages[settings.home_content] %}
    <div class="rte">
      {{ page.content }}
    </div>
  <hr>
  {% endunless %}

  {%include 'jv-sc-piechart' %}

</main>     

