{% assign listProduct = "sc_product_feature_slider" %}


<div class="home-featured-product slider-directnav">
<!-- 	<div class="container">
		<h2 class="title title-home"></h2>
	</div> -->

	<div class="container">{% include 'jv-sc-heading-box' %}</div> 

	<div class="home-featured-slider">
		<div class="container">
			<div class="home-directnav">
				<div class="wrap-item">

				{% capture featured_row %}{{listProduct}}{% endcapture %}
				{% capture row_limit_setting %}{{listProduct}}_limit{% endcapture %}
				
				{% if settings[featured_row] != blank %}

					{% assign featured_row = settings[featured_row] %}
					
				
					{% unless collections[featured_row].all_products_count == 0 %}
						{% assign header_title = collections[featured_row].title %}
						{% assign more_link = collections[featured_row].url %}
						{% assign row_limit = settings[row_limit_setting] | plus: 0 %}

					 	{% for product in collections[featured_row].products limit: row_limit %}
						<div class="item">
							<div class="item-product-featured">
								<div class="row">
									{% include 'product-list-item-more-details' with class_feature_img_wrap:'col-md-4 col-sm-5 col-xs-12 col-md-offset-1 col-sm-offset-0' %}
								</div>
							</div>
						</div>
						<!-- End Item -->
							{% endfor %}
						{% endunless %}
					{% endif %}
				</div>
				<div class="control-paginav-featured-slider">
					<span id="amount"></span>
					<div id="slider-range-max"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Featured Product -->