<div class="custom-service">
	<div class="container">
		<div class="box-title">
			<h2>services custom</h2>
			<p>Continuing the legacy of excellence</p>
		</div>
		<div class="content-custom-service">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-sx-12">
					<div class="box-left">
						<div class="item-custom-service sv-green">
							<div class="item-service-text">
								<h2 class="sub-title"><a href="#">Creative Ideas</a></h2>
								<p>Colernonse qeramagni as dolores asoertayse badrem eos et accumsan et iusto odio </p>
							</div>
							<div class="item-service-thumb">
								<a href="#"><span class="lnr lnr-highlight"></span></a>
							</div>
						</div>
						<div class="item-custom-service sv-blue">
							<div class="item-service-text">
								<h2 class="sub-title"><a href="#">Customer Support</a></h2>
								<p>Colernonse qeramagni as dolores asoertayse badrem eos et accumsan et iusto odio </p>
							</div>
							<div class="item-service-thumb">
								<a href="#"><span class="lnr lnr-layers"></span></a>
							</div>
						</div>
						<div class="item-custom-service sv-yellow">
							<div class="item-service-text">
								<h2 class="sub-title"><a href="#">Guide Theme</a></h2>
								<p>Colernonse qeramagni as dolores asoertayse badrem eos et accumsan et iusto odio </p>
							</div>
							<div class="item-service-thumb">
								<a href="#"><span class="lnr lnr-book"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-sx-12">
					<div class="service-thumb">
						<img src="images/index2/bg-girl.jpg" alt="" />
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-sx-12">
					<div class="box-right">
						<div class="item-custom-service sv-orange">
							<div class="item-service-thumb">
								<a href="#"><span class="lnr lnr-cog"></span></a>
							</div>
							<div class="item-service-text">
								<h2 class="sub-title"><a href="#">Setting theme</a></h2>
								<p>Colernonse qeramagni as dolores asoertayse badrem eos et accumsan et iusto odio </p>
							</div>
						</div>
						<div class="item-custom-service sv-red">
							<div class="item-service-thumb">
								<a href="#"><span class="lnr lnr-laptop-phone"></span></a>
							</div>
							<div class="item-service-text">
								<h2 class="sub-title"><a href="#">responsive</a></h2>
								<p>Colernonse qeramagni as dolores asoertayse badrem eos et accumsan et iusto odio </p>
							</div>
						</div>
						<div class="item-custom-service sv-pink">
							<div class="item-service-thumb">
								<a href="#"><span class="lnr lnr-gift"></span></a>
							</div>
							<div class="item-service-text">
								<h2 class="sub-title"><a href="#">Membership</a></h2>
								<p>Colernonse qeramagni as dolores asoertayse badrem eos et accumsan et iusto odio </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Custom Service -->