<div class="contact-map"><img src="https://cdn.shopify.com/s/files/1/1184/2838/files/map.png" alt="" /></div>
<div class="contact-info-box">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="item-contact-box"><a href="#"><span class="lnr lnr-apartment"></span></a> <label>ADDRESS:</label></div>
			<p>The Company Name Inc. 4320 St Vincent Place, <br />Glasgow, DC 28</p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div>
				<div class="item-contact-box"><a href="#"><span class="lnr lnr-phone-handset"></span></a> <label>Phones:</label></div>
				<div class="phone-box">
					<h2>800-6688-999</h2>
					<h2>800-8866-404</h2>
				</div>
			</div>
			<div>
				<div class="item-contact-box"><a href="#"><span class="lnr lnr-phone"></span></a> <label>Fax:</label></div>
				<div class="phone-box">
					<h2>800-6969-0044</h2>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="item-contact-box"><a href="#"><span class="lnr lnr-envelope"></span></a> <label>e-mail:</label></div>
			<div class="mail-box"><a href="mailto:bigcshop@gmail.com">bigcshop@gmail.com</a></div>
		</div>
	</div>
</div>
<div class="contact-form">
	<h2>Contact From:</h2>
	<form class="comment-form">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p><input type="text" value="Your name *" onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue" /></p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p><input type="text" value="Your email *" onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue" /></p>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<p><textarea cols="30" rows="10" onfocus="if (this.value==this.defaultValue) this.value = ''" onblur="if (this.value=='') this.value = this.defaultValue">Your message *</textarea></p>
			</div>
		</div>
		<p><input type="submit" value="Submit" class="btn-submit-form" /> <input type="reset" value="Reset" class="btn-reset-form" /></p>
	</form>
</div>