<div class="product-best-sale">
	<div class="container">
		<div class="title-product-best-sale">
			<div class="row">
				<div class="col-md-9 col-sm-9 col-xs-12">
					<h2 class="title-normal">best sellers</h2>
					<div class="nav-tabs-bestsale">
						<ul role="tablist" class="nav nav-tabs">
							<li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="furniture" href="#furniture">furniture</a></li>
							<li role="presentation"><a data-toggle="tab" role="tab" aria-controls="decor" href="#decor">Decor</a></li>
							<li role="presentation"><a data-toggle="tab" role="tab" aria-controls="lighting" href="#lighting">lighting </a></li>
							<li role="presentation"><a data-toggle="tab" role="tab" aria-controls="bedbath" href="#bedbath">Bed &amp; Bath</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="filter-product">
						<a href="#" class="btn-filter style-border-left">Filter</a>
					</div>
				</div>
			</div>
			<div class="box-attr-filter">
				<div class="item-box-attr">
					<div class="item-attr-title">
						<label>Categories</label>
					</div>
					<div class="item-attr-content">
						<ul class="attr-category list-inline">
							<li><a href="#">Dresses</a></li>
							<li><a href="#">Jeans & Trousers</a></li>
							<li><a href="#">Blouses & Shirts </a></li>
							<li><a href="#">Tops & T-Shirts</a></li>
							<li><a href="#">Jackets & Coats</a></li>
							<li><a href="#">Skirts</a></li>
						</ul>
					</div>
				</div>
				<div class="item-box-attr">
					<div class="item-attr-title">
						<label>Price</label>
					</div>
					<div class="item-attr-content">
						<div id="slider-range-price"></div>
						<div class="attr-price-filter">
							<p>
								<label for="amount-price">Filter By Price: </label>
								<input type="text" id="amount-price" readonly />
							</p>
						</div>
					</div>
				</div>
				<div class="item-box-attr">
					<div class="item-attr-title">
						<label>Color</label>
					</div>
					<div class="item-attr-content">
						<ul class="attr-color list-inline">
							<li><a href="#"><span class="blue"></span></a></li>
							<li><a class="selected" href="#"><span class="blue-air"></span></a></li>
							<li><a href="#"><span class="yellow"></span></a></li>
							<li><a href="#"><span class="green"></span></a></li>
							<li><a href="#"><span class="red"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="item-box-attr">
					<div class="item-attr-title">
						<label>Size</label>
					</div>
					<div class="item-attr-content">
						<ul class="attr-size list-inline">
							<li><a href="#">S</a></li>
							<li><a href="#">M</a></li>
							<li><a href="#">L</a></li>
							<li><a href="#">XL</a></li>
							<li><a href="#">2XL</a></li>
							<li><a href="#">3XL</a></li>
						</ul>
					</div>
				</div>
				<div class="item-box-attr">
					<div class="item-attr-title">
						<label>Brand</label>
					</div>
					<div class="item-attr-content">
						<ul class="attr-brand list-inline">
							<li><a href="#">Brand 01 </a></li>
							<li><a href="#">Brand 02 </a></li>
							<li><a href="#">Brand 03 </a></li>
							<li><a href="#">Brand 04 </a></li>
							<li><a href="#">Brand 05 </a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Attribute Filter -->
		</div>
		<div class="tab-content">
			<div id="furniture" class="tab-pane active" role="tabpanel">
				<ul class="list-product row list-unstyled">
					<li class="col-md-3 col-sm-6 col-xs-12">
						<div class="item-product item-product-loadmore">
							<div class="item-product-thumb">
								<a href="#" class="product-thumb-link"><img class="img-responsive" src="images/photos/png/30.png" alt=""></a>
								<a href="#" class="product-quick-view">quick shop</a>
								<div class="product-box-promotion">
									<span class="new-item">new</span>
									<span class="sale-item">-20%</span>
								</div>
							</div>
							<div class="item-product-info">
								<div class="info-price">
									<span>$50.00</span> <del>$59.80</del>
								</div>
								<h3 class="title-product"><a href="#">Dubhen Caunoiteng kug</a></h3>
								<p class="desc">Lorem ipsum dolor sit amet conse ctetur adipisicing elit..</p>
								<div class="wrap-star-rating">
									<div style="width:60%" class="inner-star-rating"></div>
								</div>
								<div class="cart-wishlist-compare">
									<a href="#" class="product-add-cart"></a>
									<a href="#" class="product-wishlist"><span class="lnr lnr-heart"></span></a>
									<a href="#" class="product-compare"><span class="lnr lnr-sync"></span></a>
								</div>
							</div>
						</div>
					</li>

				</ul>
				<div class="paginav-best-seller">
					<ul class="list-inline">
						<li><a href="#" class="active">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
					</ul>
				</div>
			</div>
			<!-- End tab-content 1-->

		</div>
	</div>
</div>