{% assign listProduct = "home1_featured_row1" %}

<div class="home-featured-product slider-directnav">
	<div class="container">
		<h2 class="title title-home">Featured Products</h2>
	</div>
	<div class="home-featured-slider">
		<div class="container">
			<div class="home-directnav">
				<div class="wrap-item">

				{% capture featured_row %}{{listProduct}}{% endcapture %}
				{% capture row_limit_setting %}20{% endcapture %}
				{% if settings[featured_row] != blank %}
					{% assign featured_row = settings[featured_row] %}
					{% assign row_limit_setting = 20 %}
				
					{% unless collections[featured_row].all_products_count == 0 %}
						{% assign header_title = collections[featured_row].title %}
						{% assign more_link = collections[featured_row].url %}
						{% capture row_limit %}{{ row_limit_setting}}{% endcapture %}

					 	{% for product in collections[featured_row].products limit: row_limit %}
						<div class="item">
							<div class="item-product-featured">
								<div class="row">

										{% include 'product-list-item-more-details' %}
								</div>
							</div>
						</div>
							{% endfor %}
						{% endunless %}
					{% endif %}
					<!-- End Item -->
				</div>
				<div class="control-paginav-featured-slider">
					<span id="amount"></span>
					<div id="slider-range-max"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Featured Product -->