<!-- Begin MailChimp Signup Form -->
<!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> -->
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left;  width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup" class="newsletter-popup window">

<!--End mc_embed_signup-->
	<h2 class="title-popup">{{'layout.footer.newsletter_title' | t }}</h2>
	<a href="#" class="close-popup"><span class="lnr lnr-cross"></span></a>
	<div class="content-popup">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="newsletter-popup-thumb">
					<img src="https://cdn.shopify.com/s/files/1/1184/2838/files/newsletter.png" alt="newsletter.png" />
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="newsletter-popup-info">
					<h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
					<p>Enter your email address to receive all news, updates on new arrivals, special offers and other discount information.</p>
					
					<form action="//myshopify.us13.list-manage.com/subscribe/post?u=60cdef5f425906b2bdfa01f06&amp;id=00d167a4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<label for="mce-EMAIL">Subscribe to our mailing list</label>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{'layout.footer.newsletter_email_placeholder' | t }}" required>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60cdef5f425906b2bdfa01f06_00d167a4f0" tabindex="-1" value=""></div>
					    
					    <input type="submit" value="{{'layout.footer.newsletter_sign_up' | t }}" name="subscribe" id="mc-embedded-subscribe" class="button">
					    <p><input type="checkbox" id="checkform" /> <label for="checkform">Don’t show</label></p>
					    
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>



</div>