<div class="text-center {% if settings.product_style_option == 'product_style_option_nosidebar' %} shop-detail-orther-link  {% else %} shop-detail-orther-link  pt-70 pb-70  {% endif %}">
<form action="/cart" method="post" class="cart-form " novalidate>
	<a class="bt-link link-style1 link-black" href="/collections/all"> {{ 'cart.general.backtoshop' | t }}</a>
	<button type="submit" name="checkout" class="bt-link link-style6 link-black">	{{ 'cart.general.checkout' | t }}	</button>
</form>
</div>