<div class="text-center product--bottom-nav">
<form action="/cart" method="post" class="cart-form " novalidate>
	<a class="bt-link link-style1 link-black" href="/collections/all"> {{ 'cart.general.backtoshop' | t }}</a>
	<button type="submit" name="checkout" class="bt-link link-style6 link-black">	{{ 'cart.general.checkout' | t }}	</button>
</form>
</div>