<div class="product--detail-others">
	{% unless variant_tmp and variant_tmp.sku %}
	<p id="sku"{% unless variant_tmp and variant_tmp.sku %} class="hidden"{% endunless %}><span class="uppercase">{{'products.product.sku' | t}} : </span>
	<span class="color-main ">  {{variant_tmp.sku}}</span>  </p>
{% endunless %}
{% if settings.product_vendor_enable %}
	<p class="product-meta" itemprop="brand"> <span class="uppercase">{{'products.product.vendor' | t}} :</span> <span class="color-main ">{{ product.vendor }}</span></p>
{% endif %}
</div>