<div >
	<a class="action product-quick-view sca-qv-button"  href="#quickview_{{product.handle}}" handle="{{product.handle}}" >
	<span class="lnr lnr-magnifier"></span>
</a></div>

<div style="display: none;" id="quickview_{{product.handle}}" class="product_quickview">
	
	<div class="item-product-featured">
		<div class="row">
			{% include 'product-list-item-more-details' %}
			
		</div>
	</div>

</div>