{% if settings.slider_home_enable %}
<div class="header-slider default-paginav">
  <div class="wrap-item">
  {% for i in (1..4) %}
  {% capture slide %}slide_{{ i }}{% endcapture %}
  {% capture slide_img %}slide_{{ i }}.jpg{% endcapture %}
    {% if settings[slide] %}
      <div class="item">
        <div class="item-home-slider">
          <a href="#"><img src="{{ slide_img | asset_url  }}" alt="" /></a>
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endif %}