/*******************************************************************
	Header 1 - Category box
********************************************************************/
.home-extra-sub {
  @extend %jv-bg-color-primary-inverse;
  @extend %jv-transition-easeout;
  @extend %text-left;
  left: 100px;
  padding: 40px 30px;
  position: absolute;
  top: 0;
  width: 400px;
  visibility: hidden;
  opacity: 0;
  display: none;

  &.show-box {
    left: -300px;
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

.home-extra-sub .close-extra-sub {
  color: #a8a8a9;
  display: block;
  font-size: 16px;
  position: relative;
  @extend %text-right;
  @extend %text-up;
  padding-right: 36px;

  &:after {
    background: transparent url('{{ "home_x-close2.png" | asset_url }}') no-repeat scroll center center;
    content: "";
    display: block;
    height: 17px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 17px;
  }
}

.home-extra-sub {
  .wrap-cart-remove .remove-product {
    background: transparent  url('{{ "remove-cart.png" | asset_url }}') no-repeat scroll center center;
    border: none;
  }

  .cart-title a {
    color: $color_white;
    &:hover {
      color: $color_dusty-gray;
    }
  }

  a.cart-thumb {
    background: $color_white none repeat scroll 0 0;
  }
  .item-info-cart {
    border-top: 1px solid rgba($color_white, 0.1);
  }
  .total-cart {
    border-top: 1px solid rgba($color_white, 0.1);
    color: $color_white;
  }
  .link-cart a, 
  .link-cart button {
    background: $color_white;
    @extend %jv-color-primary-inverse;

    &:hover {
      @extend %jv-bg-color-primary; 
      color: $color_white;
    }
  }
}

.home-extra-sub .share-social {
  border-top: 1px solid rgba($color_white, 0.1);
  margin-top: 35px;
  a {
    color: $color_white;
    display: block;
    font-size: 13px;
    margin-top: 25px;

    i {
      color: $color_dusty-gray;
      display: inline-block;
      font-size: 30px;
      margin-right: 10px;
      vertical-align: middle;
    }
    &:hover i {
      color: $color_white;
    }
  }
}


.home-search-form {
  border-top: 1px solid rgba($color_white, 0.1);
  margin-top: 35px;
  padding-top: 20px;

  input[type="text"],
  input[type="search"]  {
    border: medium none;
    color: $color_dusty-gray;
    height: 50px;
    padding: 0 20px;
    width: 100%;
  }
  .btn-link-default {
    @extend %jv-bg-color-primary;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    margin-top: 10px;
    width: 100%;
  }
}


//home-box-extra

.home-box-extra {
  float: right;
  position: relative;
  width: 100px;

  > div > a {
    color: $color_white;
    display: block;
    height: 100px;
    opacity: 1;
    position: relative;
    visibility: visible;
    width: 100px;
    @extend %text-right;
    @extend %jv-transition-easeout;

    &:hover {
        @extend %jv-color-primary;

      >.lnr {
        @extend %jv-transform-scale-12;
      }
    }

    > .lnr {
      bottom: 0;
      display: block;
      font-size: 30px;
      height: 30px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      @extend %jv-transition-easeout;
    }
  }
  .icon-home-cart sup {
    font-size: 13px;
    position: absolute;
    right: 25px;
    top: 35px;
  }
}

//header banner

.header-banner {
  margin: 0 -15px;
  position: relative;
  
  .col-md-6.col-sm-6.col-xs-12 {
    position:static;
  }
}

.item-header-banner {
  background: $color_wild-sand none repeat scroll 0 0;
  border: 10px solid $color_white;
  margin-bottom: 50px;

  &:hover {
    .header-banner-title {
      @extend %jv-bg-color-primary-inverse;
      color: $color_white;

      &:after {
        background: $color_white;
      }
    }
    
    .header-banner-link img{
      @extend %jv-transform-scale-115;
    }
    .header-banner-title > span{
      @extend %jv-color-primary-inverse;
    }
  }

  &.box-left {
      margin-right: 10px;
  }
  &.box-right {
      margin-left: 10px;
  }
}


.header-banner-thumb {
  overflow: hidden;
  position: relative;
}

.header-banner-title {
  background: $color_white none repeat scroll 0 0;
  @extend %jv-color-primary-inverse;
  display: inline-block;
  font-size: 13px;
  left: 0;
  margin: -25px 0 0;
  overflow: hidden;
  padding: 18px 120px 18px 20px;
  position: absolute;
  @extend %text-up;
  top: 50%;
  @extend %jv-transition-easeout;

  &:after {
    @extend %jv-bg-color-primary-inverse;
    content: "";
    height: 100%;
    position: absolute;
    right: -26px;
    top: 0;
    width: 120px;
    
    @include prefix(transform, skewX(-15deg));
    @extend %jv-transition-easeout;
  }
  > span {
    color: $color_silver;
    position: absolute;
    right: 20px;
    text-transform: none;
    top: 18px;
    z-index: 99;
  }

  > a {
    @extend %jv-color-primary-inverse;
  }
}

.header-banner-link img{
  @extend %jv-transition-easeout;
}

.category-lightbox {
  background: $color_white none repeat scroll 0 0;
  box-shadow: 0 0 5px 0 rgba($color_black, 0.1);
  left: 50%;
  margin-left: -635px;
  padding: 22px 30px 30px;
  position: absolute;
  top: 50px;
  width: 1170px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  @extend %jv-transition-easeout;

  .item-product {
    margin: 0 -10px 10px;
  }
  .list-product {
    padding: 0 10px;
  }
  > h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 25px;
    @extend %text-up;
  }

  .close-category-lightbox {
    color: $color_alto;
    padding-right: 30px;
    position: absolute;
    right: 30px;
    @extend %text-up;
    top: 30px;

      &:after {
      background: transparent url('{{ "home_x-close.png" | asset_url }}') no-repeat scroll center center;
      content: "";
      height: 11px;
      position: absolute;
      right: 0;
      top: 4px;
      width: 11px;
    }
  }
  .home-directnav .owl-buttons {
    margin-right: -85px;
    position: absolute;
    right: 50%;
    top: -60px;
  }

  .item-product-thumb::after {
    display: none;
  }
  .item-product-info {
    bottom: 12px;
    left: 0;
    margin: 0;
    right: 0;
    position: absolute;
    .info-price,.desc ,.spr-badge{
      display: none;
    }
  }
  .product-extra-link .product-quick-view{
    display: none;
  }

  &.hight-light {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}

/*icon*/
.icon-extra-sub.hide-box {
  opacity: 0;
  visibility: hidden;
}
.icon-home-share {
  @extend %jv-bg-color-primary-inverse;
}
.icon-home-cart, 
.icon-home-search {
  background: $color_mine-shaft none repeat scroll 0 0;
  // background: lighten( $color_primary-inverse, 10% );
}

/*single slider product*/

.product-featured-thumb {
    background: $color_white none repeat scroll 0 0;
    border: 1px solid $color_mercury;
}
.home-featured-slider {
    background: $color_wild-sand none repeat scroll 0 0;
    padding: 80px 0 60px;
}

.bx-pager .active::after {
  background: $color_oslo-gray none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: -50%;
  position: absolute;
  top: 50%;

  width: 200%;
  z-index: 99;
  @include prefix(transform, rotate(-135deg));
}

.control-paginav-featured-slider {
  margin: 70px auto auto;
  max-width: 580px;
  position: relative;
  width: 100%;

  .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    @extend %jv-bg-color-primary-inverse;
    border: 1px solid $color_mercury;
    border-radius: 5px;
    height: 10px;
    margin: 0;
    padding: 0;
  }
  .ui-slider-range.ui-widget-header.ui-corner-all {
    background: $color_white none repeat scroll 0 0;
  }
  .ui-slider-handle.ui-state-default.ui-corner-all {
    background: $color_white none repeat scroll 0 0;
    border: 1px solid $color_mine-shaft;
    @extend %jv-border-radius-50;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    margin: 0 -18px;
    opacity: 1;
    position: relative;
    @extend %text-center;
    top: -14px;
    width: 36px;
  }
}

#slider-range-max #amount {
  @extend %jv-color-primary-inverse;
  font-size: 13px;
  line-height: 32px;
}


.product-featured-info {
  > h3 {
    font-size: 13px;
    margin: 0 0 10px;
    text-shadow: 0 0 0;
    @extend %text-up;
  }
  .desc {
    margin-top: 13px;
  }
  .bx-pager {
    margin-top: 43px;

    img {
      width: 50px;
    }
    a {
      background: $color_white none repeat scroll 0 0;
      border: 1px solid $color_mercury;
      display: inline-block;
      margin-right: 5px;
      overflow: hidden;
      position: relative;
      margin-bottom: 5px;
    }
  }
  .wrap-cart-qty {
    margin-top: 25px;
    max-width: none;
    float: none;

    label {
      font-weight: normal;
      margin-right: 0;
      margin-top: 10px;
      vertical-align: top;
    }
    .btn-link-default.add-to-cart {
      margin: 0;
      padding: 0;
      width: 130px;
    }
  }
  .info-qty {
    display: inline-block;
    margin-right: 5px;
    padding: 0;
    position: relative;
    vertical-align: top;
    background: transparent;
    border: none;
    width: 190px;
  }
  .js--add, 
  .qty-up {
    border-bottom: 1px solid $color_mercury;
    border-left: 1px solid $color_mercury;
    height: 20px;
    position: absolute;
    right: 0;
    @extend %text-center;
    top: 0;
    width: 20px;

    span {
      font-size: 6px;
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }
  .js--minus, 
  .qty-down {
    height: 20px;
    position: absolute;
    right: 0;
    width: 20px;
    bottom: 0;
    border-left: 1px solid $color_mercury;
    @extend %text-center;
    left: auto;
    top: auto;

    span {
      font-size: 6px;
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }
  .js-qty input[type="text"] {
    border: 1px solid $color_mercury;
    background-color: $color_white; 
  }
  .qty-val {
    vertical-align: top;
    width: 73px;
  }
  .js--add:before,
  .js--minus:before{
    line-height: 18px;
    font-size: 6px;
    right: 4px;
  }
}

.home-featured-slider {

  .control-paginav-featured-slider {
    .first-num {
      font-size: 30px;
      left: -35px;
      position: absolute;
      top: -18px;
    }
    .last-num {
      font-size: 30px;
      position: absolute;
      right: -55px;
      top: -18px;
    }
  }
}

.title.title-home {
    margin-bottom: 45px;
}

.home-featured-slider .owl-pagination {
  display: inline-block;
  margin-top: 70px;
  position: relative;
  display: none;

  &:before {
    background: $color_white none repeat scroll 0 0;
    border: 1px solid $color_mercury;
    border-radius: 10px;
    content: "";
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 100%;
  }
  .owl-theme .owl-controls .owl-page {
    border: 1px solid $color_mine-shaft;
    background: $color_white;
    display: inline-block;
    height: 36px;
    width: 36px;
    margin: 0 25px 0 0;
    opacity: 0;
    position: relative;
    @extend %text-center;
    @extend %jv-border-radius-50;

    &.active {
      opacity: 1;
    }
    span {
      background: transparent none repeat scroll 0 0;
      height: auto;
      line-height: 36px;
      margin: 0;
      opacity: 1;
      width: auto;
    }
  }

  .first-num {
    font-size: 30px;
    left: -25px;
    position: absolute;
    top: -4px;
  }
  .last-num {
    font-size: 30px;
    position: absolute;
    top: -4px;
    right: -45px;
  }
}

@media (max-width: 1024px){
  .category-lightbox {
    margin-left: -543px;
    width: 1000px;
  }

}

@media only screen and (min-width: 768px) and(max-width: 992px) {
  //homepage1
   .category-lightbox{
    left: 50%;
    margin-left: -410px;
    width: 758px;
  }
}

@media only screen and (max-width: 767px) {
  //header1
    .header-slider.default-paginav,
   .header-banner{
    float: left;
    width: 100%;
   }
  .home-box-extra-wrapper{
    position: absolute;
    top: 1px;
    right: 16px;
    padding: 0;
  }

  .home-box-extra{
    width: 40px;
    float: none;
  }

  .home-box-extra > div > a{
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
  }

  .home-box-extra>div>a>.lnr{
    font-size: 18px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .home-extra-sub.show-box{
    width: auto;
    right: 0;
    padding: 10px;
  }

  .home-extra-sub .close-extra-sub{
    display: inline-block;
    float: right;
  }
  .home-extra-sub .inner-cart-info h2{
    margin-bottom: 0;
  }

  .home-extra-sub.show-box {
    left: -250px;
  }

  .home-search-form {
    input[type="search"] {
      width: 140px;
      padding: 0 10px;
      float: left;
    }
    .btn-link-default {
      margin: 0;
      width: auto;
    }
  }

  .category-lightbox {
    left: 0;
    margin-left: 0;
    top: 50px;
    width: 100%;
  }

  .item-header-banner.box-left,
  .item-header-banner.box-right{
    margin: 10px 20px;
  }

  .control-paginav-featured-slider{
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .item-header-banner.box-left,
  .item-header-banner.box-right{
    margin: 0;
  }
}

@media only screen and (max-width: 360x){
  .header-banner{
    margin: 0 !important;
    
  }
}