// _bigc-menu.scss

$menu__font-size: #{'{{ settings.mega_main_size }}px'};
$menu__padding : #{'{{ settings.mega_main_padding }}px'};
$menu__main-color: #{'{{ settings.mega_main_color }}'};
$menu__font-weight :  #{'{{ settings.mega_main_weight }}'};

$menu__height: #{'{{ settings.header_height }}px'};

$menu__sub__background-color: #{'{{ settings.mega_sub_bg_color }}'};
$menu__sub__border: 1px solid #{'{{ settings.mega_sub_boder_color }}'};

// {% if settings.mega_sub_family != '0' %}
//$menu__sub__font-family: '{{ settings.mega_sub_family }}';
// {% endif %}
$menu__sub__padding: 12px #{'{{ settings.mega_sub_padding }}px'};
$menu__sub__color: #{'{{ settings.mega_sub_color }}'};
$menu__sub__font-weight:  #{'{{ settings.mega_sub_weight }}'};
$menu__sub__font-size: #{'{{ settings.mega_sub_size }}px'} ;

$menu__mega__bg__img : #{'{{settings.mega_bg_img }}' };

//MENU
.dropdownMenu {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    float: left;
    position: relative;

    > a {
      // font-family: $menu__font-family;
      font-size: $menu__font-size;
      padding: 0 $menu__padding;
      color: $menu__main-color;
      font-weight: $menu__font-weight;
      line-height: $menu__height;
      height: $menu__height;
      outline: none;
      text-decoration: none;
      // overflow: hidden;
      display: block;
      @extend %text-up;
      position: relative;

      &:before {
        display: inline-block;
        font-size: 18px;
        height: 18px;
        line-height: 18px;
        vertical-align: middle;
        color: $color_dusty-gray;
      }
    }

    [class*="active"], &:hover {
      > a {
        color: $colorPrimary;
      }
    }
    &.sub-menu {
      > a {
        position: relative;
      }
      > a:after {
        content: "\f107";
        @extend %jv-font-Awesome;
        position: absolute;
        top: 0;
        right: 8px;
      }
    }
  }
  li {
    ul {
      
      width: 240px;
      position: absolute;
      display: none;
      z-index: 99;
      margin: 0;
      background: $color_emperor;
      list-style: none;
      background-color: $menu__sub__background-color;
      border: 1px solid $menu__sub__border;
      padding: 15px;
      box-shadow: -1px 3px 5px -1px rgba($color_black, 0.1);
      @extend %jv-transition-easeout;

      li {
        & + li {
          // border-top: 1px solid $color_mercury;
        }
       
        a {
          padding: $menu__sub__padding;
          color: $menu__sub__color;
          font-weight: $menu__sub__font-weight;
          font-size: $menu__sub__font-size;
          display: block;
          @extend %text-up;
          position: relative;
          text-transform: capitalize;

          span {
            // display: block;
          }
        }

        &[class*="active"], 
        &:hover {
          > a {
            // color: $colorPrimary;
          }
        }
        &:hover > ul {
          @include translateName(slideInRight-30);
          @include translateDuration(0.3s);
        }
      }
      ul {
        margin: -50px 0 0 95%;
      }
    }
    &:hover > ul {
      display: block;
      @include translateDuration(0.3s);
      @include translateName(slideInUp-30)
    }

  }
  &.subrtl {
    ul {
      right: 0;

      ul {
        margin-right: 95%;
        margin-left: 0;
      }
      li {
        &.sub-menu {
          &  > a:after {
            content: "\e032";
            left: 10px;
            right: auto;
          }
        }
        a {
          // @extend %text-right;
        }
        &:hover > ul {
          @include translateName(slideInLeft-30);
        }
      }
    }
  }
  &.mainmenu {
    margin-left: 200px;
  }
}




//megamenu
.dropdownMenu .menu-item-has-children.mega-menu {
  position: static !important;

  .mega-menu-content {
    left: 15px;
    right: 15px;
    width: auto;

    > li {
      float: left;
      position: relative;
      z-index: 100;

      &:hover {
        z-index: 1000
      }
      > a {
        display: block;
        font-size: 14px;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 15px;
        border: none;
        background: none !important;
        font-weight: bold;
        color: $color_shark;
        @extend %text-up;

        &:after {
          border-bottom: 2px solid transparent;
          content: "";
          display: block;
          margin-top: 5px;
          position: relative;
          width: 40px;
          border-color: $color_dusty-gray;
        }
      }
      > ul {
        background: rgba($color_black, 0) none repeat scroll 0 0;
        border: medium none;
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
        width: auto;
        animation-name: none !important;
        -webkit-animation-name: none !important;
        @include prefix(box-shadow, none);
      }
      &:hover > a:after {
        border-color: $colorPrimary;
      }
    }
  }
  &.menu-2-col  .mega-menu-content > li {
    width: 50%;
  }
  &.menu-3-col  .mega-menu-content > li {
    width: 33.33%;
  }
  &.menu-4-col  .mega-menu-content > li {
    width: 25%;
  }
  &.menu-5-col  .mega-menu-content > li {
    width: 20%;
  }
}

.mega-menu.menu-item-has-children .sub-menu li>a{ 
  border: none; 
}


.dropdownMenu .mega-menu .mega-menu-content.sub-menu{
 
  background-image: url($menu__mega__bg__img);
  background-color: $color_white;
  background-position: right bottom;
  background-repeat: no-repeat; 
}

ul.dropdownMenu__ li:nth-child(3) > ul { display:block;}

//HOME 4
.main-menu.dropdownMenu > li{
  float: none;
}
.main-menu.dropdownMenu>li>a{
  height: auto;
  line-height: auto;
  padding: 0;
}



// main nav
.mobile-menu {
  border: 1px solid $color_mercury;
  display: block;
  height: 30px;
  overflow: hidden;
  padding: 2px;
  position: absolute;
  right: 0;
  top: -35px;
  width: 30px;
  display:none;
  a {
      color: $color_shark;
      display: block;
      font-size: 24px;
      line-height: 24px;
  }
}

.info-header {
    padding-top: 10px;
}

.main-menu{
  margin-top:15px;
}



.mainmenu .sub-menu{
   background: $color_white none repeat scroll 0 0;
  border: 1px solid $color_mercury;
  padding: 10px 0px 30px;
  list-style: none;
   box-shadow: -1px 3px 5px -1px rgba($color_black, 0.1);
  @extend %jv-transition-easeout;
  li{
    padding: 0 15px;
    >a{
       border-bottom: 1px solid $color_mercury;
    }
  }
}
.menu-item-has-children {

  &:after {
    color: $color_dusty-gray;
    @extend %jv-font-Linearicons;
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 15px;
  }

}

 .menu-item-has-children {
  position: relative;

  > a:after {
    background: $color_white none repeat scroll 0 0;
    color: $color_mercury;
    content: "\e873";
    font-size: 13px;
    left: 50%;
    margin-left: -5px;
    margin-top: 30px;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    line-height: 11px;
    height: 11px;
    width: 11px;
    z-index: 10;
    @extend %jv-font-Linearicons;
    @extend %jv-transition-easeout;
  }
}

.menu-item-has-children:hover > a:after {
    opacity: 1;
    visibility: visible;
    margin-top: -10px;
}



.label-sub {
  font-size: 10px;
  left: 30px;
  top: 5px;
  position: absolute;
   @extend %text-up;
}

.title-hot {
    color: $color_casablanca;
}

.title-new {
    color: $color_curious-blue;
}

.mega-menu .sub-menu .label-sub{
    display: inline-block;
    position: static;
    margin-left: 10px;
}


//HOME 1 style
//vertical style

.nav-vertical {
  max-width: 200px;
  .main-menu {
      margin-top: 50px;
  }
}

.nav-vertical > ul > li {
  display: block;
  margin: 0;

  &:before, &:after {
    display: none;
  }
  > a {
    padding: 13px 20px;

    &:before {
      background: transparent url('{{ "home_before.png" | asset_url }}') no-repeat scroll 0 0;
      content: "";
      height: 42px;
      left: 20px;
      position: absolute;
      top: 0;
      width: 11px;
      opacity: 0;
      @extend %jv-transition-easeout;
    }
    &:after {
      background: transparent url('{{ "home_after.png" | asset_url }}') no-repeat scroll 0 0;
      content: "";
      height: 42px;
      position: absolute;
      right: 20px;
      top: 0;
      width: 11px;
      opacity: 0;
      @extend %jv-transition-easeout;
    }
  }
}

.nav-vertical {
  li.menu-item-has-children > .sub-menu {
    background: $color_shark none repeat scroll 0 0;
    left: 100%;
    margin-top: -10px;
    top: 0;
    border: none;
  }
  .menu-item-has-children .sub-menu li  a {
    border-bottom: 1px solid rgba($color_white, 0.1);
    padding: 12px 0;
    color: $color_silver-chalice;
  }
  .menu-item-has-children .sub-menu a:hover {
    color: $color_white;
  }
  > ul > li.menu-item-has-children:hover > .sub-menu {
    margin-top: -10px;
  }
}

.nav-vertical .dropdownMenu > li {
  float: none;
  >a{
    line-height: inherit;
    height: auto;
  }
}

.nav-vertical .dropdownMenu .menu-item-has-children.mega-menu .mega-menu-content>li>a{
  color: $color_silver-chalice;
}

.nav-vertical .dropdownMenu .menu-item-has-children.mega-menu{
  position: relative !important;
}


.nav-vertical .dropdownMenu .mega-menu .mega-menu-content.sub-menu{
  background: $color_shark none repeat scroll 0 0;
  left: 100%;
  width: 650px;
  background-image: none;
}


// HOME 1
.nav-vertical > ul > li:hover > a{
  &:before {
    opacity:1;
    left:0;
  }
  &:after  {
    opacity:1;
    right:0;
    margin-top: 0;
    left: auto;
  }
}


.mainmenu > ul >li.menu-item-has-children:before{
   @extend %jv-font-Linearicons;
}
//HOME 3


@media (max-width: 767px) {
  //menu

  .mobile-menu {
    display: block;
  }

  .header-3 .mobile-menu{
    top: 15px;
    z-index: 99;
  }

  .nav-vertical .mobile-menu {
    right: 1px;
    top: -31px;

    a{
      color: $color_white;
    }
  }

  .main-nav .main-menu ,
  .dropdownMenu{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    box-shadow: -1px 3px 5px -1px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 15px 15px 30px;
    position: absolute;
    right: -320px;
    top: 0;
    transition: all 0.5s ease-out 0s;
    width: 290px;
    z-index: 9999;
  }
  
  .mainmenu .active,
  {
    right: 0;
  }

  .mainmenu > ul > li {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    margin-right: 0;
    float: none;
  }


  .mainmenu .dropdownMenu > li >a {
    display: block;
     padding: 15px 15px 15px 0;
     line-height: inherit;
     height: auto;
  }

  .dropdownMenu .menu-item-has-children.mega-menu{
    position: relative!important;
  }

  .dropdownMenu .menu-item-has-children.mega-menu.menu-4-col .mega-menu-content>li{
    float: none;
    width: auto;
  }

  .mainmenu > ul >li.menu-item-has-children {
    position: relative;
    
    &:before {
      color: #999;
      content: "\e874";
      font-size: 13px;
      position: absolute;
      right: 0;
      top: 16px;
     
    }
  }


  .mainmenu > ul > li.menu-item-has-childrent>a {
    padding-right: 15px;
  }


  .mainmenu .sub-menu {
    display: none;
    margin: 0!important;
    opacity: 1!important;
    position: relative!important;
    left: 0!important;
    visibility: visible!important;
    width: 100%!important;
  }

  .nav-vertical {
    max-width: none;
    
    .main-menu {
      margin-top: 20px;
    }

    > ul > li::before {
      display: block;
    }
    > ul > li > a {
      padding: 13px 0;
      &:before, 
      &:after {
        display: none;
      }
    }
  }


  

}