.mtl {
	.btn4 {
		width: 13em;
		display: inline-block;
		font-size: 16px;
		color: #333;

		& > span {
			margin-right: 10px;
			display: inline-block
		}
		.lnr {
			display: inline-block;
			fill: currentcolor;
			height: 1em;
			vertical-align: -0.05em;
			width: 1em;
		}
	}
}