/***********************************************************************
						Charts & Progress Bars						
************************************************************************/

/*Circle Chart*/
.circle1 .circles-text {
	color: $color_silver-darker;
	font-size: 60px !important;
}
.list-chart-processbar {
	padding: 40px 0;
}
.circle1 {
	float: left;

	&:last-child {
		margin-right: 0;
	}
}
.circle2 {
	@extend %jv-border-radius-50;
	float: left;
	height: 170px;
	margin-right: 80px;
	padding: 23px;
	width: 170px;

	&:last-child {
		margin-right: 0;
	}
}
.circle2 .circles-text {
	font-size: 30px !important;
	color: inherit;
}


//boostrap progressbar
.progress-item {
	span {
		font-weight: 400;
		font-size: 16px;
		color: $color_abbey;
		margin-bottom: 5px;
		display: inline-block;
	}
	.pb_label {
		font-weight: 600;
	}
	.pb_unit {
		float: right;
	}
}
.progress {
	height: 11px;
	background: $color_mercury;
	border: none;
	@include prefix(box-shadow, none);

	.progress-bar {
		@extend %jv-border-radius-4;
		@include prefix(box-shadow, none);
	}
}
.progress.sm {
	height: 5px;

	.progress-bar {
		@extend %jv-border-radius-0;
	}
}
.progress {
	.progress-bar.progress-bar-warning {
		background: $color_bright-sun;
	}
	.progress-bar.progress-bar-info {
		background: $color_curious-blue;
	}
	.progress-bar.progress-bar-black {
		background: $color_abbey;
	}
}

/*Pie Chart*/
.pieChart-target {
	float: left;
	height: 210px;
	margin-left: -8px;
	margin-right: 52px;
	max-width: 200px;

	&:last-child {
		margin-right: 0;
	}
}
.percentage:last-child {
	display: none;
}
.pieChart-blue {
	.pie0 {
		background-color: $color_curious-blue;
		fill: $color_curious-blue;
	}
	.pie1 {
		background-color: $color_jelly-bean;
		fill: $color_jelly-bean;
	}
}
.pieChart-yellow {
	.pie0 {
		background-color: $color_bright-sun;
		fill: $color_bright-sun;
	}
	.pie1 {
		background-color: $color_old-gold;
		fill: $color_old-gold;
	}
}
.pieChart-gray {
	.pie0 {
		background-color: $color_silver-chalice;
		fill: $color_silver-chalice;
	}
	.pie1 {
		background-color: $color_silver-darker;
		fill: $color_silver-darker;
	}
}
.pieChart-black {
	.pie0 {
		background-color: $color_abbey;
		fill: $color_abbey;
	}
	.pie1 {
		background-color: $color_shark;
		fill: $color_shark;
	}
}



@media only screen and (max-width: 767px) {
	.circle2{
		margin-right: 0;
	}
	.pieChart-target{
		margin-left: 0;
	}
}