
.filter-product {
  .btn-filter.style-border-left {
    margin-left: 25px;
    padding-left: 25px;
    width: 120px;
    
    &:before {
      background: $color_currious-blue-darker none repeat scroll 0 0;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;
    }
  }
}



