/***********************************************************************
								Home 7					
************************************************************************/
.title-product-best-sale .nav-tabs-border {
    margin-bottom: 0px;
}

.banner-home7 {
    margin-bottom: 50px;
}



.logo-header7 {
  display: inline-block;
  vertical-align: top;
}


.register-box {
  float: right;

  a {
    border-radius: 6px;
    color: $color_white;
    display: inline-block;
    height: 40px;
    width: 100px;
    line-height: 40px;
    vertical-align: top;
    @extend %text-center;
    @extend %jv-transition-easeout;
    @extend %text-up;

    [class*="lnr-"]{
      line-height: inherit;
    }
  }
}


.info-cart7 {
  position: fixed;
  right: 10px;
  top: 100px;
  z-index: 999;

  .info-icon.icon-cart {
    background: $color_currious-blue-darker none repeat scroll 0 0;
    color: $color_white;
    display: block;
    position: relative;
    height: 56px;
    width: 56px;
    @extend %jv-border-radius-50;
    @extend %text-center;

    span {
      font-size: 18px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 18px;
      height: 18px;
      display: block;
    }
  }
  
  .link-cart {
    a {
      border-radius: 6px;
    }
    .cart-edit {
      background: $color_currious-blue-darker none repeat scroll 0 0;

      &:hover {
        @extend %jv-bg-color-primary; 
      }
    }
    .cart-checkout {
      @extend %jv-bg-color-primary; 

      &:hover {
        background: $color_currious-blue-darker none repeat scroll 0 0;
      }
    }
  }
}


.info-cart.info-cart7 {
  .info-icon sup {
    font-size: 10px;
    position: absolute;
    right: 12px;
    top: 20px;
    left: auto;
  }
  .inner-cart-info {
    margin-right: 0;
    right: 0;
    z-index: 9999;
  }
}

.cart-title a:hover {
 @extend %jv-color-primary;
}

.register-box {
  .link-login {
    background: $color_currious-blue-darker;

    &:hover {
      background: $color_bright-sun;
    }
  }
  .link-signin {
    background: $color_bright-sun;

    &:hover {
      background: $color_currious-blue-darker;
    }
  }
}





.product-best-sale.style2 {
  .filter-product .btn-filter.style-border-left {
    margin-top: 0px;
  }
  .item-product-loadmore {
    .item-product-info {
      margin: 25px 0 0;
      padding: 0;
      @extend %text-center;
    }
    .title-product a {
      text-transform: capitalize;
    }
  }
}

.product-best-sale.style2 {
  .item-product.item-product-loadmore {
    margin: 0 0 50px;
  }
  .btn-link-default.btn-link-loadmore {
    margin-top: 0;
  }
}

//home 7
.product-best-sale.style2 .cart-wishlist-compare {
  margin-top: 17px;

  .action {
    color: $color_dusty-gray;
    background: none;
    border: none;
    line-height: 36px;
    @extend %jv-transition-easeout;

    &:hover {
      color: $color_shark;
    }
  }

  .product-compare{
    display: inline-block;
  }


  .product-add-cart {
    border: 1px solid $color_mercury-darker;
    border-radius: 4px;
    background-color: transparent;
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0 20px;
    width: auto;

    span.text{
      display: inline-block;
    }
  }
}



.item-box-attr {
  display: table;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 10px 0;
}

.item-attr-title {
  display: table-cell;
  padding: 0 25px;
  position: relative;
  width: 170px;
  font-weight: 700;
}

.item-attr-content {
  display: table;
  padding: 0 30px;
  vertical-align: top;
  color: $color_dove-gray;

  ul {
    margin: 0;
    padding: 0
  }
  a {
    color: $color_dove-gray;
    display: inline-block;

    &:hover {
      color: $color_bright-sun;
    }
  }
}

.attr-category a {
    margin-right: 30px;
}

