/*============================================================================
#Sass Mixins
==============================================================================*/
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin visuallyHidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin translateName($value) {
  animation-name: $value;  
  -webkit-animation-name: $value;
}

@mixin translateDuration($value) {
  animation-duration: $value;  
  -webkit-animation-duration: $value;
}


@mixin translate($x,$y) {
  transform: translate($x,$y);
  -webkit-transform: translate($x,$y);
}


@mixin gradient($from, $to, $fallback) {
  background: $fallback;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: -ms-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(top bottom, $from 0%,$to 100%);
}

@mixin backface($visibility: hidden) {
  @include prefix('backface-visibility', #{$visibility});
}

@mixin box-sizing($box-sizing: border-box) {
  -webkit-box-sizing: #{$box-sizing};
  -moz-box-sizing: #{$box-sizing};
  box-sizing: #{$box-sizing};
}

@function color-control($color) {
  @if (lightness( $color ) > 48) {
    @return $headerText;
  }
  @else {
    @return $color_white;
  }
}

$baseFontSize : 14px;

@function em($target, $context: $baseFontSize) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0em;
}


$paddings: 20,25,30, 35, 40, 50, 60, 70, 80;

@each $padding in $paddings {
  .pt-#{$padding} {
      padding-top: #{$padding}px;
  }
  .pb-#{$padding} {
      padding-bottom: #{$padding}px;
  }
  .mt-#{$padding} {
      margin-top: #{$padding}px;
  }
  .mb-#{$padding} {
      margin-bottom: #{$padding}px;
  }
}

$sizes : 30,40,50,60,70;
@each $s in $sizes {
  .size-#{$s} {
     font-size: #{$s}px;
  }
}

/*============================================================================
  #Breakpoint and Grid Variables
==============================================================================*/
$viewportIncrement: 1px;

$small: 480px;
$medium: 768px;
$large: 769px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$postMedium: 990px;
$preLarge: $large - $viewportIncrement;

/*============================================================================
Dependency-free breakpoint mixin
// http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
==============================================================================*/
$min: min-width;
$max: max-width;
@mixin at-query ($constraint, $viewport1, $viewport2:null) {
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

//helpers

%pseudos {
  content: ''; 
  position: absolute;
}

@mixin p-el(
  $el,
  $el-width,
  $el-height) {
  @if $el == "before" or $el == "after" {
    &:#{$el} {
      @extend %pseudos;
      width: $el-width;
      height: $el-height;
      @content;
    }
  }
  @else {
    @error '"#{$el}" is not a valid pseudo-element.';
  }
}

%jv-transition-easeout{
  @include transition(all 0.5s ease-out 0s);
}


%jv-transform-scale-0{
  @include prefix(transform, scale(0));
}
%jv-transform-scale-05{
  @include prefix(transform, scale(0.5));
}
%jv-transform-scale-085{
  @include prefix(transform, scale(0.85));
}

%jv-transform-scale-1{
  @include prefix(transform, scale(1));
}
%jv-transform-scale-115{
  @include prefix(transform, scale(1.15));
}
%jv-transform-scale-12{
  @include prefix(transform, scale(1.2));
}
%jv-transform-scale-2{
  @include prefix(transform, scale(2));
}


%jv-transform-translate0-0{
  @include prefix(transform,translate(0, 0));
}
%jv-transform-translate0-100{
  @include prefix(transform,translate(0,100%));
}

%jv-transform-translateX-50{
 @include prefix(transform, translateX(-50%));
}

%jv-transform-translateY-50{
 @include prefix(transform, translateY(-50%));
}


%jv-transform-rotate-225{
  @include prefix(transform, rotate(225deg));
}
%jv-border-radius-50{
  @include prefix(border-radius, 50%);
}
%jv-border-radius-0{
  @include prefix(border-radius, 0);
}
%jv-border-radius-4{
  @include prefix(border-radius, 4px);
}

%jv-font-Linearicons{
  font-family: Linearicons-Free;
}
%jv-font-Awesome{
  font-family: fontawesome;
  font-style: normal;
  font-weight: normal;
}

%text-up{
  text-transform: uppercase;
}
%text-center{
  text-align: center;
}
%text-left{
  text-align: left;
}
%text-right{
 text-align: right;
}

%text-ellipsis{
  @include prefix(text-overflow, ellipsis);
  overflow: hidden;
  white-space: nowrap;
}

@-webkit-keyframes slideInUp-30 {
  from { -webkit-transform: translate3d(0, 30px, 0); transform: translate3d(0, 30px, 0); opacity: 0; visibility: visible; }
  to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }
}
@keyframes slideInUp-30 {
  from { -webkit-transform: translate3d(0, 30px, 0); transform: translate3d(0, 30px, 0); opacity: 0; visibility: visible; }
  to { -webkit-transform: translate3d(0, 0, 0); opacity: 1; transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes slideInRight-30 {
  from { -webkit-transform: translate3d(30px, 0, 0); transform: translate3d(30px, 0, 0); visibility: visible; opacity: 0; }
  to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }
}
@keyframes slideInRight-30 {
  from { -webkit-transform: translate3d(30px, 0, 0); transform: translate3d(30px, 0, 0); visibility: visible; opacity: 0; }
  to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }
}
@-webkit-keyframes slideInLeft-30 {
  from { -webkit-transform: translate3d(-30px, 0, 0); transform: translate3d(-30px, 0, 0); visibility: visible; opacity: 0; }
  to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }
}
@keyframes slideInLeft-30 {
  from { -webkit-transform: translate3d(-30px, 0, 0); transform: translate3d(-30px, 0, 0); visibility: visible; opacity: 0; }
  to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1; }
}


.slideInUp-30 { -webkit-animation-name: slideInUp-30; animation-name: slideInUp-30; }
.slideInRight-30 {  -webkit-animation-name: slideInRight-30;  animation-name: slideInRight-30;}
.slideInLeft-30 {  -webkit-animation-name: slideInLeft-30;  animation-name: slideInLeft-30;}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-moz-keyframes spinoff {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spinoff {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(-360deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}
@-ms-keyframes spinoff {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(-360deg); }
}

@-webkit-keyframes loader-pulsate {
  0% { font-size: 28px; }
  25% { font-size: 30px; }
  50% { font-size: 28px; }
  75% { font-size: 26px; }
  100% { font-size: 28px; }
}
@-moz-keyframes loader-pulsate {
  0% { font-size: 28px; }
  25% { font-size: 30px; }
  50% { font-size: 28px; }
  75% { font-size: 26px; }
  100% { font-size: 28px; }
}
@-webkit-keyframes minislide-tb {
  0% { bottom: 0; }
  25% { bottom: -2px; }
  50% { bottom: 0; }
  75% { bottom: 2px; }
  100% { bottom: 0; }
}
@-moz-keyframes minislide-tb {
  0% { bottom: 0; }
  25% { bottom: -2px; }
  50% { bottom: 0; }
  75% { bottom: 2px; }
  100% { bottom: 0; }
}


/*============================================================================
#Normalize
==============================================================================*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing:border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body { 
  // color: #1b1d1f ; font-family: "Open Sans", sans-serif; font-size: 13px; line-height: inherit; 
  // margin: 0; padding: 0;
}

img { max-width: 100%; }
a { color: inherit; }
a:hover, a:focus { text-decoration: none; outline: none; }
a.color-primary{  @extend %jv-color-primary; }
.container { max-width: 1200px; width: 100%; }
input, input:focus, input:hover { outline: none; }
p { line-height: 24px; }
blockquote { border-left: 5px solid $color_shark; color: $color_dusty-gray; font-size: 16px; line-height: 30px; padding: 0 30px; }


.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}

.panel-group .panel,
.panel-group .panel-heading {
  @include prefix(border-radius, 0);
  @include prefix(box-shadow, none);
}


.owl-theme .owl-controls {
  margin: 0;
}
.owl-default .owl-theme .owl-controls .owl-buttons {
  div {
    background: transparent;
    border-radius: 0;
    color: $color_shark;
    display: block;
    font-size: inherit;
    height: 18px;
    margin: -10px 0 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 11px;
    @extend %jv-transition-easeout;
  }
  div.owl-prev {
    background: rgba(0, 0, 0, 0) url('{{ "left.png" | asset_url }}') no-repeat scroll 0 0;
    left: 0;
  }
  div.owl-next {
    right: 0;
    background: rgba(0, 0, 0, 0) url('{{ "right.png" | asset_url }}') no-repeat scroll 0 0;
  }
}

.owl-default:hover .owl-theme .owl-controls .owl-buttons div {
  opacity: 1;
}
  

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0) url('{{ "arrow-down.png" | asset_url }}') no-repeat scroll right 13px center;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 13px;
  height: 38px;
  line-height: 22px;
  max-width: 100%;
  overflow: hidden;
  padding: 0 30px 0 10px;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
select option {
  padding: 5px;
  color: #444 !important;
}
.tab-pane { display: none; }

.tab-pane.active { display: block; }
[class*="lnr-"] { @extend %jv-font-Linearicons; font-style: normal; font-variant: normal; font-weight: 400; line-height: 1; text-transform: none; }

.bread-crumb {
  border-bottom: 1px solid $color_mercury;
  margin-bottom: 30px;
  padding: 15px 0;
  text-shadow: 0 0 0;

  a {
    color: $color_dusty-gray;
  }
  .lnr.lnr-chevron-right {
    font-size: 8px;
  }
}

/* JV- Loading ball*/
.loading-ball {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;

  .ball {
    display: block;
    height: 100%;
    border: 5px solid $color_primary;
    border-radius: 100%;
    margin: 0 auto;
  }
  .ball1 {
    display: block;
    background-color: $color_white;
    opacity: .9;
    @extend %jv-border-radius-50;
    width: 30px;
    height: 30px;
    left: 10px;
    position: absolute;
    top: 10px;
    border: 5px solid $color_primary;
    border-right-color: $color_white !important;
    border-bottom-color: $color_white !important
  }
  .ball2 {
    background-color: $color_white;
    display: block;
    font-size: 10px;
    top: 3px;
    bottom: 3px;
    right: 3px;
    left: 3px;
    line-height: 44px;
    position: absolute;
    @include prefix(border-radius, 100%);
    @extend %text-center;
    @extend %text-up;
  }
}

.show-loading .loading-ball .ball {
  border-left-color: $color_white !important;
  border-top-color: $color_white !important;
  @include prefix(animation, spin .5s infinite linear);

  .ball1 {
    opacity: 1;
    @include prefix(animation, spinoff .5s infinite linear);
  }
  .ball2 {
    opacity: 0
  }
}
#overlays-loading {
  @include transition(all 0.3s ease-in-out 0s);
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483647;
  opacity: 0;
  visibility: hidden;

  .loading-ball {
    @include translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
  }
}
 
body.ajaxing  #overlays-loading {
  visibility: visible;
  opacity: 1;
}
.overlay  .errors.qty-error {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0 !important;
  border-radius: 0 !important;
  height: auto !important;
  left: 0 !important;
  line-height: normal !important;
  margin: 0 !important;
  padding: 10px !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  width: 100% !important;
}
.btn-secondary.update-cart {
  margin-bottom: 10px
}
.owl-carousel .item {
  width: auto !important;
  float: none !important;
  margin: 0 !important;
}


input[type="text"],
input[type="tel"],
input[type="email"], 
input[type="password"] {
  height: 40px;
  border: 1px solid $color_alto;
  padding: 0 10px;
}
textarea {
    border: 1px solid #dddddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    outline: none;
    padding: 13px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-family: 'Raleway', sans-serif;
}
textarea:focus {
    border-color: $color_primary;
}

/*iframe video youtube*/
.video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
}

.share-social{
  .share-count{
    background: $color_primary none repeat scroll 0 0;
    color: #fff;
    font-size: 10px;
    margin-left: -5px;
    padding: 0 3px;
    visibility: hidden;
    &.is-loaded{
      visibility: visible;
    }
  }
}