// _bigc-menu.scss

$menu__font-size: #{'{{ settings.mega_main_size }}px'};
$menu__padding : #{'{{ settings.mega_main_padding }}px'};
$menu__main-color: #{'{{ settings.mega_main_color }}'};
$menu__font-weight :  #{'{{ settings.mega_main_weight }}'};

// $menu__height: #{'{{ settings.header_height }}px'};
$menu__height: 60px;

$menu__sub__color: #{'{{ settings.mega_sub_color }}'};

$menu__sub__header-color: #{'{{ settings.mega_sub_color_header }}'};
$menu__sub__header-font-size: #{'{{ settings.mega_sub_size_header }}px'};

$menu__sub__background-color: #{'{{ settings.mega_sub_bg_color }}'};
$menu__sub__border-color: #{'{{ settings.mega_sub_boder_color }}'};
$menu__sub__border: 1px solid #{'{{ settings.mega_sub_boder_color }}'};

// {% if settings.mega_sub_family != '0' %}
//$menu__sub__font-family: '{{ settings.mega_sub_family }}';
// {% endif %}
$menu__sub__padding: 12px #{'{{ settings.mega_sub_padding }}px'};
$menu__sub__font-weight:  #{'{{ settings.mega_sub_weight }}'};
$menu__sub__font-size: #{'{{ settings.mega_sub_size }}px'} ;


$menu__mega__bg__img : #{'{{settings.mega_bg_img }}' };


.dropdownMenu {
  margin: 0;
  padding: 0;
  list-style: none;
  @extend %jv-transition-easeout;

  > li {
    float: left;
    position: relative;

    > a {
      font-size: $menu__font-size;
      padding: 0 $menu__padding;
      color: $menu__main-color;
      font-weight: $menu__font-weight;
      line-height: $menu__height;
      height: $menu__height;
      outline: none;
      text-decoration: none;
      display: block;
      position: relative;
      @extend %text-up;

      &:before {
        display: inline-block;
        font-size: 18px;
        height: 18px;
        line-height: 18px;
        vertical-align: middle;
        color: $color_dusty-gray;
      }
    }

    [class*="active"], 
    &:hover {
      > a {
       @extend %jv-color-primary;
      }
    }
    &.sub-menu > a {
      position: relative;
      &:after
      {
        content: "\f107";
        @extend %jv-font-Awesome;
        position: absolute;
        top: 0;
        right: 8px;
      }
    }
  }

  li {
    ul {
      width: 240px;
      position: absolute;
      display: none;
      z-index: 99;
      margin: 0;
      background: $color_emperor;
      list-style: none;
      background-color: $menu__sub__background-color;
      border: 1px solid $menu__sub__border;
      padding: 15px;
      box-shadow: -1px 3px 5px -1px rgba($color_black, 0.1);
      @extend %jv-transition-easeout;

      li {
       
        a {
          padding: $menu__sub__padding;
          color: $menu__sub__color;
          font-weight: $menu__sub__font-weight;
          font-size: $menu__sub__font-size;
          display: block;
          @extend %text-up;
          position: relative;
          text-transform: capitalize;
       
        }

        &:hover > ul {
          @include translateName(slideInRight-30);
          @include translateDuration(0.3s);
        }
      }
      ul {
        margin: -50px 0 0 95%;
      }
    }
    &:hover > ul {
      display: block;
      @include translateDuration(0.3s);
      @include translateName(slideInUp-30);
    }

  }
}

.mainmenu .sub-menu{
  //#fff
  background-color : $menu__sub__background-color;
  // border: 1px solid $color_mercury;
  border : $menu__sub__border;

  padding: 10px 0px;
  list-style: none;
  @include prefix(box-shadow,-1px 3px 5px -1px rgba($color_black, 0.1));
  // box-shadow: -1px 3px 5px -1px rgba($color_black, 0.1);
  @extend %jv-transition-easeout;
  li{
    padding: 0 15px;
    
    &:not(:last-child) > a{
       border-bottom: $menu__sub__border;
    }
  }
}


.menu-item-has-children {
  position: relative;

  &:after {
    color: $color_dusty-gray;
    @extend %jv-font-Linearicons;
    font-size: 12px;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

//retangle after menuitem has child
.mainmenu:not(.nav-vertical) .menu-item-has-children {
  > a:after {
    color: $color_mercury;
    content: "";
    display: block;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    border-bottom: solid 6px $color_mercury;
    position: absolute;
    bottom: -10px;
    left: 20px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    @extend %jv-transition-easeout;
  }

  &:hover > a:after {
      opacity: 1;
      visibility: visible;
      bottom: 0px;
  }
 
}


// .dropdownMenu .menu-item-has-children.mega-menu .mega-menu-content > li > a{
//   color: $menu__sub__header-color;
//   font-size:  $menu__sub__header-font-size;
// }


/* -------------------------------------------------------------------
Mega menu
--------------------------------------------------------------------*/

.dropdownMenu .menu-item-has-children.mega-menu {
  position: static !important;

  //ul
  .mega-menu-content {
    left: 15px;
    right: 15px;
    width: auto;
    
    //.menu-title
    > li {
      float: left;
      position: relative;
      z-index: 100;

      &:hover {
        z-index: 1000;
      } 
      &:hover > a:after {
        border-color: $color_primary;
      }
      
      > a {
        display: block;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 15px;
        border: none;
        background: none !important;
        font-weight: bold;
        color: $menu__sub__header-color;
        font-size:  $menu__sub__header-font-size;

        @extend %text-up;

        &:after {
          border-bottom: 2px solid transparent;
          content: "";
          display: block;
          margin-top: 5px;
          position: relative;
          width: 40px;
          border-color: $color_dusty-gray;
        }
      }

      > ul {
        background: rgba($color_black, 0) none repeat scroll 0 0;
        border: medium none;
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
        width: auto;
        animation-name: none !important;
        -webkit-animation-name: none !important;
        @include prefix(box-shadow, none);
      }
     
    }
  }
  &.menu-2-col  .mega-menu-content > li {
    width: 50%;
  }
  &.menu-3-col  .mega-menu-content > li {
    width: 33.33%;
  }
  &.menu-4-col  .mega-menu-content > li {
    width: 25%;
  }
  &.menu-5-col  .mega-menu-content > li {
    width: 20%;
  }
}

.mega-menu.menu-item-has-children .sub-menu li > a{ 
  border: none; 
}


.dropdownMenu .mega-menu .mega-menu-content.sub-menu{
  // background-color: $color_white;
  background-color: $menu__sub__background-color;
  li ul li a{
    color:  $menu__sub__color;
  }
}

  /* -------------------------------------------------------------------
  --Mega -- style 1
  --------------------------------------------------------------------*/
  .dropdownMenu .mega-menu .mega-menu-content.sub-menu.mega-style1{
    background-image: url($menu__mega__bg__img);
    background-position: right bottom;
    background-repeat: no-repeat; 
  }

/* -------------------------------------------------------------------
Home 4
--------------------------------------------------------------------*/
.main-menu.dropdownMenu > li {
  float: none;
  >a {
    height: auto;
    line-height: auto;
    padding: 0;
  }
}


/* -------------------------------------------------------------------
Label badge
--------------------------------------------------------------------*/

.label-sub {
  font-size: 10px;
  left: 30px;
  top: 5px;
  position: absolute;
  @extend %text-up;
}
.title-hot {
  color: $color_casablanca;
}
.title-new {
  color: $color_curious-blue;
}
.mega-menu .sub-menu .label-sub {
  display: inline-block;
  position: static;
  margin-left: 10px;
}

/* -------------------------------------------------------------------
NAV - vertical style//HOME 1
--------------------------------------------------------------------*/

.nav-vertical {
  max-width: 200px;
}

.nav-vertical > ul > li {
  display: block;
  margin: 0;

  &:before, &:after {
    display: none;
  }
  > a {
    padding: 13px 20px;

    &:before, 
    &:after {
      content: "";
      width: 11px;
      height: 42px;
      position: absolute;
      top: 0;
      opacity: 0;
      @extend %jv-transition-easeout;
    }

    &:before {
      left: 20px;
      background: transparent url('{{ "home_before.png" | asset_url }}') no-repeat scroll 0 0;
    }
    &:after {
      right: 20px;
      background: transparent url('{{ "home_after.png" | asset_url }}') no-repeat scroll 0 0;
    }
  }
}


.nav-vertical {
  li.menu-item-has-children > .sub-menu {
    background: $color_shark none repeat scroll 0 0;
    left: auto;
    margin-top: -10px;
    top: 0;
    border: none;
  }

  //the level1 sub-menu
  > .dropdownMenu > li.menu-item-has-children > .sub-menu{
    left: 100%;
  }

  .menu-item-has-children .sub-menu li a {
    border-bottom: 1px solid rgba($color_white, 0.1);
    padding: 12px 0;
    color: $color_silver-chalice;
  }
  .menu-item-has-children .sub-menu a:hover {
    color: $color_white;
  }
  > ul > li.menu-item-has-children:hover > .sub-menu {
    margin-top: -10px;
  }
}

.nav-vertical .dropdownMenu {
  > li {
    float: none;

    >a {
      line-height: inherit;
      height: auto;
    }
  }
  .menu-item-has-children.mega-menu {
    position: relative !important;

    .mega-menu-content > li > a {
      color: $color_silver-chalice;
    }
  }
  .mega-menu .mega-menu-content.sub-menu {
    background: $color_shark none repeat scroll 0 0;
    left: 100%;
    width: 650px;
    background-image: none;
  }
}

.nav-vertical > ul > li:hover > a{
  &:before {
    opacity:1;
    left:0;
  }
  &:after  {
    opacity:1;
    right:0;
    margin-top: 0;
    left: auto;
  }
}

/* -------------------------------------------------------------------
  Extend function
--------------------------------------------------------------------*/

.menu-dropdown > a:before,
.mainmenu > ul >li.menu-item-has-children > a:before{
   @extend %jv-font-Linearicons;
}

.menu-trigger ul:after,
.menu-item-has-children  > a + ul:after,
.mainmenu > ul >li.menu-item-has-children > a:before,
.menu-dropdown > a:before{
  @extend %jv-transition-easeout;
}


/* -------------------------------------------------------------------
  Mobile menu
--------------------------------------------------------------------*/

// main nav
.mobile-menu {
  border: 1px solid $color_mercury;
  display: block;
  overflow: hidden;
  padding: 2px;
  position: absolute;
  right: 15px;
  top: -35px;
  height: 30px;
  width: 30px;
  display:none;
  a {
      color: $color_shark;
      display: block;
      font-size: 24px;
      line-height: 24px;
      @extend %text-center;
  }
}

//mobile-menu of header 1 is bigger
.header1  .mobile-menu{
  width: 40px;
  height: 40px;
  a{
    line-height: 34px;
  }
}


@media (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
  
  .dropdownMenu{
    background: $color_white none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    margin: 0;
    padding: 15px 15px 30px;
    position: absolute;
    right: -320px;
    top: 0;
    width: 290px;
    // transition: all 0.5s ease-out 0s;

    @include prefix(box-shadow,-1px 3px 5px -1px rgba($color_black, 0.1));
    z-index: 9999;
  }

  .mainmenu > .dropdownMenu{
    top: 35px;
  }
  .mainmenu .dropdownMenu{
    padding: 0 15px;
  }

  .mainmenu .active
  {
    right: 0;
  }

  .mainmenu > ul > li{
    display: block;
    margin-right: 0;
    float: none;
    &:not(:last-child){
      border-bottom: 1px solid #e5e5e5;

    }
  }

  .mainmenu .dropdownMenu > li >a {
    display: block;
     padding: 15px 15px 15px 0;
     line-height: inherit;
     height: auto;
  }


  //*HERE2*//
  .mainmenu > ul > li.menu-item-has-children {
    position: relative;
    > a {
      padding-right: 15px;

      &:before {
        color: #999;
        content: "\e876";
        font-size: 13px;
        position: absolute;
        right: 0;
        top: 16px;
      }
    }
  }
  // .mainmenu > ul > li.menu-item-has-children > a {
  //   padding-right: 15px;
  // }

  .menu-item-has-children > a:after {
    left: 20px;
    display: none;
  }
 
  .mainmenu .sub-menu {
    display: none;
    margin: 0 !important;
    opacity: 1 !important;
    position: relative !important;
    left: 0 !important;
    visibility: visible !important;
    width: 100% !important;
    box-shadow: none;
    padding-bottom: 0;
    border: none;
    border-top: 1px solid $menu__sub__border-color;
  }


  ///////MegaMenu

  .dropdownMenu .menu-item-has-children.mega-menu {
    position: relative !important;
  }
  .dropdownMenu .mega-menu .mega-menu-content.sub-menu.mega-style1 {
    background-image: none;
  }
  
  .dropdownMenu .menu-item-has-children.mega-menu .mega-menu-content > li {
    text-transform: none;
    padding: 0;

    a {
      padding: 12px 15px;
      font-weight: normal;
      font-size: inherit;
    }
    > a {
      border-bottom: 1px solid $color_mercury;
    }
    > a:after {
      display: none;
    }
  }

  .dropdownMenu .menu-item-has-children.mega-menu.menu-4-col .mega-menu-content > li {
    float: none;
    width: auto;
  }



  //menu-dropdown --> mobile

  .menu-dropdown > a {
    position: relative;
 
    &:before {
      position: absolute;
      content: "\e876";
      top: 0;
      right: 10px;
      bottom: 0;
      font-size: 13px;
      height: 13px;
      width: 13px;
      line-height: 1;
      margin-top: auto;
      margin-bottom: auto;
      @include prefix(transform, rotate(0deg));
    }
  }

  //menu-trigger
  .mainmenu > ul >li.menu-item-has-children > a.active:before, 
  .menu-dropdown > a.menu-trigger:before {
    @include prefix(transform, rotate(90deg));
  }

  .menu-trigger + ul:after, 
  .menu-item-has-children  > a + ul:after {
    color: $color_mercury;
    content: "";
    display: block;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    border-top: solid 6px $color_mercury;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
  }
 
  ////////////////nav-vertical home 1

  .nav-vertical {
    max-width: none;

    > ul > li:before {
      display: block;
    }
    > ul > li > a {
      padding: 13px 0;

      &:before, &:after {
        display: none;
      }
    }
  }
  .nav-vertical .mobile-menu {
    right: 1px;
    top: -31px;

    a {
      color: $color_white;
    }
  }
  .nav-vertical >.dropdownMenu {
    background-color: $color_black;

    li {
      border-bottom-color: rgba($color_white, 0.3) !important;

      a {
        color: $color_silver-chalice;
      }
    }
  }
  .nav-vertical .dropdownMenu {
    .mega-menu .mega-menu-content.sub-menu li ul li a {
      color: $color_silver-chalice;
    }
    .menu-item-has-children.mega-menu .mega-menu-content > li > a {
      border-bottom-color: rgba($color_white, 0.3);
    }
  }

  .mainmenu.main-nav7 > .dropdownMenu{
    top: 55px;
  }


}