// _bigc-cart.scss

.info-total .info-cart {
  &:after {
    display: none;
  }
  &:before {
    background: $color_white none repeat scroll 0 0;
    border-color: $color_mercury;
    color: $color_mercury;
    border-style: solid;
    border-width: 0 0 1px 1px;
    height: 10px;
    width: 10px;
    left: 0;
    top: 100%;
    margin-left: 2px;
    margin-top: 40px;
    opacity: 0;
    content: "";
    position: absolute;
    visibility: hidden;
    z-index: 11;

    @include prefix(transform, rotate(135deg));
    @extend %jv-transition-easeout;
  }
  .inner-cart-info {
    margin-top: 43px;
  }
  &:hover {
    .inner-cart-info {
      margin-top: 15px;
    }
    &:before {
      opacity: 1;
      visibility: visible;
      margin-top: 10px;
    }
  }
}
.info-cart {
  &:hover .inner-cart-info {
    opacity: 1;
    visibility: visible;
    margin-top: 0;

    &:after {
      opacity: 1;
    }
  }
  &:after {
    color: $color_white;
    @extend %jv-font-Linearicons;
    left: 50%;
    margin-left: -5px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 100%;
    @extend %jv-transition-easeout;
  }
  .inner-cart-info.append {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
  .inner-cart-info {
    margin-right: -50px;
    margin-top: 30px;
    @extend %text-left;
    visibility: hidden;
    background: $color_white none repeat scroll 0 0;
    border: 1px solid $color_mercury;
    box-shadow: -1px 3px 5px -1px rgba($color_black, 0.1);
    opacity: 0;
    padding: 30px;
    position: absolute;
    right: -1px;
    top: 100%;
    width: 400px;
    z-index: 10;
    @extend %jv-transition-easeout;
  }
}
.inner-cart-info {
  h2 {
    color: #a7a8a8;
    font-size: 16px;
    margin: 0 0 20px;
    @extend %text-up;
  }
  .close-cart-info {
    background: transparent url('{{ "x-bg.png" | asset_url }}') no-repeat scroll left top;
    color: $color_dusty-gray;
    display: block;
    font-size: 16px;
    height: 30px;
    line-height: 28px;
    margin-top: 15px;
    padding-left: 43px;
    @extend %text-up;
  }
}

.inner-cart-info .cart--empty {color: $color_black;}


.info-cart .inner-cart-info {
  .js-qty {
    display: inline-block;
    margin: 0;
      .js--num span {
      display: none;
    }
  }

  input[type="number"],
  .js--num {
      border: medium none;
      display: inline-block;
      padding: 0;
      width: 20px;
      height: auto;
  }

}

.cart-thumb {
  background: $color_wild-sand none repeat scroll 0 0;
  display: table-cell;
  vertical-align: middle;
  width: 70px;

  a {
    display: block;

    &:hover img {
      @extend %jv-transform-scale-12;
    }
  }
  img {
    width: 70px;
    @extend %jv-transition-easeout;
  }
}
.info-list-cart {
  list-style: outside none none;
  margin: 30px 0 0;
  padding: 0;
}

.cart-title {
  margin: 5px 0 13px;

  a {
    color: $color_dove-gray;
    font-size: 13px;
    width: 200px;
    line-height: 20px;
    display: inline-block;
    @extend %text-ellipsis;

    &:hover {
      color: $color_dusty-gray;
    }
  }
}
.wrap-cart-title {
  display: table-cell;
  padding: 0 20px;
  vertical-align: top;
  width: 200px;
}
.cart-qty {
  color: $color_dusty-gray;

  > label {
    font-weight: 400;
    margin-right: 10px;
  }
}

.item-info-cart {
  border-top: 1px solid $color_wild-sand;
  display: table;
  padding: 20px 0;
  width: 100%;
}
.total-cart {
  border-top: 1px solid $color_wild-sand;
  color: $color_shark;
  display: table;
  font-size: 16px;
  padding-top: 25px;
  @extend %text-up;
  width: 100%;

  > label {
    display: table-cell;
    font-weight: 400;
  }
  > span {
    display: table-cell;
    @extend %text-right;
  }
}
.link-cart {
  margin-bottom: 20px;
  margin-top: 40px;

  .cart-edit {
    margin-right: 10px;
  }
  > * {
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background: $color_shark;
    color: $color_white;
    @extend %text-center;
    border: medium none;
    vertical-align: top;
    @extend %text-up;
    @extend %jv-transition-easeout;
  }
  *:hover {
    @extend %jv-bg-color-primary;
  }
}
.wrap-cart-remove {
  color: $color_dusty-gray;
  display: table-cell;
  @extend %text-right;
  vertical-align: top;

  .remove-product {
    // background: transparent  url('{{ "remove-cart2.png" | asset_url }}') no-repeat scroll center center;
    border: 1px solid $color_mercury;
    color: $color_mercury;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    
    width: 30px;
    margin-bottom: 3px;
    @extend %text-center;
    @extend %jv-border-radius-50;
    @extend %jv-transition-easeout;
  }
  .remove-product:hover {
    background-color: $color_mercury;
    color: $color_black;
  }
}

.info-total {
  @extend %text-right;
  padding: 0;
  margin: 0;

  > li {
    display: inline-block;
    list-style: outside none none;
    margin-left: 25px;
    position: relative;
    @extend %text-left;
  }
  .info-icon {
    color: $color_shark;
    font-size: 18px;
    padding-bottom: 15px;
  }
}
.info-cart .info-icon {
  position: relative;

  sup {
    font-size: 10px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -2px;
  }
}

.mini-cart .cart-price{
  color: $color_dusty-gray;
}


//HOME 4
.info-total .dropdownMenu .info-icon{
  display: inline;
    line-height: 24px; 
     height: 24px; 
    padding: 0 0 15px 0;
}
.info-total .dropdownMenu > li{
  float: none;
}

// JV
.addToCart.is-adding .icon-svg-icon-15 {
  -moz-animation: spin .5s infinite linear;
  -webkit-animation: spin .5s infinite linear;
  -ms-animation: spin .5s infinite linear
}
.addToCart.is-adding .icon-svg-icon-15::before {
  content: "7" !important;
}
.addToCartForm.process .addToCart  i:before {
  content: "\e0f8";
}


.cart-wishlist-compare {
  margin-top: 20px;

  a span {
    line-height: 38px;
  }

  > :not(:last-child){
    margin-right: 7px;
  }

  .action{
     border: 1px solid $color_mercury;
    color: $color_currious-blue-darker;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    width: 38px;
    @extend %jv-border-radius-50;
    @extend %jv-transition-easeout;
      &:hover {
      background: $color_currious-blue-darker;
      color: $color_white;
      border-color: $color_currious-blue-darker;
    }
  }

  .product-add-cart {
    background: $color_currious-blue-darker url('{{ "icon-cart.png" | asset_url }}') no-repeat scroll center center;
    height: 48px;
    width: 48px;
    // margin-right: 10px;

    &:hover {
      background: $color_bright-sun url('{{ "icon-cart.png" | asset_url }}') no-repeat scroll center center;
      border-color :$color_bright-sun;
    }
  }
  .product-wishlist,
  .product-compare {
     @extend %text-center;
  }
 
}



//jv shopify

.js--add, .ajaxifyCart--add,
.js--minus, .ajaxifyCart--minus{
  border: none;
  color: transparent;
}
.js-qty input[type="text"], 
.ajaxifyCart--qty input[type="text"]{
  border: none;
}

.js--add:before, .ajaxifyCart--add:before,
.js--minus:before, .ajaxifyCart--minus:before{
  position: absolute;
  @extend %jv-font-Linearicons;
  color: #b8b8b8;
  width: 13px;
  height: 18px;
  top: 0;
  line-height: 40px;
}
.js--add:before,
.ajaxifyCart--add:before{
    content: "\e873";
}
.js--minus:before,
.ajaxifyCart--minus:before{
    content: "\e874";
}
.js--qty-adjuster:hover, 
.ajaxifyCart--qty-adjuster:hover{
  background: none;
}
.js-qty{
  display: inline-block;
}



#mini-cart.mini_cart_hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    z-index: -1000 !important;
    display: none !important;
}


//Cart index
.shop-cart-list {
  width: 100%;
  margin-bottom: 20px;
}
.shop-cart-list .product-quantity .ajaxifyCart--qty {
  margin: 0 auto;
}


.shop-cart-list table {
  letter-spacing: 0.05em;
  font-size: 14px;
  color: #333;

  .product-img {
    @extend %text-left;
    padding-right: 5px;
  }
  .product-name {
    @extend %text-left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .product-size {
    @extend %text-center;
    width: 100px;
  }
  .product-price {
    @extend %text-center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .product-quantity {
    @extend %text-center;
    width: 100px;
  }
  .product-total {
    @extend %text-center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .product-remove {
    @extend %text-center;
    width: 30px;
  }
}

.shop-cart-list table thead th {
      border-bottom-style: solid;
      border-bottom-width: 2px;
      @extend %jv-border-color-primary;

  padding-top: 15px;
  padding-bottom: 15px;
}

.shop-cart-list table tbody {
  .cart-item {
    border-bottom: 1px solid #DDD;
  }
  .cart-item td.product-img {
    padding-top: 25px;
    padding-bottom: 25px;

    >a {
      display: inline-block;
    }
    .image {
      position: relative;

      &:after {
        background-color: rgba(51, 51, 51, 0.5);
        content: "";
        display: block;
        position: absolute;
        z-index: 512;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }
      &:after {
        opacity: 0;
      }
      &:hover:after {
        opacity: 1;
      }
      img {
        width: 100%;
      }
    }
  }
  .cart-item td.product-name>a:hover {
    color: #9c5b57;
  }
  .cart-item td.product-remove>a {
    &:before {
      content: "\e870";
      @extend %jv-font-Linearicons;
    }
    &:hover {
     @extend %jv-color-primary;
    }
  }
  .cart-item td.product-quantity input[type='number']::-webkit-inner-spin-button, 
  .cart-item td.product-quantity input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
  }
  .cart-item td.product-quantity input[type='number'] {
    width: 60px;
    padding: 0;
    @extend %text-center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 2.2;
    border: 0;
  }
}


.shop-cart-coupon {
  margin-bottom: 40px;

  h5 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  br {
    display: none;
  }
  input {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }
}


.shop-cart-total {
  span.price {
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.05em;
      text-align: right;
  }

  h3.title {
      margin-bottom: 40px;
      font-size: 24px;
      @extend %text-center;
  }
}

.shop-cart-total .sub-total {
  margin-bottom: 20px;

  &:after {
    clear: both;
  }
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  * {
    line-height: 30px;
  }
  h5 {
    display: block;
    float: left;
    margin-bottom: 0;
    width: 40%;
  }
  span.price {
    display: block;
    float: left;
    width: 60%;
    font-size: 14px;
  }
}

.shop-cart-total .shipping {
  border-bottom: 1px solid #DDD;
  padding-bottom: 18px;

  &:after {
    clear: both;
  }
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  * {
    line-height: 30px;
  }
  span.price {
    font-size: 14px;
  }
  h5 {
    margin-bottom: 0;
  }
  .content label {
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .content label input[type="radio"] {
    display: none;
  }
  .content label input[type="radio"] + span i.radio-button {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #999999;
  }
  .content label input[type="radio"]:checked + span i.radio-button {
    border: 3px solid #9c5b57;
  }
  .content label > span {
    display: block;
    position: relative;
    padding-left: 20px;

    &:after {
      clear: both;
    }
    &:before, &:after {
      content: " ";
      display: table;
    }
    i.radio-button {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin-top: auto;
      margin-bottom: auto;
    }
    span {
      display: block;
      float: left;
    }
    span.name {
      width: 60%;
    }
    span.price {
      width: 40%;
    }
  }
  .content>p {
    margin-bottom: 0;
  }
}



.shop-cart-total .total {
  :after {
    clear: both;
  }
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  * {
    line-height: 46px;
  }
}


.shop-cart-total {
  .button-wrapper {
    @extend %text-center;

    a.border-btn {
      letter-spacing: 3px;
      font-size: 11px;
    }
  }
}

form.cart-page-form .list-button [class*="btn"] {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px
}

form.cart-page-form .list-button [class*="btn"]+[class*="btn"] {
    margin-top: 10px
}

form.cart-page-form .cart-row-special label {
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 46px;
    margin: 0 0 10px
}

form.cart-page-form .cart-row-special textarea {
    display: block;
    height: 110px;
    width: 100%
}

form.cart-page-form .additional-checkout-buttons {
    margin-bottom: 0
}

form.cart-page-form .shop-cart-total .total {
    text-align: right
}

form.cart-page-form .shop-cart-total .total h4 {
    display: inline-block;
    margin: 0 10px 0 0
}

form.cart-page-form .shop-cart-total span.price {
    display: inline-block;
    font-size: 21px
}

.update-cart {
    padding-top: 22px;
    text-align: right
}

.cart-page-form .delivery-date {
    overflow: hidden
}

.cart-page-form .delivery-date label {
    display: block;
    line-height: normal
}

form.cart-page-form .list-button .normal-btn,form.cart-page-form .list-button a.border-btn {
    font-size: 11px;
    letter-spacing: 3px
}

form.cart-page-form .list-button .normal-btn {
    margin-right: 30px
}

form.cart-page-form .list-button br {
    display: none
}

@media (max-width: 767px) {
    form.cart-page-form .list-button {
        text-align:center
    }
    
    form.cart-page-form .list-button br {
        display: block
    }
    
    form.cart-page-form .list-button .normal-btn,form.cart-page-form .list-button a.border-btn {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
        max-width: 300px
    }
    
    form.cart-page-form .list-button .normal-btn {
        margin-right: 0px;
        margin-bottom: 30px
    }
}

textarea {
    border: 1px solid #dddddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    outline: none;
    padding: 13px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-family: 'Raleway', sans-serif;
}
textarea:focus {
    border-color: $color_primary;
}