/*============================================================================
#LOGO
==============================================================================*/

a.jvlogo {
    left: 15px;
    position: absolute;
    z-index: 200;
    bottom: 0;
    top: 0;
}
.logo-table {
    display: table;
    height: 100%;
    width: 100%;
}

.logo-table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.header,
.header .logo-table-cell,
.header .logo-table-cell img {
  max-height: #{'{{ settings.maxheight-logo }}px'};
}

.logo.logo-header {
  display: inline-block;

  h1 {
    @extend %jv-color-primary-inverse;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: -3px;
    margin: 0;
  }
}

// .logo-home 
.header1 .header__logo-wrapper
{
    @extend %jv-bg-color-primary-inverse;
    @extend %text-center;
    max-width: 200px;
    padding: 10px;
    width: 100%;
}

.header1 .header__logo-wrapper{
  h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;

    span {
      display: block;
      font-size: 60px;
    }
  }
  > a {
    color: $color_white;
  }
}


.logo-text h1
{
  @extend %jv-color-secondary;
  font-size: 48px;
  margin: 0;
  @extend %text-up;

  span {
    @extend %jv-color-secondary-inverse;
  }
}

/*============================================================================
#HEADER
==============================================================================*/
#header{
  min-height: 80px;
}

.header{
  padding:20px 0;
}

.header .container {
  position: relative;
}

.info-header {
  padding-top: 10px;
}


//Front Page

.header.header1 {
  // background-size: auto 100%;
  // background-position: center top;
  // background-image: url('{{ "home_bg-page.jpg" | asset_url }}');
  // background-repeat: no-repeat;
  // padding: 50px 0 20px;
  // background-size: cover;
  // background-position: center center;
}

//header 2
.header.header2 .header__logo-wrapper{
  position:absolute;
  left: 15px;
  bottom: 0; 
  top:0;
}

//Header 3 Logo
.header.header3{
  //logo center
  .header__logo-wrapper{
    position:absolute;
    left: 50%; 
    
    @include prefix(transform,translateX(-50%));
    bottom: 0; 
    top:0;
  }
}

.header.header5 .header__logo-wrapper{
  position:absolute;left: 15px;bottom: 0; top:0;
}

.header__info-wrapper{
  float: right;
}

/*============================================================================
#HEADER - WELCOME
==============================================================================*/
.header__top-bar__welcome {
  border-bottom: 1px solid #f1f1f1;
  padding: 8px 0;
}
.header__top-bar__contact {
  color: $color_dusty-gray;
  margin: 0;

  > label {
    border-right: 1px solid $color_gallery;
    font-weight: normal;
    height: 13px;
    line-height: 13px;
    margin-bottom: 0;
    margin-right: 12px;
    padding-right: 15px;
  }
}
.header__top-bar__menu-top {
  margin: 0;

  a {
    color: $color_dusty-gray;

    a:hover {
      @extend %jv-color-secondary;
    }
  }
  li {
    border-left: 1px solid $color_gallery;
    height: 13px;
    line-height: 13px;
    margin-left: 10px;
    padding: 0 0 0 13px;

    &:first-child {
      border: medium none;
      margin: 0;
      padding: 0;
    }
  }
}

/*============================================================================
#HEADER - SETTING
==============================================================================*/
.top-header {
  // background: $color_shark none repeat scroll 0 0;
  @extend %jv-bg-color-primary-inverse;
  color: $color_white;

  h5 {
    display: inline;
  }
  ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }
}

.top-header {
  .currency-picker__label {
    display: none
  }
  .currency-picker__wrapper {
    margin: 0;
  }
  .currency-picker{
   height: 40px;
   border-right: 1px solid rgba($color_white ,0.1);
    
  }
}

.top-left {
  .top-header {
    @extend %jv-bg-color-primary-inverse;
  }
  .language-box {
    display: inline-block;
    position: relative;
  }
  .currency-box {
    display: inline-block;
    position: relative;
  }
}

.language-box {
  &:after {
    position: absolute;
  }
  &:focus,
  &:hover {
    .language-inner-box {
      opacity: 1;
      visibility: visible;
      margin-top: 0;
    }
    &:after {
      opacity: 1;
    }
  }
}

%jv-arrow-up--bottom{
  color: $color_white;
  left: 50%;
  margin-left: -5px;
  margin-top: -10px;
  position: absolute;
  top: 100%;
  opacity: 0;
  content: '\e873';
  @extend %jv-font-Linearicons;
  @extend %jv-transition-easeout;
}

.language-box:after, 
.currency-box:after {
  @extend %jv-arrow-up--bottom;
}

.currency-box:hover {
  &:after {
    opacity: 1;
  }
  .currency-inner-box {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
  }
}

.top-left {

  .language-link {
    border-left: 1px solid rgba($color_white, 0.1);
    border-right: 1px solid rgba($color_white, 0.1);
    color: $color_white;
    display: block;
    font-size: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 45px 0 20px;
    position: relative;
    @extend %text-up;

    &:after {
      content: '\e874';
      @extend %jv-font-Linearicons;
      position: absolute;
      right: 20px;
      top: 0;
    }
  }
  .currency-link {
    border-right: 1px solid rgba($color_white, 0.1);
    color: $color_white;
    display: block;
    font-size: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 45px 0 17px;
    position: relative;
    @extend %text-up;

    &:after {
       content: '\e874';
      @extend %jv-font-Linearicons;
      position: absolute;
      right: 20px;
      top: 0;
    }
  }
  .language-box:hover .language-link, 
  .currency-box:hover .currency-link {
    color: $color_dusty-gray;
  }
}

.top-right ul li {
    vertical-align: top;
}

.top-right {
  border-right: 1px solid rgba($color_white, 0.1);
  @extend %text-right;

  //title
  .top-header__menu-title {
    border-left: 1px solid rgba($color_white, 0.1);
    color: $color_white;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 10px;
    @extend %text-up;

    > span.lnr {
      color: $color_dusty-gray;
      margin-right: 12px;
    }
  }

  > ul > li:hover > a {
    color: $color_dusty-gray;
  }

  .info-user {
    position: relative;

    &:after {
      display: none;
    }
    &:before {
      color: $color_white;
      left: 50%;
      margin-top: -10px;
      opacity: 0;
      position: absolute;
      top: 100%;
      content: '\e873';
      @extend %jv-font-Linearicons;
      @extend %jv-transition-easeout;
    }
    &:hover::before {
      opacity: 1;
    }
    .inner-user-info {
      margin-right: 0px;
      margin-top: 30px;
      padding: 12px 20px 30px;
      right: auto;
      @extend %text-left;
      top: 100%;
      left: 0;
    }
    &:hover .inner-user-info {
      margin-top: 0px;
    }
  }

  .info-cart {
    position: relative;
  }
  .mycart-link .number-cart-total {
    background: $color_primary none repeat scroll 0 0;
    color: $color_white;
    font-size: 13px;
    margin-left: 20px;
    padding: 0 3px;
  }
}

/*============================================================================
#HEADER - MY ACCOUNT
==============================================================================*/

.info-user{
  &:after {
    background: $color_white none repeat scroll 0 0;
    border-color: $color_mercury;
    border-style: solid;
    border-width: 0 0 1px 1px;
    color: $color_mercury;
    content: "";
    height: 10px;
    left: 0;
    margin-left: 2px;
    margin-top: 40px;
    position: absolute;
    top: 100%;
    @include prefix(transform, rotate(135deg));
    @extend %jv-transition-easeout;
    opacity: 0;
    visibility: hidden;
    width: 10px;
    z-index: 10;
  }
  &:hover {
    .inner-user-info {
      opacity: 1;
      visibility: visible;
      margin-top: 15px;
    }
    &:after {
      opacity: 1;
      visibility: visible;
      margin-top: 10px;
    }
  }
}

//dropdown
.info-user .inner-user-info {
  list-style: none;

  background: $color_white none repeat scroll 0 0;
  border: 1px solid $color_mercury;
  margin-right: -48px;
  margin-top: 45px;
  padding: 12px 15px 30px;
  position: absolute;
  right: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  width: 210px;
  z-index: 99;
  box-shadow: -1px 3px 5px -1px rgba($color_black, 0.1);
  color: $color_dusty-gray;
  @extend %jv-transition-easeout;

  a {
    display: inline-block;
    padding: 15px 0;

    &:hover {
      color: $color_dusty-gray;
    }
    span {
      margin-right: 9px;
    }
  }

  span[class*="lnr-"] {
    margin-right: 9px;
  }

  li {
    border-bottom: 1px solid $color_mercury;
    color: $color_dove-gray;
  }
}


/*============================================================================
#HEADER --HEADER 2
==============================================================================*/

.info-header2 {
  .info-search {
    margin-left: 0;

    &:after {
      margin-top: 2px;
      margin-left: 10px;
      top: 100%;
    }
    &:hover {
      &:after {
        opacity: 1;
        margin-top: 2px;
      }
      .search-form {
        margin-top: 7px;
      }
    }
    .search-form {
      margin-right: -55px;
    }
  }
  .info-icon.icon-search {
    border-width: 1px;
    border-style: solid;
    @extend %jv-border-color-primary-inverse;
    display: block;
    font-size: 18px;
    height: 32px;
    width: 32px;
    padding: 0;
    @extend %text-center;

    span {
      line-height: 32px;
    }
  }
}

/***********************************************************************
 HEADER -- HEADER 3       
************************************************************************/

.header.header3 {
  background: $color_alabaster none repeat scroll 0 0;
}

.box-info-user {
  background: $color_white none repeat scroll 0 0;
  border-radius: 6px;
  box-shadow: 1px 3px 3px 1px rgba($color_black, 0.11);
  display: table;
  padding: 25px 0;
  position: absolute;
  right: 0;
  top: 100%;
  // width: 400px;
  width: auto;
  margin-top: 35px;
  @extend %jv-transition-easeout;
  opacity: 0;
  visibility: hidden;
}

.info-user:hover, 
.info-user:focus {
  .box-info-user {
    opacity: 1;
    visibility: visible;
    margin-top: 5px;
  }
}

.info-header.info-header3 {
    padding-top: 5px;
    position: relative;
    z-index: 100;
}

.info-header3 .info-total {
  > li {
    margin-left: 1px;
  }
  .info-icon {
    @extend %jv-bg-color-secondary;
    border-radius: 6px;
    color: $color_white;
    display: block;
    height: 40px;
    padding: 10px;
    @extend %text-center;
    width: 40px;

    &:hover {
       @extend %jv-bg-color-secondary-inverse;
    }
    sup {
      margin-left: 6px;
      top: 7px;
    }
  }
}


.box-info-user {
  color: $color_dove-gray;
  > ul {
    display: table-cell;
    padding: 0 25px;
    vertical-align: top;

    li {
      a {
        
        @include prefix(text-overflow, ellipsis);
        overflow: hidden;
        white-space: nowrap;
        max-width: 100px;
        display: inline-block;

        &:hover {
          @extend %jv-color-secondary;
        }
      }
      .lnr {
        color: $color_dusty-gray;
        margin-right: 10px;
      }
    }
  }
.currency-wrapper {
  padding: 0 10px;

  .currency__title {
    border-bottom: 1px solid $color_mercury;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}
}

.box-info-user {
  .user-info-list li a {
    max-width: 100px;
  }
  .language-list {
    min-width: 150px;
  }
}

.user-info-list{
   border-right: 1px solid $color_mercury;
}

.user-info-list > li {
    margin-bottom: 14px;
}


.language-list {
  img {
    margin-right: 15px;
  }
  li {
    margin-bottom: 7px;
    padding-bottom: 7px;

    &.active {
      border-bottom: 1px solid $color_mercury;

      a {
        @extend %jv-color-secondary;
      }
    }
  }
}

.list-unstyled.language-list {
  border-left: 1px solid $color_mercury;
  border-right: 1px solid $color_mercury;
}


.box-info-user .currency-list li {
  margin-bottom: 7px;
  padding-bottom: 7px;
  &.active {
    border-bottom: 1px solid $color_mercury;
    a {
      @extend %jv-color-secondary;
    }
  }
}


.info-header3 .info-total>li:before,
.info-header3 .info-total>li:after{
  display:none;
}


.info-total .info-cart3 .inner-cart-info {
    border: medium none;
    border-radius: 6px;
    box-shadow: 1px 3px 3px 1px rgba($color_black, 0.1);
    margin-right: 0;
    margin-top: 35px;
    right: 0;
}

.info-cart.info-cart3:hover .inner-cart-info {
  margin-top:5px;
}

//home1
.row-background{
  min-height: 400px;
  width: 700px;
  &:before {
    background-image: url('{{ "home_bg-page.jpg" | asset_url }}');
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    top: 40px;
    bottom: 0;
    z-index: -1;
  }

}
.row-background.slider--enable:before{
  height: 750px;
}

.template-index .row-background.catbox--enable:before{
  height: 790px;
}

.template-index .row-background.catbox--enable.slider--enable:before {
  //770+750
  height: 1650px;
}
.header__top-bar__welcome + .header1-wrapper + .heading-line{
  .row-background:before{
    top: 70px;
  }
}

.heading-line {
  width: 830px;
  padding-left: 100px;
  padding-right: 0;
  margin-top: -20px;
}

@media (max-width: 1280px){
  .language-inner-box.item-box-sub {
      left: 0;
      margin-left: 0;
  }
}

@media (max-width: 1024px){
  .info-header2 .info-search .search-form {
      margin-right: 0px;
  }
}


@media only screen and (max-width: 992px) {

  .header5 .info-cart7{
    top: 150px;
  }
}

@media only screen and (min-width: 768px) and(max-width: 992px) {
  //homepage1
  .heading-line {
    width: 448px;
    padding-left: 50px;
  }
  .heading-line .row-background {
    width: 448px;
    .bannerslider1 .item{
      height: auto !important;
      
    }
  }
  //header 7
  .header5 .mainmenu.main-nav7{
    width: 100%;
  }
}

@media only screen and (min-width: 768px){
  .col-md-absolute{
    float: left;
    width: 25%;
    position: absolute;
    z-index: 9;
    &.right{
      right: 0;
      width: 16.66666667%;
    }
  }
}


@media only screen and (max-width: 767px) {

  .xs-text-hidden{
    font-size: 0 !important;
    [class*="lnr-"]{
      font-size: 18px;
    }
    .cart-count{
      margin-left: 0 !important;
    }
  }

  //header setting
  .top-left .language-box,.top-left .currency-picker{
    float: left;
  }

  .top-right .info-user .inner-user-info {
      left: auto;
      right: 0;
  }

  //header1
  .heading-line{
    padding: 0!important;
    width: 100%;
    margin-top: 0;
    .row-background{
      width: 100%;
    }
  }

  //header3
  .box-info-user{
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 0;
    > ul{
      padding: 0 10px;
    }
  }

  .box-info-user .language-list{
    min-width: 100px;
  }

  //header 1
  .header.header1{
    padding-top: 20px;
  }
  .header1 .header__logo-wrapper{
    max-width: 100%;
  }

  .header1 .nav-vertical .mobile-menu{
    right: 16px;
    top: auto;
    bottom: 0;
  }

  .header1 .mainmenu > .dropdownMenu {
    top: 130px;
  }

  //header2
  //~ top-header
  .top-header .top-right{
    .list-inline > li{
      padding: 0;
    }

    .top-header__menu-title{
      padding: 0;
      width: 40px;
      line-height: 40px;
      text-align: center;
      > span.lnr{
        font-size: 16px;    
        margin-right: 0;
        font-weight: 700;
      }
    }
  }
  .header2 .info-header2 .info-search{
    margin-right: 35px;
  }
  .header2 .mobile-menu{
    top: 10px;
  }

  // header 3
  //Header 3 Logo
  .header.header3  .header__logo-wrapper{
    left: 15px;
    @include prefix(transform,translateX(0));
  }

  .header__info-wrapper{
    margin-right: 35px;
  }

  .header3 .mobile-menu{top: 10px;}
  .header3 .mainmenu>.dropdownMenu {
      top: 50px;
  }
  .header3 .search-form.search-form3 input[type="search"]{
    width: auto;
  }


  .header__top-bar__contact {
    font-size: 12px;
    text-align: center;
  }
  .header__top-bar__menu-top.text-right {
    padding: 5px 0;
    text-align: center;
  }

  //header 4
  .header4 .mobile-menu{
    top: -5px;
  }

  .header4 .info-total > .info-search{
    margin-right: 20px;
  }


  .header4 .logo-wrapper{
    margin-top: -15px;
    .logo-text{
      span{
        display: inline-block;
      }
    }
  }

  .header4 .info-header{
    padding-top: 0;
     margin-right: 50px;
  }

  .header4 .info-user{
    margin-left: 0;
  }

  //topheader3
  .language-box .item-box-sub{
    margin-left: 0;
  }


  .search-form7{
        padding-left: 5px;
    margin-left: 5px;
    width: auto;
  }
  .header .search-form7 input[type="search"]{
    max-width: 150px;
  }

  .header5 .register-box{
    margin-right: 35px;
    a{
      width: 40px;
    }
  }

  .header5 .mobile-menu{
    top: 15px;
    right: 15px;
  }
  .header5 .info-cart7{
    top: 150px;
  }
  
  $search-btn--size : 40px;

  //header5 searchform
  .header5 .search-form7 form {
    height: $search-btn--size;
    width: $search-btn--size;
    line-height: $search-btn--size;
    z-index: 10;
    position: relative;
    
    &:before {
      position: absolute;
      z-index: 11;
      right: 0;
      top: 0;
      color: $color_black;
      font-size: 15px;
      width: 100%;
      text-align: center;
      content: "\e86f";
      font-family: Linearicons-Free;
    }
  }

  .header5 .search-form7 form input[type="search"] {
    color: transparent;
    border: 1px solid $color_mercury;
    border-radius: 0;
    height: $search-btn--size;
    width: $search-btn--size;
    opacity: 0;
    position: absolute;
    left: -1px;
    top: 12px;
    padding: 0 0 0 35px;
    @include prefix(transition, all 0.5s ease-in-out 0s);
  }

  .header5 .search-form7 form .screen-reader-text {
    display: none;
  }
  .header5 .search-form7 form [type="submit"] {
    background: none;
    display: none;
    border: medium none;
    height: $search-btn--size;
    width: $search-btn--size;
    right: -1px;
    opacity: 0;
    position: absolute;
    top: -1px;
    z-index: 12;
  }
  .header5 .search-form7 form:hover {
    border-color: transparent;
  }
  .header5 .search-form7 form:hover input[type="search"], 
  .header5 .search-form7 form input[type="search"]:focus, 
  .header5 .search-form7 form:focus input[type="search"] {
    opacity: 1;
    width: 250px;
    color: inherit;
  }
  .header5 .search-form7 form input[type="search"]:focus + [type="submit"], 
  .header5 .search-form7 form [type="submit"]:hover {
    display: block;
  }

  //responsive
  .header5 .search-form7 form input[type="search"] {
    opacity: 1;
    top: 0;
    
    @include prefix(border-radius, 3px);
    max-width: 150px;
  }  

  .header5 .logo-text h1{
    line-height: 40px;
  }
  .header5 .search-form7{
    height: 40px;
    border: none;
  }
  .header5 .register-box{margin-top: 0 !important;}
  .header5 .mobile-menu{
    top: 5px;
  }

}

@media only screen and (max-width: 480px) {

.header .search-form7 input[type="search"] {
  max-width: 100px;
}
.header5 .search-results {
  margin-left: -70px;
  top: 50px;
}

}


@media only screen and (max-width: 360px) {

  .header .search-form7 input[type="search"] {
    max-width: 50px;
  }
  .row-background {
    max-width: 300px !important;
    width: 300px !important;
  }
 
}