/*************************************************************
Page Detail
*************************************************************/
.category-slider {
  background: $color_wild-sand none repeat scroll 0 0;
  padding: 50px 0;

  .item  img {
    width: 100%;
  }
}
.item-collections {
  margin-bottom: 30px;

  .inner {
    display: block;
    position: relative;
  }
  .inner {
    background-color: $color_white;
    .info-collections {
      @include transition(all 0.3s ease-in-out 0s);
      background-color: rgba($color_black, 0.4);
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      color: $color_white;
      line-height: 2.2;
      @extend %text-center;

      .title {
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: -10px;
        @extend %text-up;
      }
    }
    &:hover .info-collections {
      background-color: rgba($color_black, 0.6);
    }
  }
}
.title-list-collection {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 20px;

  a {
    margin-top: 10px;
  }
  h2 {
    margin: 0;
  }
}


/*======================== Magnific Popup custom styles ===================== */

.mfp-bg {
  background-color: #{'{{settings.color_body_bg}}'};
}

.mfp-close {
  color: inherit;
}

.mfp-bg.mfp-fade {
  -webkit-backface-visibility: hidden;
  opacity: 0;
  @extend %jv-transition-easeout;
}

/* overlay animate in */
.mfp-bg.mfp-fade.mfp-ready {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
  filter: alpha(opacity=100);
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  @extend %jv-transition-easeout;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


/*============================================================================
#Password Page
==============================================================================*/
.hidden{
  display: none !important;
}
.template-password {
  height: 100vh;
  text-align: center;
  padding: 0;
}
.password-page__wrapper {
  display: table;
  height: 100%;
  width: 100%;

  &.bg_image{
    background-image: url('{{ "password-page-background.png" | asset_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    color: $color_white;
  }

  a {
    color: inherit;
  }
  .social-sharing a {
    color: $color_white;
  }
  h2 {
    color: $color_white;
  }
  .password-page__header {
    display: table-row;
    height: 1px;
    .password-page__header__inner {
      display: table-cell;
      padding: 15px 30px;

      .password-page__logo {
        margin-top: 90px;
      }
    }
  }
  .password-page__main {
    display: table-row;
    height: 100%;
    margin: 0 auto;
    width: 100%;

    .password-page__main__inner {
      display: table-cell;
      padding: 15px 30px 100px;
      vertical-align: middle;
      background: rgba($color_black, 0.3);
    }
  }
  .password-page__footer {
    display: table-row;
    height: 1px;

    .password-page__footer_inner {
      display: table-cell;
      font-size: 95%;
      line-height: 19.5px;
      padding: 30px;
      vertical-align: bottom;
    }
  }
}

.password-page__hero {
  font-size: em(42px);
  line-height: 1.25;
  text-transform: none;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;

  @include at-query($min, $postSmall) {
    font-size: em(60px);
  }

  @include at-query($min, $large) {
    font-size: em(64px);
  }
}

.password-page__message, 
.password-page__login-form, 
.password-page__signup-form {
  margin: 0 auto;
  max-width: 500px;

  .inputbox {
    width: 100%;
    color: $color_mine-shaft;
  }
}

.password-page__social-sharing {
  margin-top: 30px;

  .social-sharing {
    padding-top: 0;
  }
}
 
.password-page__login-form, 
.password-page__signup-form {
  padding: 0 30px;
  .errors{
    text-align: inherit;
    ul {
      list-style-type: none;
      margin-left: 0;
    }
  }
}
.lock-icon-svg {
  display: inline-block;
  height: 14px;
  vertical-align: baseline;
  width: 14px;
}
.shopify-logo-svg {
  width: 77px;
  height: 22.5px;
  display: inline-block;
  line-height: 0;
  vertical-align: top;

  path {
    fill: currentColor;
  }

  /* Hiding the SVG logo in IE8, we show the word 'Shopify' instead */
  .lt-ie9 & {
    display: none;
  }
}

/* =========
   Hiding the word 'Shopify' but not from screen readers.
   IE8 does not support SVG, so in it we hide the logo and show the word.
   To target all browsers except IE8, we use the class 'modern',
   which needs to be added to the html element.
   ========= */

.shopify-name {
  .modern & {
    @include visuallyHidden;
  }
}
