
/***********************************************************************
            Locator         
************************************************************************/

.locator {
  margin-top: 80px;
  
  .title {
    margin-bottom: 20px;
  }
}

.locator-item{
  @extend %text-center;
}

.locator-thumb {
  background: rgba($color_black, 0) url('{{ "sbg-icon.png" | asset_url }}') no-repeat scroll center center;
  height: 200px;
  width: 200px;
  position: relative;
  margin: auto auto 20px;
  padding: 65px;

  .locator-thumb-link {
    color: $color_shark;
    font-size: 60px;
    position: relative;
    @extend %jv-transition-easeout;
    z-index: 9;
  }
  &:hover {
    &:after {
      @include prefix(transform, translate(10px, 10px));
    }
    .locator-thumb-link {
      color: $color_casablanca;
    }
  }
  &:after {
    background: rgba($color_black, 0) url('{{ "bg-icon.png" | asset_url }}') no-repeat scroll center center;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    @extend %jv-transition-easeout;
  }
}

.locator-info {
  p {
    margin-top: 10px;
    color: $color_dove-gray;
  }
  .sub-title a {
    color: $color_shark;
    &:hover {
      color: $color_casablanca;
    }
  }
}


/***********************************************************************
            Feature Boxes           
************************************************************************/


.list-feature-boxes {

  .item-feature-box {
    margin: 40px 0;
  }

  .row .col-md-6.col-sm-6.col-xs-12{
    &:nth-child(2n+1) {
      padding-right: 70px;
    }

    &:nth-child(2n) {
      padding-left: 70px;
    }
  }
}

.feature-box-info {
  display: table-cell;
  vertical-align: top;
  padding: 0 0 0 30px;

  h3 {
    font-size: 16px;
    margin: 0 0 10px;
    a {
      color: $color_shark;
      
      &:hover {
        color: $color_dusty-gray;
      }
    }
  }
  p {
    color: $color_dove-gray;
    margin: 0;
  }
}


.feature-box-icon {
  display: table-cell;
}
.feature-box-link {
  display: block;
  height: 70px;
  @extend %text-center;
  width: 70px;
  border-radius: 4px;
  position: relative;
}
.feature-box-link .lnr {
  font-size: 30px;
  line-height: 70px;
  position: relative;
}

.item-feature-box {
  display: table;
  width: 100%;

  &.text-left .feature-box-info {
    padding: 0 0 0 30px;
  }
  &.text-right .feature-box-info {
    padding: 0 30px 0 0;
    @extend %text-right;
  }
  &.text-center {
    display: block;

    .feature-box-icon {
      display: block;

      .feature-box-link {
        margin: 0 auto 25px;
      }
    }
    .feature-box-info {
      display: block;
      padding: 0;
    }
  }
  .readmore {
    display: inline-block;
    margin-top: 15px;
  }
}


.feature-box-style-01 .feature-box-link {
  background: $color_mercury;
  color: $color_shark;
}
.feature-box-style-02 .feature-box-link {
  border: 1px solid $color_mercury;
  color: $color_shark;
}
.feature-box-style-03 .feature-box-link {
  background: $color_golden-tainoi;
  color: $color_white;
}
.feature-box-style-04 .feature-box-link {
  border: 1px solid $color_golden-tainoi;
  color: $color_golden-tainoi;
}
.feature-box-style-05 .feature-box-link {
  background: $color_shark;
  color: $color_white;
}
.feature-box-style-06 .feature-box-link {
  background: $color_shark;
  color: $color_golden-tainoi;
}
.feature-box-style-07 .feature-box-link {
  border: 1px solid $color_shark;
  color: $color_shark;
}
.feature-box-style-08 .feature-box-link {
  border: 1px solid $color_shark;
  color: $color_shark;
  background: $color_candlelight;
}
.feature-box-style-09 .feature-box-link {
  background: $color_shark;
  color: $color_white;
}

.feature-box-style-10 {
  .feature-box-link {
    border: 1px solid $color_currious-blue-darker;
    color: $color_white;
    @extend %jv-border-radius-50;
    
     @include p-el(before,100%, 100%) {
        background: $color_currious-blue-darker;
        top: 0;
        left: 0;
        display: block;
        @extend %jv-border-radius-50;
        @extend %jv-transform-scale-085;
      }

    .lnr {
      line-height: 65px;
    }
  }
}

.feature-box-style-11 {
  border: 1px solid $color_mercury;
  border-radius: 4px;
  padding: 0 50px 45px;

  .readmore {
    color: $color_golden-tainoi
  }
}

.item-feature-box.text-center.feature-box-style-11 .feature-box-link {
  border: 1px solid $color_mercury;
  color: $color_shark;
  background: $color_white;
  margin-top: -35px;
  @extend %jv-border-radius-50;
}


.feature-box-style-12 {
  border: 1px solid $color_mercury;
  padding: 0 50px 45px;
  @extend %jv-border-radius-0;

  .readmore {
    color: $color_currious-blue-darker
  }
}

.item-feature-box.text-center.feature-box-style-12 .feature-box-link {
  color: $color_white;
  background: $color_currious-blue-darker;
  margin-top: -35px;
  @extend %jv-border-radius-0;
}


.feature-box-style-13 {
  background: $color_currious-blue-darker none repeat scroll 0 0;
  border-radius: 4px;
  padding: 40px 30px;
  
  .feature-box-link {
    color: $color_currious-blue-darker;
    background: $color_white;
    @extend %jv-border-radius-50;
  }

  .feature-box-info {
    h3 a {
     color: $color_white;
    }
    p {
      color: $color_white;
    }
  }
}


.feature-box-style-14 {
  background: $color_white none repeat scroll 0 0;
  padding: 40px 30px;
  border: 1px solid $color_mercury;
  @extend %jv-border-radius-0;

  .feature-box-link {
    color: $color_white;
    background: $color_currious-blue-darker;
    @extend %jv-border-radius-0;
  }
  
  .feature-box-info h3 a {
    color: $color_currious-blue-darker;
  }
}


/*Custom Service*/

//HOME 6
.custom-service {
    background: $color_wild-sand none repeat scroll 0 0;
    padding-top: 70px;
}

.item-service-text {
  display: table-cell;
  vertical-align: top;
  .sub-title {
    margin: 0 0 17px;
    a {
      color: $color_shark;
      @extend %jv-transition-easeout;
    }
  }
}

.item-custom-service {
    display: table;
    margin-top: 75px;
    width: 100%;
}

.item-service-thumb {
  display: table-cell;
  width: 90px;

  > a {
    @extend %jv-border-radius-50;
    color: $color_white;
    display: block;
    font-size: 30px;
    height: 70px;
    width: 70px;
    margin: 0 10px;
    position: relative;
    @extend %text-center;
    box-shadow: 0 0 0 10px transparent;
    @extend %jv-transition-easeout;

    &:hover {
      // transform: rotate(45deg);
      @include prefix(transform, rotate(45deg));
    }
  }
}


//box left

.box-left {
  margin-right: -15px;
  .item-service-text {
    padding-right: 15px;
  }
}

.box-right {
  margin-left: -15px;
  .item-service-text {
    padding-left: 15px;
  }
}

.item-service-thumb > a span {
    line-height: 70px;
}



.sv-green {
  .item-service-thumb > a {
    background-color: rgba($color_aquamarine-blue, 1);
    &:hover {
      box-shadow: 0 0 0 10px rgba($color_aquamarine-blue, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_aquamarine-blue, 1);
  }
}

.sv-blue {
  .item-service-thumb > a {
    background-color: rgba($color_viking, 1);

    &:hover {
      box-shadow: 0 0 0 10px rgba($color_viking, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_viking, 1);
  }
}

.sv-yellow {
  .item-service-thumb > a {
    background-color: rgba($color_bright-sun, 1);

    &:hover {
      box-shadow: 0 0 0 10px rgba($color_bright-sun, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_bright-sun, 1);
  }
}


.sv-orange {
  .item-service-thumb > a {
    background-color: rgba($color_my-sin, 1);

    &:hover {
      box-shadow: 0 0 0 10px rgba($color_my-sin, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_my-sin, 1);
  }
}

.sv-red {
  .item-service-thumb > a {
    background-color: rgba($color_outrageous-orange, 1);

    &:hover {
      box-shadow: 0 0 0 10px rgba($color_outrageous-orange, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_outrageous-orange, 1);
  }
}

.sv-pink {
  .item-service-thumb > a {
    background-color: rgba($color_amaranth, 1);

    &:hover {
      box-shadow: 0 0 0 10px rgba($color_amaranth, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_amaranth, 1);
  }
}
