// _bigc-page.scss

/*************************************************************
Page Detail
*************************************************************/

.category-slider {
  background: $color_wild-sand none repeat scroll 0 0;
  padding: 50px 0;

  .item  img {
    width: 100%;
  }
}

.item-collections {
  margin-bottom: 30px;

  .inner {
    display: block;
    position: relative;
  }
  .inner {
    background-color: $color_white;

    .info-collections {
      @include transition(all 0.3s ease-in-out 0s);
      background-color: rgba($color_black, 0.4);
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      color: $color_white;
      line-height: 2.2;
      @extend %text-center;

      .title {
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: -10px;
        @extend %text-up;
      }
    }

    &:hover .info-collections {
      background-color: rgba($color_black, 0.6);
    }
  }
}

.title-list-collection {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;

  a {
    margin-top: 10px;
  }
  h2 {
    margin: 0;
  }
}