.title-normal {
  font-size: 30px;
  margin: 0 0 10px;
  @extend %text-up;
}

.title-product-best-sale {
    margin-bottom: 50px;
    position: relative;
}

.filter-product {
  .btn-filter.style-border-left {
    margin-left: 25px;
    padding-left: 25px;
    width: 120px;
    
    &:before {
      background: $color_currious-blue-darker none repeat scroll 0 0;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;
    }
  }
}

.product-best-sale{
  margin-bottom:50px;
  .item-product.item-product-loadmore {
      background: $color_white none repeat scroll 0 0;
      box-shadow: none;
      margin: 0 0 30px;
  }
}

.product-best-sale .item-product-loadmore {
  .item-product-thumb {
      background: $color_wild-sand none repeat scroll 0 0;
  }
  .item-product-info {
      margin: 15px 0 0;
      padding: 0;
      @extend %text-left;
  }
}


