/***********************************************************************
						Buttons						
************************************************************************/
.bt-link {
	border: medium none;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	vertical-align: top;
	overflow: hidden;
	@extend %text-up;
	@extend %jv-transition-easeout;
	@extend %text-center;

	a {
		color: inherit;
	}
	span {
		display: block;
		line-height: 32px;
		margin: 4px;
		@extend %jv-transition-easeout;
	}
}
.list-button-box1 {
	background: $color_wild-sand none repeat scroll 0 0;
	padding: 50px 0 40px;

	.bt-link {
		margin-bottom: 10px;
		margin-left: 50px;
		line-height: normal;
	}
}
.list-button-box2 {
	@extend %jv-bg-color-primary-inverse;
	padding: 50px 0 40px;

	.bt-link {
		margin-bottom: 10px;
		margin-left: 50px;
	}
}
// btn color

.bt-brown {
	background: #323436;
	@extend %jv-color-primary;
}
.bt-blue {
	@extend %jv-bg-color-secondary;
	color: $color_white;
}
.bt-black {
	@extend %jv-bg-color-primary-inverse;
	color: $color_white;
}
.bt-yellow {
	@extend %jv-bg-color-primary;
	color: $color_white;
}
.bt-white {
	background: $color_white;
	@extend %jv-color-primary-inverse;
}
.bt-gold {
	@extend %jv-bg-color-secondary-inverse;
}
.title-bittons {
	font-size: 16px;
	margin: 50px 0 30px;
	@extend %text-up;
}
.bt-radius, .bt-radius span {
	@include prefix(border-radius, 4px);
}
.bt-cart {
	text-transform: capitalize;
}
.bt-loadmore {
	width: 300px;
	color: $color_white;
}
.bt-shadow {
	box-shadow: 0 4px 4px 0 rgba($color_black, 0.3);
}
// btn style

.bt-style1:hover {
	background: $color_white none repeat scroll 0 0;
	box-shadow: 0 0 0 2px $color_primary-inverse inset;
	@extend %jv-color-primary-inverse;
}
.bt-style2:hover {
	box-shadow: 0 2px 4px 1px rgba($color_black, 0.1);
	background: $color_white;
	@extend %jv-color-primary-inverse;
}
.bt-style3 {
	padding: 5px;
	width: 143px;
	box-shadow: 0 0 0 1px $color_primary-inverse inset;
	&:hover {
		background-clip: content-box;
	}
}
.bt-style4:hover {
	@extend %jv-bg-color-primary;
}
.bt-style5:hover {
	@extend %jv-bg-color-primary-inverse;
	color: $color_white;
}
.bt-style6 {
	box-shadow: 0 0 0 2px $color_primary-inverse inset;

	&:hover {
		@extend %jv-bg-color-primary-inverse;
		box-shadow: none;
		color: $color_white;
	}
}
.bt-style7 {
	box-shadow: 0 2px 4px 1px rgba($color_black, 0.1);

	&:hover {
		@extend %jv-bg-color-primary-inverse;
		color: $color_white;
		box-shadow: none;
	}
}
.bt-style8 {
	background-clip: content-box;
	box-shadow: 0 0 0 1px $color_primary-inverse inset;
	padding: 5px;
	width: 143px;

	&:hover {
		background-clip: padding-box;
	}
}
.bt-style9:hover {
	@extend %jv-bg-color-primary-inverse;
}
.bt-style10:hover {
	@extend %jv-bg-color-primary;
}
.btn-box-shadow {
	@include prefix(box-shadow, 0 0 0 1px $color_white inset);
}
.bt-style11 {
	@extend .btn-box-shadow;

	&:hover {
		@extend %jv-bg-color-primary;
		box-shadow: 0 0 0 2px $color_white inset;
	}
}
.bt-style12 {
	@extend .btn-box-shadow;

	&:hover {
		box-shadow: 0 0 0 1px $color-primary inset;
		background: $color_white;
		@extend %jv-color-primary-inverse;
	}
}
.bt-style13 {
	@extend .btn-box-shadow;

	&:hover {
		box-shadow: 0 0 0 4px $color-primary inset;
		background: $color_white;
		@extend %jv-color-primary-inverse;
	}
}
.bt-style14 {
	@extend .btn-box-shadow;

	&:hover {
		background: $color_white;
		@extend %jv-color-primary-inverse;
	}
}
.bt-style15:hover {
	background: #323436;
	@extend %jv-color-primary;
}
.bt-style16 {
	box-shadow: 0 0 0 2px $color_white inset;

	&:hover {
		@extend %jv-bg-color-primary-inverse;
		box-shadow: 0 0 0 1px $color_white inset;
	}
}
.bt-style17 {
	box-shadow: 0 0 0 1px $color-primary inset;

	&:hover {
		box-shadow: 0 0 0 1px $color_white inset;
		@extend %jv-bg-color-primary-inverse;
		color: $color_white;
	}
}
.bt-style18 {
	box-shadow: 0 0 0 4px $color-primary inset;
	background: $color_white;
	@extend %jv-color-primary-inverse;

	&:hover {
		box-shadow: 0 0 0 1px $color_white inset;
		@extend %jv-bg-color-primary-inverse;
		color: $color_white;
	}
}
.bt-style19 {
	@extend .btn-box-shadow;

	&:hover {
		@extend %jv-bg-color-primary-inverse;
		color: $color_white;
	}
}
.bt-style20:hover {
	@extend %jv-bg-color-primary;
	color: $color_white;
}
.bt-style21 {
	width: 140px;
	padding: 0;

	&:hover {
		box-shadow: 0 0 0 1px $color_secondary inset;
		background: $color_white;

		span {
			@extend %jv-bg-color-secondary;
		}
	}
}
.bt-style22:hover {
	box-shadow: 0 0 0 1px $color_secondary inset;
	background: $color_white;
	@extend %jv-color-secondary;
}
.bt-style23:hover {
	@extend %jv-bg-color-secondary-inverse;
	@extend %jv-color-primary-inverse;
	box-shadow: 0 4px 4px 0 rgba($color_black, 0.3);
}
.bt-style24:hover {
	@extend %jv-bg-color-secondary-inverse;
}
.bt-style25 {
	box-shadow: 0 0 0 1px $color_mercury-darker inset;

	&:hover {
		box-shadow: none;
		@extend %jv-bg-color-secondary;
		color: $color_white;
	}
}
.bt-style26 {
	width: 140px;
	background: $color_white;
	box-shadow: 0 0 0 1px $color_secondary inset;
	padding: 0;

	&:hover {
		@extend %jv-bg-color-secondary;
	}
	span {
		@extend %jv-bg-color-secondary;
	}
}
.bt-style27 {
	box-shadow: 0 0 0 1px $color_secondary inset;
	background: $color_white;
	@extend %jv-color-secondary;

	&:hover {
		@extend %jv-bg-color-secondary;
		color: $color_white;
	}
}
.bt-style28:hover {
	@extend %jv-bg-color-secondary;
	color: $color_white;
	box-shadow: none;
}
.bt-style29:hover {
	@extend %jv-bg-color-secondary;
}
.bt-style30:hover {
	box-shadow: 0 0 0 1px $color_mercury-darker inset;
	background: $color_white;
	@extend %jv-color-primary-inverse;
}
.bt-style31 {
	width: 140px;
	padding: 0;

	&:hover {
		box-shadow: 0 0 0 1px $color_secondary inset;
		@extend %jv-bg-color-primary-inverse;
	}
	.bt-style31 span {
		@extend %jv-bg-color-secondary;
	}
}
.bt-style32 {
	box-shadow: 0 0 0 1px $color_gray inset;

	&:hover {
		box-shadow: 0 0 0 1px $color_white inset;
		background: $color_white;
		@extend %jv-color-primary-inverse;
	}
}
.bt-style33 {
	box-shadow: 0 0 0 1px $color_secondary-inverse inset;
	@extend %jv-color-secondary-inverse;

	&:hover {
		@extend %jv-color-primary-inverse;
		@extend %jv-bg-color-secondary-inverse;
	}
}
.bt-style34 {
	box-shadow: 0 0 0 2px $color_white inset;

	&:hover {
		box-shadow: 0 0 0 2px $color_cornflower-blue inset;
		background: $color_cornflower-blue;
	}
}
.bt-style35 {
	color: $color_white;

	&:hover {
		@extend %jv-color-secondary;
		@extend %jv-bg-color-primary-inverse;
		box-shadow: 0 0 0 2px $color_secondary inset;
	}
}
.bt-style36 {
	width: 140px;
	padding: 0;
	box-shadow: 0 0 0 1px $color_secondary inset;
	@extend %jv-bg-color-primary-inverse;

	&:hover {
		@extend %jv-bg-color-secondary;
	}
	span {
		@extend %jv-bg-color-secondary;
	}
}
.bt-style37:hover {
	box-shadow: 0 0 0 1px $color_gray inset;
	@extend %jv-bg-color-primary-inverse;
	color: $color_white;
}
.bt-style38 {
	box-shadow: 0 0 0 1px $color_secondary-inverse inset;
	@extend %jv-color-primary-inverse;
	@extend %jv-bg-color-secondary-inverse;

	&:hover {
		@extend %jv-color-secondary-inverse;
		@extend %jv-bg-color-primary-inverse;
	}
}
.bt-style39:hover {
	box-shadow: 0 0 0 2px $color_white inset;
	@extend %jv-bg-color-primary-inverse;
}
.bt-style40 {
	@extend %jv-color-secondary;
	@extend %jv-bg-color-primary-inverse;
	box-shadow: 0 0 0 2px $color_secondary inset;

	&:hover {
		color: $color_white;
		background: #323436;
		box-shadow: 0 0 0 2px #323436 inset;
	}
}
//btn link
.link-black {
	background: transparent none repeat scroll 0 0;
	@extend %jv-color-primary-inverse;
	margin-right: 40px;
	padding: 0;
	position: relative;
	text-decoration: underline;
	@extend %jv-transition-easeout;
	height: 36px;
	line-height: 36px;
}
.link-style1 {
	padding: 0 30px;
	border: 1px solid transparent;

	&:hover {
		@extend %jv-border-color-primary-inverse;
		text-decoration: none;
	}
}
.link-style2 {
	border-bottom: 3px double transparent;

	&:hover {
		border-bottom-color: $color_primary-inverse;
		text-decoration: none;
		color: $color_dove-gray;
	}
}
.link-style3 {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;

	&:hover {
		border-bottom-color: $color_primary-inverse;
		border-top-color: $color_primary-inverse;
		text-decoration: none;
	}
}
//NOTE:jv addition
.jv-btn-icon {
	&:before {
		@extend %jv-font-Linearicons;
		left: 0;
		top: 0;
		width: 100%;
		content: "";
		font-size: 18px;
		position: absolute;
		@extend %jv-transition-easeout;
	}
	@include p-el(after, 100%, 1px) {
		@extend %jv-bg-color-primary-inverse;
		left: 0;
		bottom: 0;
		@extend %jv-transition-easeout;
	}
	span {
		@extend %jv-transition-easeout;
	}
}
.jv-btn-cart {
	&:before {
		content: "\e82e";
	}
}
.link-style4 {
	@extend .jv-btn-icon, .jv-btn-cart;

	&:before {
		left: 0;
		top: -100%;
	}
	&:after {
		bottom: 100%;
		left: 0;
	}
	span {
		@extend %jv-transform-translate0-0;
	}
	&:hover {
		span {
			@extend %jv-transform-translate0-100;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}
}
.link-style9 {
	@extend .jv-btn-icon, .jv-btn-cart;

	span {
		@extend %jv-transform-translate0-100;
	}
	&:hover {
		span {
			@extend %jv-transform-translate0-0;
		}
		&:before {
			top: -100%;
		}
		&:after {
			bottom: 100%;
		}
	}
}
.link-style14 {
	@extend .jv-btn-icon, .jv-btn-cart;

	&:before {
		@extend %jv-color-primary;
		top: -100%;
	}
	&:after {
		bottom: 100%;
		@extend %jv-bg-color-primary;
	}
	span {
		@extend %jv-transform-translate0-0;
	}
	&:hover {
		span {
			@extend %jv-transform-translate0-100;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}
}
.link-style19 {
	@extend .jv-btn-icon, .jv-btn-cart;

	&:before {
		@extend %jv-color-primary;
	}
	&:after {
		@extend %jv-bg-color-primary;
	}
	span {
		@extend %jv-transform-translate0-100;
	}
	&:hover {
		span {
			@extend %jv-transform-translate0-0;
		}
		&:before {
			top: -100%;
		}
		&:after {
			bottom: 100%;
		}
	}
}
.link-style5:hover {
	@extend %jv-color-primary;
}
.link-style6 {
	padding: 0 30px;
	border-width: 1px;
	border-style: solid ;
	@extend %jv-border-color-primary-inverse;
	text-decoration: none;

	&:hover {
		border: 1px solid transparent;
		text-decoration: underline;
	}
}
.link-style7 {
	border-bottom: 3px double $color_primary-inverse;
	color: $color_dove-gray;
	text-decoration: none;

	&:hover {
		border-bottom-color: transparent;
		text-decoration: underline;
		@extend %jv-color-primary-inverse;
	}
}
.link-style8 {
	text-decoration: none;
	border-bottom: 1px solid $color_primary-inverse;
	border-top: 1px solid $color_primary-inverse;

	&:hover {
		border-bottom-color: transparent;
		border-top-color: transparent;
		text-decoration: underline;
	}
}
.link-style10 {
	@extend %jv-color-primary;

	&:hover {
		@extend %jv-color-primary-inverse;
	}
}
//btn link color


.link-white {
	background: transparent none repeat scroll 0 0;
	color: $color_white;
	height: 36px;
	line-height: 36px;
	margin-right: 40px;
	padding: 0;
	position: relative;
	text-decoration: underline;
	@extend %jv-transition-easeout;
}
.link-style11 {
	padding: 0 30px;
	border: 1px solid transparent;

	&:hover {
		border: 1px solid $color-primary;
		text-decoration: none;
		@extend %jv-color-primary;
	}
}
.link-style16 {
	padding: 0 30px;
	border-style: solid;
	border-width: 1px;
	text-decoration: none;
	@extend %jv-border-color-primary;
	@extend %jv-color-primary;

	&:hover {
		border-color: transparent;
		text-decoration: underline;
		color: $color_white;
	}
}
.link-style12 {
	border-bottom: 3px double transparent;

	&:hover {
		border-bottom-color: $color_dove-gray;
		text-decoration: none;
		@extend %jv-color-primary;
	}
}
.link-style17 {
	border-bottom: 3px double $color_dove-gray;
	text-decoration: none;
	@extend %jv-color-primary;

	&:hover {
		border-bottom-color: transparent;
		text-decoration: underline;
		color: $color_white;
	}
}
.link-style13 {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;

	&:hover {
		border-bottom-color: $color_secondary;
		border-top-color: $color_secondary;
		text-decoration: none;
		@extend %jv-color-secondary;
	}
}
.link-style18 {
	text-decoration: none;
	border-bottom: 1px solid $color_secondary;
	border-top: 1px solid $color_secondary;
	@extend %jv-color-secondary;

	&.link-white {
		@extend %jv-color-secondary;
	}
	&:hover {
		border-bottom-color: transparent;
		border-top-color: transparent;
		text-decoration: underline;
		color: $color_white;
	}
}
.link-style15:hover {
	@extend %jv-color-primary;
}
.link-style20 {
	@extend %jv-color-primary;

	&:hover {
		color: $color_white;
	}
}
//btn shape

.btn-circle-box {
	display: inline-block;
	margin: 0 35px;
	vertical-align: middle;

	a {
		display: inline-block;
		margin: 0 15px;
		vertical-align: middle;
		overflow: hidden;
		position: relative;
		@extend %jv-border-radius-50;
		@extend %text-center;
		@extend %text-up;
		@extend %jv-transition-easeout;

		span {
			bottom: 0;
			display: block;
			height: 13px;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
			font-size: 13px;
			@extend %jv-transition-easeout;
			z-index: 99;
		}
	}
	.link-add-cart {
		width: 48px;
		height: 48px;

		span {
			height: 18px;
			font-size: 18px;
		}
	}
	.link-wishlist {
		width: 36px;
		height: 36px;
	}
	.link-compare {
		width: 36px;
		height: 36px;
	}
	.link-quick-view {
		width: 130px;
		height: 130px;
		line-height: 130px;
	}
}
.jv-link-add-cart-img {
	background: url('{{ "icon-cart.png" | asset_url }}') no-repeat center center;
}
.jv-link-add-cart-img-black {
	background: url('{{ "icon-cart2.png" | asset_url }}') no-repeat center center;
}
.btn-circle-box1 {
	a {
		@extend %jv-bg-color-secondary;
		color: $color_white;

		&:hover {
			@extend %jv-bg-color-secondary-inverse;
		}
	}
	.link-add-cart {
		background-color: $color_secondary;
		@extend .jv-link-add-cart-img;
	}
	.link-wishlist:hover span {
		@extend %jv-transform-scale-2;
	}
	.link-compare:hover {
		box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
}
.btn-circle-box2 {
	a {
		@extend %jv-bg-color-primary-inverse;
		color: $color_white;
	}
	.link-add-cart {
		width: 56px;
		height: 56px;

		&:before {
			@extend %jv-bg-color-primary;
			@extend %jv-border-radius-50;
			bottom: 0;
			left: 0;
			margin: auto;
			right: 0;
			top: 0;
		}
		&:hover {
			background-color: $color_white;
			box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.3);
		}
	}
	.link-wishlist:hover span, .link-compare:hover span {
		@extend %jv-transform-scale-2;
	}
}
.btn-circle-box11 {
	a {
		@extend %jv-bg-color-secondary-inverse;
		color: $color_white;

		&:hover {
			@extend %jv-bg-color-secondary;
		}
	}
	.link-add-cart {
		@extend .jv-link-add-cart-img;
		@extend %jv-bg-color-secondary-inverse;
	}
	.link-wishlist:hover span {
		@extend %jv-transform-scale-2;
	}
	.link-compare:hover {
		box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
}
.btn-circle-box22 {
	a {
		@extend %jv-bg-color-primary;
		color: $color_white;
	}
	.link-add-cart {
		width: 56px;
		height: 56px;

		@include p-el(before, 48px, 48px) {
			@extend %jv-bg-color-primary;
			@extend %jv-border-radius-50;
			bottom: 0;
			left: 0;
			margin: auto;
			right: 0;
			top: 0;
		}
		&:hover {
			background-color: $color_white;
			box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.3);
		}
	}
	.link-wishlist:hover, .link-compare:hover {
		box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
}
.btn-circle-box3 {
	.link-quick-view {
		@extend %jv-bg-color-secondary;
		color: $color_white;

		&:hover {
			@extend %jv-bg-color-secondary-inverse;
		}
	}
}
.btn-circle-box33 {
	.link-quick-view {
		@extend %jv-bg-color-secondary-inverse;
		color: $color_white;

		&:hover {
			@extend %jv-bg-color-secondary;
		}
	}
}
.btn-circle-box4 {
	a {
		background: $color_white;
		@extend %jv-color-secondary;
		box-shadow: 0 0 0 1px $color_mercury inset;
		margin: 0 5px;
	}
	.link-add-cart {
		@extend %jv-bg-color-secondary;
		@extend .jv-link-add-cart-img;
		box-shadow: none;

		&:hover {
			@extend %jv-bg-color-primary-inverse;
		}
	}
	.link-wishlist:hover {
		box-shadow: 0 0 0 1px $color_secondary inset;
	}
	.link-compare:hover {
		box-shadow: 0 0 0 1px $color_secondary inset;
		@extend %jv-bg-color-secondary;
		color: $color_white;
	}
}
.btn-circle-box44 {
	a {
		margin: 0 5px;
	}
	.link-add-cart {
		@extend .jv-link-add-cart-img;
		@extend %jv-bg-color-primary-inverse;

		&:hover {
			@extend %jv-bg-color-secondary;
		}
	}
	.link-wishlist {
		box-shadow: 0 0 0 1px $color_secondary inset;
		background: $color_white;
		@extend %jv-color-secondary;

		&:hover {
			box-shadow: 0 0 0 1px $color_mercury inset;
		}
	}
	.link-compare {
		@extend %jv-bg-color-secondary;
		color: $color_white;

		&:hover {
			box-shadow: 0 0 0 1px $color_mercury inset;
			background: $color_white;
			@extend %jv-color-secondary;
		}
	}
}
.list-button-circle {
	padding: 10px 0;

	> div {
		padding: 5px 0;
	}
}
.btn-circle-box7 {
	.link-quick-view {
		background: $color_mercury;
		@extend %jv-color-primary-inverse;
		border: 3px solid transparent;

		&:hover {
			border: 3px solid $color_black;
		}
	}
}
.btn-circle-box77 .link-quick-view {
	background: $color_mercury;
	@extend %jv-color-primary-inverse;
	border: 3px solid $color_black;

	&:hover {
		border: 3px solid transparent;
	}
}
.btn-circle-box5 {
	.link-add-cart {
		@extend .jv-link-add-cart-img;
		@extend %jv-bg-color-secondary;

		@include p-el(before, 38px, 38px) {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border-width: 1px;
			border-style: solid;
			@extend %jv-border-color-primary-inverse;
			@extend %jv-border-radius-50;
			@extend %jv-transition-easeout;
		}
		&:hover {
			@extend %jv-bg-color-secondary-inverse;

			&:before {
				border: 1px solid transparent;
				width: 48px;
				height: 48px;
			}
		}
	}
	.link-wishlist {
		background: $color_white;
		box-shadow: 0 0 0 1px $color_secondary inset;
		@extend %jv-color-secondary;

		&:hover {
			@extend %jv-bg-color-secondary-inverse;
			color: $color_white;
			box-shadow: 0 0 0 1px transparent inset;

			span {
				@extend %jv-transform-scale-2;
			}
		}
	}
	.link-compare {
		@extend %jv-bg-color-secondary;
		color: $color_white;

		&:hover {
			@extend %jv-bg-color-secondary-inverse;
			@extend %jv-color-primary-inverse;

			span {
				@extend %jv-transform-rotate-225;
			}
		}
	}
}
.btn-circle-box55 {
	.link-add-cart {
		@extend .jv-link-add-cart-img;
		@extend %jv-bg-color-secondary-inverse;

		@include p-el(before, 48px, 48px) {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border: 1px solid transparent;
			@extend %jv-border-radius-50;
			@extend %jv-transition-easeout;
		}
		&:hover {
			@extend %jv-bg-color-secondary;

			&:before {
				border-width: 1px;
				border-style: solid;
				@extend %jv-border-color-primary-inverse;
				width: 38px;
				height: 38px;
			}
		}
	}
	.link-wishlist {
		color: $color_white;
		box-shadow: 0 0 0 1px transparent inset;
		@extend %jv-bg-color-secondary-inverse;

		&:hover {
			background: $color_white;
			box-shadow: 0 0 0 1px $color_secondary inset;
			@extend %jv-color-secondary;

			span {
				@extend %jv-transform-scale-2;
			}
		}
	}
	.link-compare {
		@extend %jv-bg-color-secondary-inverse;
		@extend %jv-color-primary-inverse;

		&:hover {
			@extend %jv-bg-color-secondary;
			color: $color_white;

			span {
				@extend %jv-transform-rotate-225;
			}
		}
	}
}
.btn-circle-box6 {
	a {
		color: $color_white;
	}
	.link-wishlist:hover {
		background: $color_white;
		@extend %jv-color-primary-inverse;
	}
	.link-add-cart {
		width: 56px;
		height: 56px;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 56px;
			height: 56px;
			margin: auto;
			border: 3px solid transparent;
			@extend %jv-border-radius-50;
			@extend %jv-transition-easeout;
		}
		&:hover {
			background: $color_white;
			@extend %jv-color-primary-inverse;

			&:before {
				border-width: 3px;
				border-style: solid;
				@extend %jv-border-color-primary-inverse;
				width: 52px;
				height: 52px;
			}
		}
	}
	.link-compare:hover {
		@include prefix(transform, rotate(225deg) scale(2));
	}
}
.btn-circle-box66 {
	.link-wishlist {
		background: $color_white;
		@extend %jv-color-primary-inverse;

		&:hover {
			background: transparent;
			color: $color_white;
		}
	}
	.link-add-cart {
		width: 56px;
		height: 56px;
		background: $color_white;
		@extend %jv-color-primary-inverse;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 52px;
			height: 52px;
			margin: auto;
			border-width: 3px;
			border-style: solid;
			@extend %jv-border-color-primary-inverse;
			@extend %jv-border-radius-50;
			@extend %jv-transition-easeout;
		}
		&:hover {
			background: transparent;
			color: $color_white;

			&:before {
				border: 3px solid transparent;
				width: 56px;
				height: 56px;
			}
		}
	}
	.link-compare {
		@extend %jv-transform-scale-2;
		color: $color_white;

		&:hover {
			@extend %jv-transform-rotate-225;
		}
	}
}
.btn-circle-box8 {
	a {
		background: transparent;
		box-shadow: 0 0 0 1px rgba($color_white, 0.2) inset;
		color: $color_white;
		margin: 0 5px;
	}
	.link-add-cart {
		@extend .jv-link-add-cart-img-black;
		background-color: $color_white;
		box-shadow: 0 0 0 1px transparent inset;

		&:hover {
			@extend .jv-link-add-cart-img;
			background-color: transparent;
			box-shadow: 0 0 0 1px rgba($color_white, 0.2) inset;
		}
	}
	.link-wishlist:hover {
		color: #1698D4;
		@include prefix(box-shadow, 0 0 0 1px #1698D4 inset);
	}
	.link-compare:hover {
		color: $color_white;
		@include prefix(box-shadow, 0 0 0 1px $color_white inset);
	}
}
.btn-circle-box88 {
	a {
		margin: 0 5px;
	}
	.link-add-cart {
		@extend .jv-link-add-cart-img;
		background-color: transparent;
		@include prefix(box-shadow, 0 0 0 1px rgba($color_white, 0.2) inset);

		&:hover {
			@extend .jv-link-add-cart-img;
			background-color: $color_white;
			@include prefix(box-shadow, 0 0 0 1px transparent inset);
		}
	}
	.link-wishlist {
		color: #1698D4;
		@include prefix(box-shadow, 0 0 0 1px #1698D4 inset);

		&:hover {
			color: $color_white;
			@include prefix(box-shadow, 0 0 0 1px rgba($color_white, 0.2) inset);
		}
	}
	.link-compare {
		color: $color_white;
		box-shadow: 0 0 0 1px $color_white inset;
		@include prefix(box-shadow, 0 0 0 1px $color_white inset);

		&:hover {
			@include prefix(box-shadow, 0 0 0 1px rgba($color_white, 0.2) inset);
		}
	}
}
.btn-link-default {
	@extend %jv-bg-color-primary-inverse;
	border: medium none;
	color: $color_white;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
	@extend %text-center;
	@extend %text-up;
	@extend %jv-transition-easeout;

	&:hover {
		color: $color_white;
		@extend %jv-bg-color-primary;
	}
}
.btn-link-default.btn-link-loadmore {
	@extend %jv-bg-color-secondary;
	border-radius: 4px;
	display: block;
	margin: 30px auto auto;
	width: 300px;
	.btn-link-default.btn-link-loadmore:hover {
		// background: $color_bright-sun;
		@extend %jv-bg-color-secondary-inverse;
	}
}
//banners
.btn-box-banner {
	@extend %jv-bg-color-secondary;
	border-radius: 4px;
	color: $color_white;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-top: 12px;
	padding: 0 20px;
	@extend %jv-transition-easeout;

	&:hover {
		@extend %jv-bg-color-secondary-inverse;
		color: $color_white;
	}
}
.btn-link-hidden {
	@extend %jv-bg-color-secondary;
	border-radius: 6px;
	color: $color_white;
	display: inline-block;
	height: 40px;
	left: 100%;
	line-height: 40px;
	margin-top: -20px;
	opacity: 0;
	position: absolute;
	top: 50%;
	width: 140px;
	margin-left: 10px;
	@extend %text-center;
	@extend %text-up;
	@extend %jv-transition-easeout;
	@extend %jv-transform-scale-0;

	&:hover {
		@extend %jv-bg-color-secondary-inverse;
	}
}
/* bt-link bt-blue bt-radius bt-style23 */
.btn-submit-form {
	@extend %jv-bg-color-secondary;
	border: medium none;
	color: $color_white;
	height: 40px;
	padding: 0 30px;
	@extend %text-up;
	@extend %jv-border-radius-4;
	@extend %jv-transition-easeout;

	&:hover {
		@extend %jv-bg-color-secondary-inverse;
	}
}
.btn-link-default.btn-compare {
	margin-right: 25px;
	padding: 0 20px;
}
// bt-link bt-gold bt-radius bt-shadow bt-style28
.btn-reset-form {
	@extend .btn-submit-form;
	@extend %jv-bg-color-secondary-inverse;

	&:hover {
		@extend %jv-bg-color-secondary;
	}
}
.bt-primary {
	@extend .bt-link, .bt-yellow, .bt-style5;
}
.bt-primary-inverse {
	@extend .bt-link, .bt-black, .bt-style4;
}
.btn-primary {
	@extend .bt-primary;
	background-image: none;
	box-shadow: none;
	border: none;
}
.text-link {
	span {
		text-decoration: inherit;
	}
}
@media (max-width:767px) {
	div[class^='list-button-box'] .bt-link {
		margin-left: 15px;
	}
	.btn-circle-box {
		display: block;
		margin: 15px;
	}
	.btn-link-default.btn-link-loadmore {
		width: 100%;
	}
	.bt-loadmore {
		width: auto;
	}
}