
/***********************************************************************
            Locator         
************************************************************************/

.locator {
  // margin-top: 80px;
  .title {
    margin-bottom: 20px;
  }
}

.jv-heading h2{
  margin-bottom: 20px;
}

.locator-item{
  @extend %text-center;
}

.locator-thumb {
  background: rgba($color_black, 0) url('{{ "sbg-icon.png" | asset_url }}') no-repeat scroll center center;
  height: 200px;
  width: 200px;
  position: relative;
  margin: auto auto 20px;
  padding: 65px;

  .locator-thumb-link {
    color: $color_shark;
    font-size: 60px;
    position: relative;
    @extend %jv-transition-easeout;
    z-index: 9;
  }
  &:hover {
    &:after {
      @include prefix(transform, translate(10px, 10px));
    }
    .locator-thumb-link {
      color: $color_casablanca;
    }
  }
  &:after {
    background: rgba($color_black, 0) url('{{ "bg-icon.png" | asset_url }}') no-repeat scroll center center;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    @extend %jv-transition-easeout;
  }
}

.locator-info {
  p {
    margin-top: 10px;
    color: $color_dove-gray;
  }
  .sub-title a {
    color: $color_shark;
    &:hover {
      color: $color_casablanca;
    }
  }
}


/***********************************************************************
            Feature Boxes           
************************************************************************/


.list-feature-boxes {
  .item-feature-box {
    margin: 40px 0;
  }

  .row .col-md-6.col-sm-6.col-xs-12{
    &:nth-child(2n+1) {
      padding-right: 70px;
    }

    &:nth-child(2n) {
      padding-left: 70px;
    }
  }
}

.feature-box-info {
  // display: table-cell;
  // vertical-align: top;

  padding: 0 0 0 30px;

  h3 {
    font-size: 16px;
    margin: 0 0 10px;
    a {
      color: $color_shark;
      
      &:hover {
        color: $color_dusty-gray;
      }
    }
  }
  p {
    color: $color_dove-gray;
    margin: 0;
  }
}


.feature-box-icon {
  // display: table-cell;
}
.feature-box-link {
  display: block;
  height: 70px;
  width: 70px;
  position: relative;
  border-radius: 4px;
  @extend %text-center;

  .lnr {
    font-size: 30px;
    line-height: 65px;
    position: relative;
  }
}

.item-feature-box {
  &.text-left,
  &.text-right{
    overflow: hidden;
  }

  .readmore {
    display: inline-block;
    margin-top: 15px;
  }

  &.text-left .feature-box-info {
    padding: 0;
  }
  &.text-left .feature-box-icon{
    float: left;
    margin-right: 30px;
  }

  &.text-right .feature-box-info {
    padding: 0;
    @extend %text-right;
  }

  &.text-right .feature-box-icon{
      float: right;
      margin-left: 30px;
  }

  &.text-center {
    display: block;

    .feature-box-icon {
      display: block;

      .feature-box-link {
        margin: 0 auto 25px;
      }
    }
    .feature-box-info {
      display: block;
      padding: 0;
    }
  }
 
}

.bg-dark{
   background: $color_shark;
}

.bg-gray{
   background-color: $color_mercury;
}
.bg-yellow{
  background: $color_golden-tainoi;
}
.bg-white{
  background: $color_white;
}
.bg-blue{
  background: $color_currious-blue-darker;
}


.border-dark{
   border: 1px solid $color_shark;
}
.border-gray{
   border: 1px solid $color_mercury;
}
.border-yellow{
   border: 1px solid $color_golden-tainoi;
}
.border-blue{
   border: 1px solid $color_currious-blue-darker;
}


.color-dark{
   color: $color_shark;
}
.color-yellow{
  color: $color_golden-tainoi;
}
.color-white{
  color: $color_white;
}
.color-blue{
  color: $color_currious-blue-darker;
}

// background gray style
.feature-box-style-01 .feature-box-link {
  @extend .bg-gray;
  @extend .color-dark;
}
//border style gray
.feature-box-style-02 .feature-box-link {
  @extend .border-gray;
  @extend .color-dark;
}

// background primary color style
.feature-box-style-03 .feature-box-link {
  @extend .bg-yellow;
  @extend .color-white;
}
//border style primary color
.feature-box-style-04 .feature-box-link {
  @extend .border-yellow;
  @extend .color-yellow;
}

// background black style
.feature-box-style-05 .feature-box-link,
.feature-box-style-09 .feature-box-link {
  @extend .bg-dark;
  @extend .color-white;
}

// background black style - color primary
.feature-box-style-06 .feature-box-link {
  @extend .bg-dark;
  @extend .color-yellow;
}
// background black - color black
.feature-box-style-07 .feature-box-link {
  @extend .border-dark;
  @extend .color-dark;
}
//background primary - border dark
.feature-box-style-08 .feature-box-link {
  @extend .border-dark;
  @extend .color-dark;
  @extend .bg-yellow;
}

.i-cirlce{
   @extend %jv-border-radius-50;
   &.feature-box-link{
     @extend %jv-border-radius-50;
   }
}

.i-border-double{
   @include p-el(before,100%, 100%) {
    @extend .bg-blue;
    top: 0;
    left: 0;
    display: block;
    @extend %jv-border-radius-50;
    @extend %jv-transform-scale-085;
  }
}


//circle - double border - color blue
.feature-box-style-10 {
  .feature-box-link {
    // @extend .border-blue;
    // @extend .color-white;
    // @extend %jv-border-radius-50;
    
     // @include p-el(before,100%, 100%) {
     //    @extend .bg-blue;
     //    top: 0;
     //    left: 0;
     //    display: block;
     //    @extend %jv-border-radius-50;
     //    @extend %jv-transform-scale-085;
     //  }

    // .lnr {
    //   line-height: 65px;
    // }
  }
}

.box-border{
  @extend .border-gray;
  border-radius: 4px;
  padding: 0 50px 45px;
  .readmore {
    @extend .color-yellow;
  }
  .feature-box-link {
    margin-top: -35px !important;
    @extend .border-gray;
    @extend .color-dark;
    @extend .bg-white;
    // @extend %jv-border-radius-50;
  }
}
.box-bg-blue{
   .readmore {
    @extend .color-blue;
  }
  .feature-box-link {
    @extend .color-white;
    @extend .bg-blue;
    // @extend %jv-border-radius-0;
  }
}

//box border i-circle text-center color black border gray
.feature-box-style-11 {
  // @extend .border-gray;
  // border-radius: 4px;
  // padding: 0 50px 45px;

  // .readmore {
  //   @extend .color-yellow;
  // }
}

.item-feature-box.text-center.feature-box-style-11 .feature-box-link {
  // margin-top: -35px;
  // @extend .border-gray;
  // @extend .color-dark;
  // @extend .bg-white;
  // @extend %jv-border-radius-50;
}

//box border i-square color white background blue
.feature-box-style-12 {
  padding: 0 50px 45px;
  @extend .border-gray;
  @extend %jv-border-radius-0;

  .readmore {
    @extend .color-blue;
  }
}

.item-feature-box.text-center.feature-box-style-12 .feature-box-link {
  margin-top: -35px;
  @extend .color-white;
  @extend .bg-blue;
  @extend %jv-border-radius-0;
}

//box-background-blue text-left i-circle  color white, background blue
.feature-box-style-13 {
  border-radius: 4px;
  padding: 40px 30px;
  @extend .bg-blue;
  
  .feature-box-link {
    @extend .color-blue;
    @extend .bg-white;
    @extend %jv-border-radius-50;
  }

  .feature-box-info {
    h3 a {
     @extend .color-white;
    }
    p {
      @extend .color-white;
    }
  }
}

//box-border-gray text-left i-square
.feature-box-style-14 {
  padding: 40px 30px;
  @extend .bg-white;
  @extend .border-gray;
  @extend %jv-border-radius-0;

  .feature-box-link {
    @extend .color-white;
    @extend .bg-blue;
    @extend %jv-border-radius-0;
  }
  
  .feature-box-info h3 a {
    @extend .color-blue;
  }
}


/*Custom Service*/

//HOME 6
.custom-service {
    background: $color_wild-sand;
    padding-top: 70px;
}

.content-custom-service{
  .box-left{
    @extend %text-right;
  }
}

.item-service-text {
  display: table-cell;
  vertical-align: top;
  .sub-title {
    margin: 0 0 17px;
    a {
      color: $color_shark;
      @extend %jv-transition-easeout;
    }
  }
}

.item-custom-service {
    display: table;
    margin-top: 75px;
    width: 100%;
}

.item-service-thumb {
  display: table-cell;
  width: 90px;

  > a {
    color: $color_white;
    display: block;
    font-size: 30px;
    height: 70px;
    width: 70px;
    margin: 0 10px;
    position: relative;
    box-shadow: 0 0 0 10px transparent;
    @extend %text-center;
    @extend %jv-transition-easeout;
    @extend %jv-border-radius-50;

    &:hover {
      // transform: rotate(45deg);
      @include prefix(transform, rotate(45deg));
    }
  }
}


//box left

.box-left {
  margin-right: -15px;
  .item-service-text {
    padding-right: 15px;
  }
}

.box-right {
  margin-left: -15px;
  .item-service-text {
    padding-left: 15px;
  }
}

.item-service-thumb > a span {
    line-height: 70px;
}



.sv_green {
  .item-service-thumb > a {
    background-color: rgba($color_aquamarine-blue, 1);
    &:hover {
      box-shadow: 0 0 0 10px rgba($color_aquamarine-blue, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_aquamarine-blue, 1);
  }
}

.sv_blue {
  .item-service-thumb > a {
    background-color: rgba($color_viking, 1);

    &:hover {
      box-shadow: 0 0 0 10px rgba($color_viking, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_viking, 1);
  }
}

.sv_yellow {
  .item-service-thumb > a {
    background-color: rgba($color_bright-sun, 1);

    &:hover {
      box-shadow: 0 0 0 10px rgba($color_bright-sun, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_bright-sun, 1);
  }
}


.sv_orange {
  .item-service-thumb > a {
    background-color: rgba($color_my-sin, 1);

    &:hover {
      box-shadow: 0 0 0 10px rgba($color_my-sin, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_my-sin, 1);
  }
}

.sv_red {
  .item-service-thumb > a {
    background-color: rgba($color_outrageous-orange, 1);

    &:hover {
      box-shadow: 0 0 0 10px rgba($color_outrageous-orange, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_outrageous-orange, 1);
  }
}

.sv_pink {
  .item-service-thumb > a {
    background-color: rgba($color_amaranth, 1);

    &:hover {
      box-shadow: 0 0 0 10px rgba($color_amaranth, 0.2);
    }
  }
  .item-service-text .sub-title a:hover {
    color: rgba($color_amaranth, 1);
  }
}
