// _bigc-page.scss

/*************************************************************
Page Detail
*************************************************************/

.category-slider {
  background: $color_wild-sand none repeat scroll 0 0;
  padding: 50px 0;

  .item  img {
    width: 100%;
  }
}

.item-collections {
  margin-bottom: 30px;

  .inner {
    display: block;
    position: relative;
  }
  .inner {
    background-color: $color_white;

    .info-collections {
      @include transition(all 0.3s ease-in-out 0s);
      background-color: rgba($color_black, 0.4);
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      color: $color_white;
      line-height: 2.2;
      @extend %text-center;

      .title {
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: -10px;
        @extend %text-up;
      }
    }

    &:hover .info-collections {
      background-color: rgba($color_black, 0.6);
    }
  }
}

.title-list-collection {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;

  a {
    margin-top: 10px;
  }
  h2 {
    margin: 0;
  }
}


/*============================================================================
#Password Page
==============================================================================*/

.template-password {
  height: 100vh;
  text-align: center;
  padding: 0;
}

.password-page__wrapper {
  display: table;
  height: 100%;
  width: 100%;

    background-image: url('{{ "password-page-background.jpg" | asset_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    // color: $colorTextBody;

  a {
    color: inherit;
  }

  .social-sharing a {
    color: #ffffff;
  }

  h2 {
    color: #ffffff;
  }




  .password-page__header {
    display: table-row;
    height: 1px;

    .password-page__header__inner {
      display: table-cell;
      padding: 15px 30px;

      .password-page__logo {
        margin-top: 90px;
      }
    }
  }

  .password-page__main {
    display: table-row;
    height: 100%;
    margin: 0 auto;
    width: 100%;

    .password-page__main__inner {
      display: table-cell;
      padding: 15px 30px 100px;
      vertical-align: middle;

    }
  }  

  .password-page__footer {
    display: table-row;
    height: 1px;


    .password-page__footer_inner {
      display: table-cell;
      font-size: 95%;
      line-height: 19.5px;
      padding: 30px;
      vertical-align: bottom;
    }
  }  
}

.password-page__message, .password-page__login-form, .password-page__signup-form {
  margin: 0 auto;
  max-width: 500px;

  .inputbox  { width:100%; color:#333;}
}
.password-page__login-form, .password-page__signup-form {
  padding: 0 30px;
}




.lock-icon-svg {
  display: inline-block;
  height: 14px;
  vertical-align: baseline;
  width: 14px;
}

.shopify-logo-svg {
  // width: 1.5 * $baseFontSize * 120 / 35;
  // height: 1.5 * $baseFontSize;
  display: inline-block;
  line-height: 0;
  vertical-align: top;

  path {
    fill: currentColor;
  }

  /* Hiding the SVG logo in IE8, we show the word 'Shopify' instead */
  .lt-ie9 & {
    display: none;
  }
}
