/***********************************************************************
            Accordions            
************************************************************************/
.panel-group.accordion {
  margin-bottom: 30px;

  .h2 {
    color: $color_dusty-gray;
    font-size: 16px;
    margin: 0;
    @extend %text-up;
  }
  .panel{
    .panel-heading{
      font-size: 16px;
      margin: 0;
      color: $color_shark;
      padding: 15px 0;
      cursor: pointer;
      position: relative;
      background: transparent;
      a{
        display: block;
      }
      &:hover {
        color: $color_dusty-gray;
      }
    }
  }
  .panel-body{
    color: $color_dove-gray;
    margin: 0 0 20px;
    padding-left: 0;
  }
}

.panel-group.accordion.style1{
  .panel{
    border: none;
    border-bottom: 1px solid $color_mercury;
  }
  .panel-heading{
    padding-right: 20px;
      a:after {
        color: $color_boulder;
        content: "\e874";
        @extend %jv-font-Linearicons;
        font-size: 13px;
        position: absolute;
        right: 0;
        top: 15px;
      }
  }
}

.panel-group.accordion.style2
 {
  h2 {
    margin-bottom: 30px;
  }
  .panel {
    border: 1px solid $color_mercury;
    margin-bottom: 5px;
    padding: 0 20px;
  }
  .panel-heading {
    font-size: 13px;
    padding: 17px 15px 17px 25px;
    @extend %text-up;

    a {
      @include p-el(before, 14px, 14px) {
        background: rgba($color_black, 0) url('{{ "add.png" | asset_url }}') no-repeat scroll center center;
        display: block;
        left: 0;
        top: 17px;
      }
      font-size: inherit;
      
      &.active {
        &:before {
          background-image: url('{{ "sub.png" | asset_url }}');
        }
      }
    }
  }
}


.panel-group.accordion.style3 {
  h2 {
    margin-bottom: 30px;
  }
  .panel {
    margin-bottom: 5px;
    border: none;
  }
  .panel-heading  {
    background: $color_wild-sand none repeat scroll 0 0;
    border: 1px solid $color_mercury;
    margin-bottom: 15px;
    padding: 12px 15px 12px 55px;

    .panel-title{
      font-size: 13px;
      @extend %text-up;
    }
    a {
      @include p-el(before, 40px, 40px) {
        background: $color_shark url('{{ "add1.png" | asset_url }}') no-repeat scroll center center;
        display: block;
        left: 0;
        top: -1px;

      }
      &.active {
        .title-accordion::before {
          background-image: url('{{ "sub1.png" | asset_url }}');
        }
      }
    }
  }
}

