/***********************************************************************
            Banners         
************************************************************************/


.banner-box {
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  @extend %text-up;
}


// NOTE: addition class
%label_title-banner-box{
  border-radius: 4px;
  color: $color_white;
  display: inline-block;
  font-size: 30px;
}

.title-banner-box-yellow {
  margin: 0;

  > span {
    @extend %label_title-banner-box;
    // background: $color_candlelight none repeat scroll 0 0;
    @extend %jv-bg-color-secondary-inverse;
    padding: 0 10px 3px;
  }
}

.title-banner-box-blue {
  margin: 0;

  > span {
    @extend %label_title-banner-box;
    @extend %jv-bg-color-secondary;
    // background: $color_currious-blue-darker none repeat scroll 0 0;
    padding: 0 10px 4px;
  }
}

.title-banner-box-black {
  font-size: 24px;
  margin: 0;
}

//a contain image
.banner-box-link {
  display: block;
  overflow: hidden;
  position: relative;
}

.banner-box {
  .zoom-img,
  .banner-box-link img {
    width: 100%;
    @extend %jv-transition-easeout;
  }
  &:hover {
    .zoom-img,
    .banner-box-link img {
      @extend %jv-transform-scale-115;
    }
  }
}

//Banner box style 1 -----------------

.banner-style1 {
  .banner-box-info {
    left: 30px;
    top: 200px;
    position: absolute;
    z-index: 10;
  }
  .desc {
    letter-spacing: 5px;
    margin-top: 20px;
  }
  @include p-el(before, 0, 0) {
    top: 0;
    left: 0;
    background: rgba($color_shark, 0.1);
    z-index: 9;
    @extend %jv-transition-easeout;
  }
  
  @include p-el(after, 0, 0) {
    bottom: 0;
    right: 0;
    background: rgba($color_shark, 0.1);
    z-index: 9;
    @extend %jv-transition-easeout;
  }

  &:hover{
    &:after {
      width: 100%;
      height: 100%;
    }
    &:before {
      width: 100%;
      height: 100%;
    }
  }
}

.banner-box.banner-style1 {
  &.box-center {
    margin: 0 -7px;
  }
  &.box-left {
    margin-right: -14px;
  }
  &.box-right {
    margin-left: -14px;
  }
}

//Banner box style 2 -----------------

.banner-style2 {
  .banner-box-title.banner-box-title-blue {
    
    @extend %jv-bg-color-secondary;
    
    margin: 0;
    padding: 2px 15px 5px;
    color: $color_white;
    @extend %text-center;
    @extend %jv-transition-easeout;
  }

  .title-banner-box-blue {
    font-size: 48px;
    
    @extend %jv-color-secondary;
    margin: 0;
  }

  &:hover {
    .banner-box-title.banner-box-title-blue {
      // background: $color_candlelight;
      @extend %jv-bg-color-secondary-inverse;
    }
    .banner-box-info {
      opacity: 1;
    }
  }

  .banner-box-info {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    z-index: 10;
    opacity: 0;
    @extend %text-center;
    @extend %jv-transition-easeout;
  }

}

//Banner box style 3 -----------------

.title-banner-box {
  font-size: 18px;
  margin: 0;

  &.style1 {
    color: $color_mine-shaft;
  }
  &.style2 {
    @extend %jv-color-secondary;
  }
}


.col-left .banner-box.banner-style3{
    margin-right: -10px;
}
.col-right .banner-box.banner-style3{
    margin-left: -10px;
}


.banner-box.banner-style3 {
  margin-bottom: 10px;
  overflow: visible;
  @extend %jv-transition-easeout;

  .banner-box-info {
    background: $color_white none repeat scroll 0 0;
    box-shadow: 2px 3px 5px 0 rgba($color_black, 0.2);
    left: 0;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    z-index: 10;
    padding: 25px 30px;
    @extend %text-up;

    @include p-el(before, 0, 0) {
      border-right: 36px solid transparent;
      border-top-width: 36px;
      border-top-style: solid;
      @extend %jv-border-top-color-secondary;
      left: 0;
      top: 0;
      @extend %jv-transition-easeout;
    }

    @include p-el(after, 0, 0) {
      border-right: 36px solid transparent;
      border-top: 36px solid $color_white;
      left: 36px;
      top: 0;
      @extend %jv-transition-easeout;
      opacity: 0;
    }
   
  }

  &:hover {
    box-shadow: 4px 4px 4px -1px rgba($color_black, 0.1);

    .banner-box-info:after {
      opacity: 1;
      left: 0;
    }
    .banner-box-info:before {
      left: -2px;
    }
    .btn-link-hidden {
      opacity: 1;
      @extend %jv-transform-scale-1;
    }
  }
}


// banner-adv-product
.banner-adv-product {
  margin: 50px 0 20px;
}

/*Advert*/
.advert {
  margin-top: 10px;
}

.item-advert {
  position: relative;
  overflow: hidden;

  &.left {
    margin-right: -10px;
  }
  &.right {
    margin-left: -10px;
  }

  .thumb-adv img {
    @extend %jv-transition-easeout;
  }

  &:hover .thumb-adv img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    
    @extend %jv-transform-scale-115;
  }

}


.text-adv {
  background: rgba(246, 246, 246, 0.65) none repeat scroll 0 0;
  border-bottom: 1px solid rgba($color_black, 0.1);
  border-top: 1px solid rgba($color_black, 0.1);
  bottom: 0;
  height: 215px;
  left: 0;
  margin: auto;
  max-width: 370px;
  padding: 45px 0;
  position: absolute;
  right: 0;
  @extend %text-center;
  top: 0;
  width: 100%;

  .btn-link-default {
    margin-top: 25px;
  }
}


/*Featured*/
.sub-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  @extend %text-up;
}
.title {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  @extend %text-up;
}


.desc-title {
  color: $color_dusty-gray;
  @extend %text-up;
}

.leading-text-adv {
  bottom: 0;
  color: $color_white;
  height: 85px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  @extend %text-center;
  @extend %text-up;
  top: 0;
  width: 100%;
}

.item-text-adv {
  top: 100%;
  color: $color_white;
  font-size: 30px;
  left: 100%;
  margin: 16px 0 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  font-weight: 700;
  @extend %text-up;
  @extend %text-center;
  @extend %jv-transition-easeout;
  z-index: 999;
}

//NOTE:home4
.item-box-adv {
  .btn-link-default span {
    position: absolute;
    width: 130px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    right: 0;
    bottom: 0;
    text-decoration: underline;
    @extend %text-center;
    @extend %jv-transition-easeout;

    &:hover{
      text-decoration: none;
    }
  }
  
  &:hover{
    .btn-link-default span {
      width: 100%;
    }
    .item-text-adv {
      opacity: 1;
      top: 50%;
      left: 0;
      margin: -16px 0 0;
    }
    .btn-link-default {
      background: transparent;
      color: $color_white;
      background: rgba(27, 29, 31, 0.5);
      width: 100%;
      height: 100%;
    }

  }
}

/*Advert*/
.product-advert {
  margin-top: 40px;
}

.leading-box-adv {
  color: $color_white;
}

.product-advert .col-lg-3.col-md-3.col-sm-6.col-xs-12 {
  padding: 0;
}

.product-thumb-link {
  display: block;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    @extend %jv-transition-easeout;
  }
}

.product-box-adv {
  overflow: hidden;
  position: relative;

  .btn-link-default {
    position: absolute;
    bottom: 0;
    width: 130px;
    right: 0;
    @extend %text-center;
    @extend %jv-transition-easeout;
  }

  &:hover img {
    
    @extend %jv-transform-scale-12;
  }
}



@media (max-width: 767px){
  .item-advert.left {
      margin-right: 0;
      margin-bottom: 30px;
  }

  .banner-box.banner-style1.box-right{
    margin-left: 0;
  }
  .banner-box.banner-style1.box-center{
    margin: 0;
  }

  .about-box{
    height: auto;
  }

  // banner about
  .about-big-text{
    left: 0;
    line-height: 30px;
    font-size: 30px;
  }
  .about-big-text.about-icon{
    left: 0;
    font-size: 30px;
  }

  //banner alt - catalog
  .catalog {
    background-attachment: scroll;
    background-position: left center !important;
  }
  .content-catelog {
    padding-left: 20px;
  }

}