/*
Error: Invalid CSS after "...x-width: 360px)": expected "{", was ".top-left .lang..."
        on line 195 of D:/myshop/shop/sass/_bigc-responsive.scss
        from line 162 of D:/myshop/shop/sass/bigc-include.scss

190:   }
191: }
192: 
193: 
194: @media (max-width: 360px)
195: .top-left .language-link, .top-left .currency-link {
196:     padding: 0 40px 0 10px;
197: }

Backtrace:
D:/myshop/shop/sass/_bigc-responsive.scss:195
D:/myshop/shop/sass/bigc-include.scss:162
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1166:in `expected'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:401:in `media_directive'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:219:in `special_directive'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:194:in `directive'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
org/jruby/RubyArray.java:2412:in `map'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `visit_children'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:268:in `render'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
org/jruby/RubyMethod.java:128:in `call'
file:/D:/Download/soft/compass.app/compass-app.jar!/hook/compass_patch.rb:108:in `update_stylesheet'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
D:/Download/soft/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `watch'
org/jruby/RubyProc.java:271:in `call'
D:/Download/soft/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:252:in `on_change'
D:/Download/soft/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:290:in `initialize_adapter'
org/jruby/RubyProc.java:271:in `call'
D:/Download/soft/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
D:/Download/soft/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapter.rb:297:in `start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...x-width: 360px)\": expected \"{\", was \".top-left .lang...\"\A         on line 195 of D:/myshop/shop/sass/_bigc-responsive.scss\A         from line 162 of D:/myshop/shop/sass/bigc-include.scss\A \A 190:   }\A 191: }\A 192: \A 193: \A 194: @media (max-width: 360px)\A 195: .top-left .language-link, .top-left .currency-link {\A 196:     padding: 0 40px 0 10px;\A 197: }"; }
