<main class="main-content">

  <div class="common-static-header">
    <div class="container">
      <h1 ><span>{{ page.title }}</span></h1>
    </div>
  </div>

<div class="container">
  {% include 'breadcrumb' %}
</div>

<section role="main" class="wrapper-content full-content">
<div class="container">
  {{ page.content }}
</div>
</section>
</main>