<main class="main-content content-element">
<div class="container">
  {% include 'breadcrumb' %}

	<div class="box-header-intro">
		<label>{{page.title}}</label>	
    {% if page.content contains '[jvsubheading]' %}
        {% assign sub = page.content | split:'[/jvsubheading]' | first %}
		{% assign sub = sub | split:'[jvsubheading]' | last %}

        {% assign des = page.content | split:'[/jvsubheading]' | last %}
    	{{sub}}
    {% else %}
		{%assign des = page.content %}
	{% endif %}
	</div>
	{{des}} 
	
	<h2 id="pos1">SC: Banner 1</h2>
	<p class="info">size: 384 x 581</p>
	{%include 'jv-sc-banner-1' %}
	
	<h2 id="pos2">SC: Banner 2</h2>
	<p class="info">size: 370 x 130</p>
	{%include 'jv-sc-banner-2' %}

	<h2 id="pos3">SC: Banner 3</h2>
	<p class="info">size: 580 x 470</p>
	{%include 'jv-sc-banner-3' %}

	<h2 id="pos4">SC: Banner 4</h2>
	<p class="info">size: 580 x 500</p>
	{%include 'jv-sc-banner-4' %}

	<h2 id="pos5">SC: Banner 5</h2>
	<p class="info">size: 570 x 344</p>
	{%include 'jv-sc-banner-5' %}
	
	{%comment%}
	<h2 id="pos7">SC: Banner 6: about</h2>
	{%include 'jv-sc-banner-about' %}
	{%endcomment%}
	
</div>

<h2 id="pos6">SC: Banner 7 : product-adv</h2>
<p class="info">size: 570 x 344</p>
	{%include 'jv-sc-banner-product-adv' %}
<div class="container" id="pos8">
	<h2>SC: Banner 8:  Catalog</h2></div>
	<div class="info">size: 1038 x 395</div>
	{%include 'jv-sc-banner-catalog' %}

</main>