<main class="main-content content-element">
	<div class="container">
	  {% include 'breadcrumb' %}

		<div class="box-header-intro">
			<label>{{page.title}}</label>	
	    {% if page.content contains '[jvsubheading]' %}
	        {% assign sub = page.content | split:'[/jvsubheading]' | first %}
			{% assign sub = sub | split:'[jvsubheading]' | last %}

	        {% assign des = page.content | split:'[/jvsubheading]' | last %}
	    	{{sub}}
	    {% else %}
			{%assign des = page.content %}
		{% endif %}
		</div>
		{{des}} 

		<h2>jv-sc-testimonials-1</h2>
		{%include 'jv-sc-testimonials-1'  with heading_title: 'Demo title', heading_subtitle: 'Demo stitle', heading_enable:true, heading_style: 'hr_center'  %}

		<h2>jv-sc-testimonials-2</h2>
		{%include 'jv-sc-testimonials-2'  with heading_title: 'Demo title', heading_subtitle: 'Demo stitle', heading_enable:true, heading_style: 'hr_center'  %}
		
		

		<div class="mt-50">
			<h2>jv-sc-logopartner</h2>
			{%include 'jv-sc-logopartner'  with heading_title: 'Demo title', heading_subtitle: 'Demo stitle', heading_enable:true, heading_style: 'hr_center'  %}
		</div>

	</div>
	
	<h2>jv-sc-testimonials-3</h2>
		{%include 'jv-sc-testimonials-3'  with heading_title: 'Demo title', heading_subtitle: 'Demo stitle', heading_enable:true  %}

</main>