<main class="main-content content-element">
	<div class="container">
	  {% include 'breadcrumb' %}

		<div class="box-header-intro">
			<label>{{page.title}}</label>	
	    {% if page.content contains '[jvsubheading]' %}
	        {% assign sub = page.content | split:'[/jvsubheading]' | first %}
			{% assign sub = sub | split:'[jvsubheading]' | last %}

	        {% assign des = page.content | split:'[/jvsubheading]' | last %}
	    	{{sub}}
	    {% else %}
			{%assign des = page.content %}
		{% endif %}
		</div>
		{{des}} 
		

		<div class="mt-50">{% include 'jv-sub-heading-box' with heading_enable:true, heading_style: 'border',heading_title:'Heading title', heading_subtitle:'border' %}</div>
		<div class="mt-50">{% include 'jv-sub-heading-box' with heading_enable:true, heading_style: 'hr_left', heading_title:'Heading title', heading_subtitle:'hr left' %}</div>
		<div class="mt-50">{% include 'jv-sub-heading-box' with heading_enable:true, heading_style: 'hr_center', heading_title:'Heading title', heading_subtitle:'hr center' %}</div>
		<div class="mt-50">{% include 'jv-sub-heading-box' with heading_enable:true, heading_style: 'background_center' , heading_title:'Heading title', heading_subtitle:'background center'%}</div>
		<div class="mt-50">{% include 'jv-sub-heading-box' with heading_enable:true, heading_style: 'center' , heading_title:'Heading title', heading_subtitle:'center'%}</div>
		<div class="mt-50">{% include 'jv-sub-heading-box' with heading_enable:true, heading_style: 'text-left' , heading_title:'Heading title', heading_subtitle:'Default'%}</div>

		
	</div>

</main>