<main class="main-content ">
	<div class="container">
		{% include 'breadcrumb' %}
		{%include 'jv-sc-banner-about' %}
		
		<div class="about-content">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="about-intro">
						{{ page.content }}
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<!-- <div class="post-slider">
							<div class="wrap-item">
							</div>
					</div> -->
					{% include 'jv-sc-team-rectang' %}
					
				</div>
				
			</div>
		</div>
		<div class="customer-saying">
			<h2>What people are saying</h2>
			{% include 'jv-sc-testimonials-1' %}
		</div>
		{%include 'jv-sc-newsletter' %}
	</div>

</main>