<main class="main-content content-element">
	<div class="container">
	  {% include 'breadcrumb' %}

		<div class="box-header-intro">
			<label>{{page.title}}</label>	
	    {% if page.content contains '[jvsubheading]' %}
	        {% assign sub = page.content | split:'[/jvsubheading]' | first %}
			{% assign sub = sub | split:'[jvsubheading]' | last %}

	        {% assign des = page.content | split:'[/jvsubheading]' | last %}
	    	{{sub}}
	    {% else %}
			{%assign des = page.content %}
		{% endif %}
		</div>
		{{des}} 

 		
 		<h2>product-tabs-grid</h2>
	  {%include 'jv-sc-product-tabs-grid' %} 

	   <h2>product-tabs-grid inline</h2>
	  {% include 'jv-sc-product-tabs-grid--inline'%}
	  
	  <h2>slider-grid</h2>
	  {%include 'jv-sc-product-slider-grid' %}
	  
	  <h2>grid-simple style 1</h2>
	  {%include 'jv-sc-product-tabs-grid-simple' with tab_style:'1',product_paginav:true, product_loadmore:false, product_desc_enable: false %}
	  
	  <h2>grid-simple style 2</h2>
	  {%include 'jv-sc-product-tabs-grid-simple' with tab_style:'2',product_paginav:false, product_loadmore:true, product_desc_enable: true %}
	  
	  <h2>grid-simple style 3</h2>
	  {%include 'jv-sc-product-tabs-grid-simple' with tab_style:'3',product_paginav:false, product_loadmore:true, product_desc_enable: false %}


		
	</div>
	<div class="container"> <h2>slider-single</h2> </div>
	{%include 'jv-sc-product-slider-single' %} 
</main>