<main class="main-content ">
	<div class="container">
		{% include 'breadcrumb' %}
		{%include 'jv-sc-banner-about' %}
		<div class="about-content">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="about-intro">
						{{ page.content }}
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="slider-owl-2-items slider-btn-shadow">
						{% include 'jv-sc-team-rectang' with class_item: 'col-md-12 col-sm-12 col-xs-12', in_row : false %}
					</div>
					
				</div>
				
			</div>
		</div>
		<div class="customer-saying-wrap">
			<h2>What people are saying</h2>
			{% include 'jv-sc-testimonials-1' %}
		</div>
	</div>
	<div class="mt-70">
	{%include 'jv-sc-newsletter' with form_id: 'aboutpage_' %}
	</div>
</main>