<main class="main-content content-element">
	<div class="container">
	  {% include 'breadcrumb' %}

		<div class="box-header-intro">
			<label>{{page.title}}</label>	
	    {% if page.content contains '[jvsubheading]' %}
	        {% assign sub = page.content | split:'[/jvsubheading]' | first %}
			{% assign sub = sub | split:'[jvsubheading]' | last %}

	        {% assign des = page.content | split:'[/jvsubheading]' | last %}
	    	{{sub}}
	    {% else %}
			{%assign des = page.content %}
		{% endif %}
		</div>
		{{des}} 

		<div class="mt-50" id="pos1">
			<h2>jv-sc-brand-people</h2>
			{%include 'jv-sc-brand-people'  with heading_title: 'Demo title', heading_subtitle: 'Demo stitle', heading_enable:true, heading_style: 'hr_center'  %}
		</div>

		<div class="mt-50" id="pos2">
			<h2>jv-sc-logopartner</h2>
			{%include 'jv-sc-logopartner'  with heading_title: 'Demo title', heading_subtitle: 'Demo stitle', heading_enable:true, heading_style: 'hr_center'  %}
		</div>
	</div>
</main>