<main class="main-content content-element">
	<div class="container">
	  {% include 'breadcrumb' %}

		<div class="box-header-intro">
			<label>{{page.title}}</label>	
	    {% if page.content contains '[jvsubheading]' %}
	        {% assign sub = page.content | split:'[/jvsubheading]' | first %}
			{% assign sub = sub | split:'[jvsubheading]' | last %}

	        {% assign des = page.content | split:'[/jvsubheading]' | last %}
	    	{{sub}}
	    {% else %}
			{%assign des = page.content %}
		{% endif %}
		</div>
		{{des}} 



		<h2 class="mb-50">SC: B1 Blog style 1</h2>
	  {%include 'jv-sc-blog-grid-slider' with heading_title: 'Demo Title', heading_subtitle: 'Demo SubTitle', heading_enable:true, heading_style:'hr_center' %} 

	  <h2 class="mb-50">SC: B2 Blog style 2 - Masonry</h2>
	  {%include 'jv-sc-blog-masonry-slider' with heading_title: 'Demo Title', heading_subtitle: 'Demo SubTitle', heading_enable:true, heading_style:'hr_center'  %} 
	  
	  <!-- ENDHERE -->

		
		<h2 class="mb-50">SC: B2 Blog style 3 - Short (Used in Sidebar)</h2>
	  <div class="row">
	  	<div class="col-md-12">	{% include 'jv-sc-blog-mini' %}</div>
	  </div> 
		
	</div>
	
	<div class="container"> <h2 class="mb-50">SC: B2 Blog style 4</h2> </div>
	{%include 'jv-sc-blog-alt' with heading_title: 'Demo Title', heading_subtitle: 'Demo SubTitle', heading_enable:true, heading_style:'background_center'  %} 
	
	<div class="container"><h2 class="mb-50">SC: B2 Blog style 5</h2></div>
	{% include 'jv-sc-blog-single-slider' with heading_title: 'Demo Title', heading_subtitle: 'Demo SubTitle', heading_enable:true %}
	

</main>