<main class="main-content ">
	<div class="container">
		{% include 'breadcrumb' %}
		{%include 'jv-sc-banner-about' %}
		<div class="about-content">
			<div class="row">
				<div class="col-sm-12 col-xs-12 {%if settings.about_page_team_enable%} col-md-6{%else%} col-md-12{%endif%}">
					<div class="about-intro">
						{{ page.content }}
					</div>
				</div>
				{%if settings.about_page_team_enable%}
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="slider-owl-2-items slider-btn-shadow">
						{% include 'jv-sc-team-rectang' with class_item: 'col-md-12 col-sm-12 col-xs-12', in_row : false %}
					</div>
				</div>
				{%endif %}
				
			</div>
		</div>
		{%if settings.about_page_testi_enable%}
		<div class="customer-saying-wrap mt-30 mb-30">
			<h2>What people are saying</h2>
			{% include 'jv-sc-testimonials-1' %}
		</div>
		{%endif%}
	</div>
</main>