<main class="main-content content-element">
	<div class="container">
	  {% include 'breadcrumb' %}

		<div class="box-header-intro">
			<label>{{page.title}}</label>	
	    {% if page.content contains '[jvsubheading]' %}
	        {% assign sub = page.content | split:'[/jvsubheading]' | first %}
			{% assign sub = sub | split:'[jvsubheading]' | last %}

	        {% assign des = page.content | split:'[/jvsubheading]' | last %}
	    	{{sub}}
	    {% else %}
			{%assign des = page.content %}
		{% endif %}
		</div>
		{{des}} 



		<h2>jv-sc-blog-grid-slider</h2>
	  {%include 'jv-sc-blog-grid-slider' %} 

	  <h2>jv-sc-blog-masonry-slider</h2>


	  
	  {%include 'jv-sc-blog-masonry-slider' %} 
	  
	  <!-- ENDHERE -->

		
		<h2>jv-sc-blog-mini</h2>
	  <div class="row">
	  	<div class="col-md-12">	{% include 'jv-sc-blog-mini' %}</div>
	  </div> 

		
	</div>
	
	<div class="container"> <h2>jv-sc-blog-alt</h2> </div>
	{%include 'jv-sc-blog-alt' %} 
	
	<div class="container"><h2>jv-sc-blog-single-slider</h2></div>
	{% include 'jv-sc-blog-single-slider' %}
	

</main>