<main class="main-content search-result">

  <div class="header-static">
    <div class="parallax-bg" data-stellar-background-ratio="0.25" ></div>

       <div class="container text-center">
    {% if search.results_count == 0 %}      
          <h1 class="h3" ><span>{{ 'general.search.no_results_html' | t: terms: search.terms }}</span></h1>
     {% else %}   
          <h1 class="h3" ><span>{{ 'general.search.results_for_html' | t: terms: search.terms }}</span></h1>
    {% endif %}   
      <div class="search-form7 ">
        {% include 'search-bar' %}
      </div>
      
    </div>  
  </div>


  <section role="main" class="wrapper-content full-content pt-70">
    <div class="container">

      {% assign grid_results = settings.search_result_view_display %}

      {% assign respond_js_secret_key = shop.domain | md5 %}
      {% unless search.terms == respond_js_secret_key %}

        {% if search.performed %}

          {% if settings.search_result_number_products_per_page != blank %}
            {% assign product_per_page = settings.search_result_number_products_per_page %}
          {% else %}
            {% assign product_per_page = 9 %}
          {% endif %}

          {% paginate search.results by product_per_page %}

            {% if search.results_count != 0 %}
              {% if grid_results == "list" %}
                
                <div class="product-list">
                {% for item in search.results %}
                  {% comment %}
                  {% include 'search-result' %}
                  {% endcomment %}
                  
                  {%assign product = item %}
                  {%include 'product-list-item' %}
                
                {% endfor %}
                  </div>

                {% else %}

                  <div class="row div-product-grid-item">
                    {% for item in search.results %}
                      {% assign grid_item_width = 'col-md-4 col-sm-6 col-xs-12' %}
                        {% comment %}
                        {% include 'search-result-grid' %}
                        {%endcomment %}
                      {%assign product = item %}
                      {%include 'product-grid-item' %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endif %}


              {% if paginate.pages > 1 %}
                <div class="pagination">
                  {% include 'pagination-1' %}
                </div>
            {% endif %}

          {% endpaginate %}

          {% else %}

            {% comment %}
            If search.performed is false, someone either accessed the page without the q parameter, or it was blank.
            {% endcomment %}
            <h2 class="text-center">{{ 'general.search.title' | t }}</h2>

        {% endif %}

        {% else %}
        {% include 'respond' %}
        {% layout none %}
      {% endunless %}

    </div>  
  </section>

</main>  



